<html>

<head>
  <title>
  </title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>



  <div class="clearfix">
    <!-- <div class="col-lg-12 col-xs-12"> -->
    <ol class="breadcrumb" style="list-style: none;
background-color: #f5f5f5;
border-radius: 4px; margin-bottom:0px;">

      <li (click)="refresh()" class="breadcrumb-item active">Customer Wallet</li>

      <div class="pull-right">
        <button class="btn btn-primary btn-sm" (click)="backToUsers()" id="btn-back">Back to Coin</button>
      </div>

      <div class="form-group  pull-right col-md-2" style=" padding-left: 100px; margin-bottom:0px;">

        <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#addCustomerWallet"
          id="myBtn" style="color:  black; padding: 0.3rem 0.60rem; margin-top: 3px;">Add
          Coin
        </button>
      </div>





    </ol>

    <!-- </div> -->
    <div class="col-lg-12 col-xs-12 bottom-15">


      <div class="tab-content top">
        <div class="tab-pane active" id="CoinType1">
          <div class="modal-body" style="height: 500px;">


            <form name="myForm" id="myForm">
              <div class="row " id="row">
                <div class="well  well-lg" id="form-div">

                  <!-- <div class="form-group  col-md-4">
                            <label>Search</label>
                             <input type="text" class="form-control form-control-sm" #mySearchInput  (keyup)="setActiveText(mySearchInput.value)"  placeholder="Seach by Txn Type"/> 
                              
                        </div> -->
                  <div class="form-group  col-md-3">
                    <label> Txn Type </label>
                    <select class="form-control form-control-md" #setTxnInput (change)="setTxnType(setTxnInput.value)"
                      style="height:  34px;">
                      <option value="All">All</option>
                      <option value="DEBIT">DEBIT</option>
                      <option value="CREDIT">CREDIT</option>
                      <!-- <option value="PURCHASE">PURCHASE</option> -->
                    </select>
                  </div>
                  <div class="form-group  col-md-3">
                    <label>Coin Type </label>
                    <select class="form-control form-control-md" #setCoinType (change)="setCoinTitle(setCoinType.value)"
                      style="height:  34px;">
                      <option value="All">All</option>
                      <option *ngFor="let coinname of coinData" [ngValue]="coinname.coinTitle">{{coinname.coinTitle}}
                      </option>

                    </select>
                  </div>
                  <div class="form-group  col-md-3">
                    <label> From</label>

                    <my-date-picker id="txtUpdateDate1" (dateChanged)="setActiveFromDate($event.formatted)"
                      name="mydate" [(ngModel)]="model" formControlName="myDate"></my-date-picker>
                  </div>
                  <div class="form-group  col-md-3">
                    <label> To </label>
                    <my-date-picker id="txtUpdateDate2" (dateChanged)="setActiveToDate($event.formatted)" name="mydate"
                      [(ngModel)]="model" formControlName="myDate"></my-date-picker>
                  </div>

                </div>
              </div>
            </form>


            <div class="clearfix">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">
                  <div widget class="card">
                    <div class="table-responsive" id="table-responsive">
                      <table class="table table-bordered hover">
                        <thead>
                          <tr>

                            <th style="width:3% ">#</th>
                            <th style="width:4% "> TXN TYPE </th>
                            <th style="width:7% "> COIN TYPE </th>
                            <th style="width:3% ">COMMISIION </th>
                            <th style="width:7% ">COIN AMONT </th>
                            <th style="width:4% "> CURRENCY</th>
                            <th style="width:4% ">CURRENCY SYMBOL </th>
                            <th style="width:4% ">PAYMENT TYPE </th>
                            <th style="width:10% ">PAYMENT TXN ID </th>
                            <th style="width:10% ">TRANSACTION DATE </th>
                            <!-- <th style="width:10% ">TRANSACTION TIME </th> -->
                            <!-- <th style="width:10% ">DATE </th> -->
                            <th style="width:5% ">COIN OPENING BALANCE </th>
                            <th style="width:5% ">COIN CLOSING BALANCE </th>
                            <th style="width:5% ">INITIATED BY </th>
                            <th style="width:12% ">Trigger</th>
                            <th style="width:9% ">ADMIN NOTE</th>





                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngIf="!coinWallet">
                            <td colspan="16">No Data Found</td>
                          </tr>
                          <tr
                            *ngFor="let coin of coinWallet  | paginate: {itemsPerPage: '10', currentPage:page, id: 'a'}; let i = index">

                            <td>{{i+1}}</td>

                            <td>{{coin.txnType}}</td>
                            <td>{{coin.coinType}}</td>
                            <td>{{coin.cost}}</td>
                            <td>{{coin.coinAmount}}</td>
                            <td *ngIf="coin.currency ==null">N/A</td>
                            <td *ngIf="coin.currency !=null">{{coin.currency }}</td>
                            <td *ngIf="coin.currencySymbol ==null">N/A</td>
                            <td *ngIf="coin.currencySymbol !=null">{{coin.currencySymbol }}</td>
                            <td *ngIf="coin.paymentType ==null">N/A</td>
                            <td *ngIf="coin.paymentType !=null">{{coin.paymentType }}</td>
                            <td>{{coin.txnId}}</td>
                            <td>{{coin.transctionDate | date:"short"}}</td>
                            <!-- <td>{{coin.transctionTime }}</td> 
                             <td>{{coin.timestamp | date:"short"}}</td>  -->
                            <td>{{coin.coinOpeingBalance}}</td>
                            <td>{{coin.coinClosingBalance}}</td>
                            <td>{{coin.initatedBy}}</td>
                            <td>{{coin.trigger}}</td>
                            <td *ngIf="!coin.note">N/A</td>
                            <td *ngIf="coin.note">{{coin.note }}</td>
                          </tr>
                        </tbody>
                      </table>
                      <pagination-controls *ngIf="coinWallet" (pageChange)="page = $event" id="a">
                      </pagination-controls>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="addCustomerWallet" class="modal  modal-custom fade" role="dialog">
      <div class=" ">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h5 class="modal-title">Add Coin</h5>
            </div>
            <form [formGroup]="addCustWallet" (ngSubmit)="submitForm(addCustWallet)">
              <div class="modal-body col-md-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">
                  <div class="form-group  col-lg-6">
                    <label> Txn Type
                      <sup>*</sup>
                    </label>
                    <select class="form-control form-control-md" [formControl]="addCustWallet.controls['txnType']"
                      [ngModel]="addCustWallet.txnType" style="height:  34px;border-radius:22px ">
                      <option value="" selected disabled hidden>--Choose Txn Typ--</option>
                      <option value="DEBIT">DEBIT</option>
                      <option value="CREDIT">CREDIT</option>
                    </select>
                  </div>
                  <div class="form-group  col-lg-6">
                    <label>Coin Amount
                      <sup>*</sup>
                    </label>
                    <input required type="text" class="form-control mb-2"
                      [formControl]="addCustWallet.controls['coinAmount']" [ngModel]="addCustWallet.coinAmount"
                      placeholder="coinAmount">
                    <div
                      *ngIf="addCustWallet.controls['coinAmount'].errors && (addCustWallet.controls['coinAmount'].dirty || addCustWallet.controls['coinAmount'].touched)"
                      class="alert alert-danger">
                      <div [hidden]="!addCustWallet.controls['coinAmount'].errors.required">
                        CoinAmount is Required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10 required">
                  <div class="form-group required col-xs-12 required ">
                    <!-- <label class="form-group">Note
                      <sup>*</sup>
                    </label>
                     <input required type="text" class="form-control mb-2" [formControl]="addCustWallet.controls['trigger']" [ngModel]="addCustWallet.trigger"
                      placeholder="Note for User"> -->
                    <div class="form-group">
                      <label for="comment">Note:</label>
                      <textarea class="form-control" [formControl]="addCustWallet.controls['note']"
                        [ngModel]="addCustWallet.note" rows="5" id="comment"></textarea>
                    </div>
                    <div
                      *ngIf="addCustWallet.controls['note'].errors && (addCustWallet.controls['note'].dirty || addCustWallet.controls['note'].touched)"
                      class="alert alert-danger">
                      <div [hidden]="!addCustWallet.controls['note'].errors.required">
                        Admin Note is Required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="{{erro}}" role="alert" *ngIf="error">{{errorMessage}}</div>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-sm btn-style" [disabled]="!addCustWallet.valid"
                  id="save-Btn">Save</button>
                <button type="button" class="btn  btn-style cancel-button" data-dismiss="modal" id="cancel-Btn"
                  (click)="resetForm()">Cancel</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>