<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="assets/icon/favicon.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.metadata.description %>">
    <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">

</head>

<body>
    <app>
        <div class="spin-outher">
            <div class="spin-container">
                <div class="spin-inner">
                    <div class="spin-cube-grid">
                        <div class="spin-cube spin-cube1" style="background: #009688;"></div>
                        <div class="spin-cube spin-cube2" style="background: #ff9800;"></div>
                        <div class="spin-cube spin-cube3" style="background: #1de9b6;"></div>
                        <div class="spin-cube spin-cube4" style="background: #ff9800;"></div>
                        <div class="spin-cube spin-cube5" style="background: #ffc107;"></div>
                        <div class="spin-cube spin-cube6" style="background: #4caf50;"></div>
                        <div class="spin-cube spin-cube7" style="background: #1de9b6;"></div>
                        <div class="spin-cube spin-cube8" style="background: #4caf50;"></div>
                        <div class="spin-cube spin-cube9" style="background: #009688;"></div>
                    </div>
                </div>
            </div>
        </div>
    </app>
    <script data-pace-options='{ "target": ".main-wrapper", "ghostTime": 1000 }'></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.bundle.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.5.11/full/ckeditor.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGJx9KAdmmJI2Tkp14Z3ZR0WGxwj1oA3M&libraries=places"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css">
    <!-- <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=visualization,places,geometry"></script> -->



</body>

</html>