<html>

<head>
    <title>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
    </style>

</head>

<body>
    <div class="clearfix">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Campaign</li>

        </ol>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10" style="padding-top: 20px;">
            <div widget class="card" style="margin-left: -3px;
    margin-right: -3px;">


                <div class="col-xs-3 pr-0 zeroPadding">

                    <select id="rowpage" [(ngModel)]="rowsOnPage" (change)="ngOnInit();" class="select-Box">
                        <option [ngValue]="10">10</option>
                        <option [ngValue]="20">20</option>
                        <option [ngValue]="40">40</option>
                        <option [ngValue]="100">100</option>
                    </select>

                    <label class="label-control">Records Per Page</label>
                </div>

                <div class="col-md-9 zeroPadding" style="text-align: right">

                    <button class="btn btn-primary CampBtn" (click)="newCompaigns()" title="new Campaign"> Launch New
                        Campaign
                    </button>

                </div>

                <div class="table-responsive" id="table-responsive">
                    <table class="table table-bordered hover">
                        <thead>

                            <tr>

                                <th>#</th>
                                <th>START DATE</th>
                                <th>END DATE</th>
                                <th>DATE</th>
                                <th>COMPAIGN TITLE</th>
                                <th> CITY</th>
                                <th>COUNTRY</th>
                                <th>NO OF TARGETED USERS</th>
                                <!-- <th>VIEWS</th> -->
                                <!-- <th>CLICKED</th> -->
                                <th>VIEW TEMPLATE</th>
                                <th>ACTION</th>

                            </tr>
                        </thead>
                        <td *ngIf="nosearchdata">
                            <div class="card-block widget-body" *ngFor="let user of users">
                                No data aavilable
                            </div>
                        </td>
                        <tbody>

                            <tr *ngIf="user == 'null'">
                                <td colspan="13">No Data Found</td>
                            </tr>

                            <tr *ngFor="let user of users   | paginate: {itemsPerPage: rowsOnPage, currentPage:p,totalItems:totalusers }; let i = index"
                                [attr.data-index]="i">
                                <td>{{i + 1}}</td>
                                <td> {{user.startDate * 1000 | date}}</td>
                                <td> {{user.endDate * 1000 | date}}</td>
                                <td> {{user.campainCreateOn | date}}</td>
                                <td> {{user.campainTitle}}</td>
                                <td> {{user.city}}</td>
                                <td> {{user.country}}</td>
                                <td id="btn-styles" *ngIf="user.noOfTargetedUsers == 0 "> {{user.noOfTargetedUsers}}
                                </td>
                                <td id="btn-styles" *ngIf="user.noOfTargetedUsers != 0">
                                    <button type="button" class="btn-cust fa-2x" (click)="targetedUsers(user._id)"
                                        title="TargetedUsers" id="Link-BtnStyle">
                                        {{user.noOfTargetedUsers}} </button>
                                </td>
                                <!-- <td id="btn-styles" *ngIf="user.views == 0 "> {{user.views}}</td> -->
                                <!-- <td id="btn-styles" *ngIf="user.views != 0">
                                    <button type="button" class="btn-cust fa-2x" (click)="views(user._id)" title="views"
                                        id="Link-BtnStyle">
                                        {{user.views}} </button>
                                </td>
                                <td id="btn-styles" *ngIf="user.clicked == 0 "> {{user.clicked}}</td>
                                <td id="btn-styles" *ngIf="user.clicked != 0">
                                    <button type="button" class="btn-cust fa-2x" (click)="clicked(user._id)"
                                        title="clicked" id="Link-BtnStyle">
                                        {{user.clicked}} </button>
                                </td> -->
                                <td id="btn-icons">
                                    <button type="button" class="btn-cust fa-2x" style="color:  darkturquoise;"
                                        (click)="CompaignVisitors(user._id)" title="Visitors">
                                        <i class="fa fa-eye fa-2x"></i>
                                    </button>
                                </td>
                                <td id="btn-icons">
                                    <div class="zoom">
                                        <button type="button" class="btn btn-info btn-md" id="delete-Btn"
                                            title="Delete Campaign" (click)="Deleteuser(user._id)">
                                            <i class="ion-android-delete fa-2x" id="delete-icon"></i>
                                        </button>
                                    </div>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="getPage($event)" class="camp-page"> </pagination-controls>
                </div>
            </div>
        </div>

        <div class="modal fade" id="sendPush" tabindex="-1" role="dialog" aria-labelledby="modal-label">
            <div class="modal-dialog modal-sm">
                <div class="background_mockup" id="phone_mock">
                    <img src="assets/mockup.png">
                    <div id="all_content">
                        <span id="close_button" (click)="closeModal()">
                            <a>X</a>
                        </span>
                        <div id="phone_content" *ngFor="let user of imageData">
                            <div>
                                <div *ngIf="user.campainImageUrl == null">
                                    <span title="Click to upload image" data-toggle="modal" data-backdrop="false"
                                        style="cursor:pointer" data-target="#croppingBoxPush" type="button">
                                        <img src={{myglobalUrl}} id="content_img">

                                    </span>
                                </div>
                                <div *ngIf="user.campainImageUrl  != null">
                                    <span title="Click to upload image" data-toggle="modal" data-backdrop="false"
                                        style="cursor:pointer" data-target="#croppingBoxPush" type="button">
                                        <img src="{{user.campainImageUrl}}" id="content_img">
                                    </span>
                                    <div class="loader" id="imgLoader" style="display: none">
                                        <i class="fa fa-spinner fa-spin fa-3x" id="loader" aria-hidden="true"></i>
                                    </div>

                                </div>
                                <div data-toggle="modal" data-backdrop="false" data-target="#detailsBoxPush"
                                    style="padding:5px 17px;color:black;cursor:pointer">
                                    <h1></h1>
                                    <p></p>
                                    <div *ngIf="pMsg ==true">
                                        <h1>{{user.campainTitle}}</h1>
                                        <p>{{user.message}}</p>
                                    </div>
                                    <div *ngIf="pMsg ==false">
                                        <h1>Click to fill your push details!</h1>
                                        <p>Many users have recently joined! Check now to see if anyone new is in your
                                            area!
                                        </p>
                                    </div>
                                    <div>
                                    </div>
                                </div>
                                <div *ngIf="pMsg ==true">
                                    <button id="sendxx" (click)="sendNotification()">SEND NOTIFICATION</button>
                                </div>
                                <div *ngIf="pMsg ==false">
                                    <button id="send">FILL THE REQUIRED DETAILS</button>
                                </div>
                                <div>
                                    <button id="know_more">KNOW MORE</button>
                                    <button id="cancel">CANCEL</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</body>

</html>