 @import "../../global.scss";

// /////////////////////////////////////////////////Push Html
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.breadcrumb-item{
      cursor:pointer;

}
.modal-content-custom{
    height: 500px;  
    width:500px;
}
.modal-body{
    padding: 0px;

}
.modal-header{
   width: 100%;
   border-bottom:none;
}
.tab-content .tab-pane{
    padding: 10px;
}
.tab-content{
    border:none;
    margin: 10px;

}
input[type="text"]{
    border-radius: 25px;
   
    padding: 17px; 
    width: 100%;
    height: 10px;
    
}
.btn{
    border-radius: 12px;
    
    border: none; 
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    // margin: 4px 2px;
    cursor: pointer;
}
.btn .btn-default{
    line-height: 0px;
}
.modal-footer
{
  border-top: none;  
}
.btn .btn-info{
    margin-top: 5px;
    height: 10%;
    width: 100%;
    margin-left: 100px;
}
.fa-2x {
    
    font-size: 1.4em;
}
  .form-control-sm{
       padding: 0px;
        line-height: 1.25;
    color: #555;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
  }
  .cropperbox-profile{
    height: 154px;
    width: 154px;
   
    margin: 15px;
  }
  .ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}
.container {
    position: relative;
    width: 100%;
    
}

.table tr:hover td{
    background: #F0F0F0;
}
.CampBtn {
    float: right;
    border: none;
    border-radius: 2px;
    font-size: 14px;
    padding: 6px 21px;
    cursor: pointer;
    color: #fff;
    background: #22A1E4;
    height: 30px;
    margin-top: 3px;
    margin-right: 20px
}
    
.zoom {
   
  
    transition: transform .2s; /* Animation */
  
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
  
#phone_mock {
    width: 300px;
    position: absolute;
    left: calc(50% - 135px);
    top: calc(50% - 100px); }
  
  #phone_content {
    position: relative; }
  
  div#phone_content {
    position: absolute;
    top: calc(50% - 150px); }
  
  div#phone_content {
    position: absolute;
    top: calc(50% - 150px);
    width: 230px;
    height: 300px;
    margin-left: 23px;
    overflow: auto;
    background: white;
    border-radius: 5px;
    text-align: center; }
  
  img#content_img {
    height: 140px;
    width: 230px; }
  
  div#phone_content h1 {
    font-size: 12px;
    font-weight: 600; }
  
  div#phone_content p {
    font-size: 10px; }
  
  div#phone_content button {
    position: absolute;
    bottom: 0px;
    padding: 5px;
    font-size: 10px;
    background: white;
    border: 1px solid #d2d2d2;
    cursor: pointer; }
  
  button#know_more {
    position: absolute;
    left: 0px;
    width: 50%;
    display: block; }
  
  button#cancel {
    right: 0px;
    width: 50%;
    font-size: 10px;
    padding: 5px;
    display: block; }
  
  #phone_content:hover #know_more {
    display: none; }
  
  #phone_content:hover #cancel {
    display: none; }
  
  button#send {
    right: 0px;
    width: 100%;
    font-size: 10px;
    padding: 0px; }
  
  span#close_button {
    position: absolute;
    right: 43px;
    text-decoration: none;
    top: calc(50% - 163px);
    background: white;
    padding: 5px 9px;
    border-radius: 50%;
    font-size: 10px;
    z-index: 99;
    border: 2px solid #92d3f1;
    cursor: pointer; }
  
  #phone_content #send {
    display: none; }
  
  #phone_content:hover #send {
    display: block; }
  
  span#close_button a {
    background: white;
    text-decoration: none;
    color: #75c7ec;
    font-size: 10px;
    font-weight: 600; }
  
  span#close_button:hover {
    transform: rotate(360deg);
    border: 2px solid #046694;
    transition: all 200ms ease-in-out; }
  
  button#sendxx {
    position: absolute;
    bottom: 0px !important;
    width: 100%;
    left: 0; }
  
  span#close_button {
    position: absolute;
    right: 43px;
    text-decoration: none;
    top: calc(50% - 163px);
    background: white;
    padding: 5px 9px;
    border-radius: 50%;
    font-size: 10px;
    z-index: 99;
    border: 2px solid #92d3f1;
    cursor: pointer; }
  
  span#close_button a {
    background: white;
    text-decoration: none;
    color: #75c7ec;
    font-size: 10px;
    font-weight: 600; }
  
  span#close_button:hover {
    transform: rotate(360deg);
    border: 2px solid #046694;
    transition: all 200ms ease-in-out; }
  
  .m-img-upload-btn {
    position: relative;
    padding: 0;
    width: calc(100% - 30px);
    height: 38px;
    cursor: pointer;
    top: 45px;
    opacity: 0; }
  
  .images-container {
    width: 100%;
    top: 15px;
    border: 2px dashed #ccc;
    background: #f1f1f1;
    min-height: 165px;
    padding: 10px;
    display: block; }
    .images-container .m-image-wrapper {
      position: relative;
      display: inline-block;
      margin: 10px;
      width: 120px;
      height: 120px; }
      .images-container .m-image-wrapper .m-delete-img {
        position: absolute;
        top: 8px;
        right: 10px;
        border: 2px solid #fff;
        color: #fff;
        padding: 3px 5px;
        border-radius: 50%;
        visibility: hidden;
        cursor: pointer; }
      .images-container .m-image-wrapper:hover .m-delete-img {
        visibility: visible; }
      .images-container .m-image-wrapper img {
        width: 120px;
        height: 120px; }
  
  .img-upload-btn {
    position: absolute;
    padding: 0;
    width: calc(100% - 30px);
    height: 38px;
    opacity: 0;
    margin: 0 0 0 47px; }
  
  .image-wrapper {
    position: relative; }
    .image-wrapper .delete-img {
      position: absolute;
      top: 8px;
      right: 53px;
      border: 2px solid #fff;
      color: #fff;
      padding: 3px 5px;
      border-radius: 50%;
      visibility: hidden;
      cursor: pointer; }
    .image-wrapper:hover .delete-img {
      visibility: visible; 
    }
  
  #btn-styles{
    text-align: center;
    padding-top: 10px;
  }
  #btn-icons{
    padding-top: 10px;
    text-align: center;
  }
  #delete-Btn{
    color:  red;  
    padding: 0.50rem 0.50rem;
    background-color: white;
     border-radius:0px;
  }
  #delete-icon{
    cursor: pointer;
  }
  .select-Box{
    width: 50px;
                height: 35px;
                border-radius: 10px;
                background-color: white;
  }
  .camp-page{
    float: left;
  }
  ::-webkit-scrollbar-track {
    background: none;

  }

  ::-webkit-scrollbar {
    width: 0px;
  }

  .rotateimg180 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }