// @import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";
// @import "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js";
//  @import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js";
 @import "../../theme/styles/variables";

#table-responsive th,td{
    text-align: center;
    font-size: 12px;
    
}
#table-spacing td{
    padding-top: 20px;
}
#Link-BtnStyle{
    font-size: 12px;
}
#Link-Btn{
    font-size: 12px;
    margin-top: -7px;
}

#profile-Modal{
    font-size: 12px
}

.zeroPadding{
    padding: 0px !important;
}
#Add-Btn{
    color:  black;
     padding: 0.3rem 0.60rem; 
     margin-top: 3px;
     margin-right: 10px;
    //  background: #5bc0de;
  }
  #save-Btn{
    height: 30px;
    width: 80px;  
    background-color:green
  }
  #cancel-Btn{
    border: 1px solid #7f7f7f; 
    height: 30px;
    width: 80px; padding:0px;
  }
  #userDetails-Style td{
      text-align: left;
  }
  input[type="text"] {
    border-radius: 25px;
    padding: 17px;
    width: 100%;
    height: 10px;
}