<html>

<head>
    <title>
    </title>

</head>

<body>
    <div class="clearfix">
        <div>
            <ol class="breadcrumb" id="breadcumb">
                <li (click)="refresh()" class="breadcrumb-item active">CDN-KEYS</li>
            </ol>
        </div>
        <div class="col-lg-12 col-xs-12 bottom-15" style="bottom: 20px;">

            <div class="row ">
                <div>
                    <button class="btn btn-primary btn-sm pull-right" style="margin: 15px 17px 12px 0;"
                        (click)="AddLanguage()">Add</button>

                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 ">
                    <div widget class="card">
                        <div class="table-responsive">
                            <table class="table table-bordered hover">
                                <thead>
                                    <tr>
                                        <th style="text-align: center">No</th>
                                        <th style="text-align: center"> Cloud Name </th>
                                        <th style="text-align: center"> Api Key </th>
                                        <th style="text-align: center"> ApiSecret Key </th>
                                        <th style="text-align: center">uploadPreset </th>
                                        <th style="text-align: center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngIf="!data">
                                        <td colspan="7" style="text-align: center">No Data Found</td>
                                    </tr>
                                    <tr *ngFor="let obj of data; let i = index" style="text-align: center">
                                        <td>{{i+1}}</td>
                                        <td>{{obj.cloudName}}</td>
                                        <td>{{obj.apiKey}}</td>
                                        <td>{{obj.apiSecret}}</td>
                                        <td>{{obj.uploadPreset}}</td>

                                        <td id="test" style="text-align: center">
                                            <button type="button" class="btn-cust fa-2x" data-toggle="modal"
                                                data-target="#editLanguage" style="color:  dodgerblue;"
                                                title="Edit language" (click)="editLanguages(obj)">
                                                <i class="ion-edit fa-2x" style="cursor: pointer;"></i>
                                            </button>


                                            <button type="button" class="btn-cust fa-2x" style="color:  red;"
                                                title="Delete language" (click)="showModalDelete(obj._id)">
                                                <i class="ion-android-delete fa-2x" style="cursor: pointer;"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <pagination-controls *ngIf="count > 0 && ids.length == 0" (pageChange)="getAllUsers($event)"
                                id="1" directionLinks="true" autoHide="true">
                            </pagination-controls>
                            <pagination-controls *ngIf="count > 0 && ids.length>=1" autoHide="true">
                            </pagination-controls>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

</html>




<!-- Add Modal -->
<div class="modal fade" id="addLanguage" role="dialog" aria-labelledby="modal-label"
    style="display: none;padding-top: 2%;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-transform">
                Add Language
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="modal-label"></h4>
            </div>
            <form [formGroup]="addLanguage" (ngSubmit)="submitForm(addLanguage)">
                <div class="modal-body">
                    <div class="form-group required col-xs-12">
                        <label for="input-2" class="col-xs-3">Cloud Name</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control checking-field" placeholder="Enter Cloud Name"
                                [formControl]="addLanguage.controls['cloudName']"
                                [ngModel]="addLanguage.cloudName">
                            <div *ngIf="addLanguage.controls['cloudName'].errors && (addLanguage.controls['cloudName'].dirty || addLanguage.controls['cloudName'].touched)"
                                class="alert alert-danger">
                                <div [hidden]="!addLanguage.controls['cloudName'].errors.required">
                                    Cloud Name is Required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group required col-xs-12">
                        <label for="input-2" class="col-xs-3">Api Key</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control checking-field" placeholder="Enter Api Key"
                                [formControl]="addLanguage.controls['apiKey']"
                                [ngModel]="addLanguage.apiKey">
                            <div *ngIf="addLanguage.controls['apiKey'].errors && (addLanguage.controls['apiKey'].dirty || addLanguage.controls['apiKey'].touched)"
                                class="alert alert-danger">
                                <div [hidden]="!addLanguage.controls['apiKey'].errors.required">
                                    Api Key is Required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group required col-xs-12">
                        <label for="input-2" class="col-xs-3">ApiSecret Key</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control checking-field" placeholder="Enter Api Secret Key"
                                [formControl]="addLanguage.controls['apiSecret']"
                                [ngModel]="addLanguage.apiSecret">
                            <div *ngIf="addLanguage.controls['apiSecret'].errors && (addLanguage.controls['apiSecret'].dirty || addLanguage.controls['apiSecret'].touched)"
                                class="alert alert-danger">
                                <div [hidden]="!addLanguage.controls['apiSecret'].errors.required">
                                    Api Secret Key is Required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group required col-xs-12">
                        <label for="input-2" class="col-xs-3">Upload Preset </label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control checking-field" placeholder="Enter Upload Preset"
                                [formControl]="addLanguage.controls['uploadPreset']"
                                [ngModel]="addLanguage.uploadPreset ">
                            <div *ngIf="addLanguage.controls['uploadPreset'].errors && (addLanguage.controls['uploadPreset'].dirty || addLanguage.controls['uploadPreset'].touched)"
                                class="alert alert-danger">
                                <div [hidden]="!addLanguage.controls['uploadPreset'].errors.required">
                                    Upload Preset is Required
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="pull-right" style="text-align: center;">
                        <button type="submit" class="btn btn-primary" [disabled]="!addLanguage.valid">Add</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- <--Edit Modal --> 
    <div class="modal fade" id="editLanguage" role="dialog" aria-labelledby="modal-label"
    style="display: none;padding-top: 2%;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-transform">
                Edit CDN  - KEYS
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="modal-label"></h4>
            </div>
            <form [formGroup]="editCDN" (ngSubmit)="updateLanguage(editCDN)">
                <div class="modal-body">

                    <div class="form-group required col-xs-12">
                        <label for="input-2" class="col-xs-3">Cloud Name</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control checking-field" placeholder="Enter Cloud Name"
                                [formControl]="editCDN.controls['newcloudName']"
                                [ngModel]="obj.cloudName">
                            <div *ngIf="editCDN.controls['newcloudName'].errors && (editCDN.controls['newcloudName'].dirty || editCDN.controls['newcloudName'].touched)"
                                class="alert alert-danger">
                                <div [hidden]="!editCDN.controls['newcloudName'].errors.required">
                                    Cloud Name is Required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group required col-xs-12">
                        <label for="input-2" class="col-xs-3">Api Key</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control checking-field" placeholder="Enter Api Key"
                                [formControl]="editCDN.controls['newapiKey']"
                                [ngModel]="obj.apiKey">
                            <div *ngIf="editCDN.controls['newapiKey'].errors && (editCDN.controls['newapiKey'].dirty || editCDN.controls['newapiKey'].touched)"
                                class="alert alert-danger">
                                <div [hidden]="!editCDN.controls['newapiKey'].errors.required">
                                    Api Key is Required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group required col-xs-12">
                        <label for="input-2" class="col-xs-3">ApiSecret Key</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control checking-field" placeholder="Enter Api Secret Key"
                                [formControl]="editCDN.controls['newapiSecret']"
                                [ngModel]="obj.apiSecret">
                            <div *ngIf="editCDN.controls['newapiSecret'].errors && (editCDN.controls['newapiSecret'].dirty || editCDN.controls['newapiSecret'].touched)"
                                class="alert alert-danger">
                                <div [hidden]="!editCDN.controls['newapiSecret'].errors.required">
                                    Api Secret Key is Required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group required col-xs-12">
                        <label for="input-2" class="col-xs-3">Upload Preset </label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control checking-field" placeholder="Enter Upload Preset"
                                [formControl]="editCDN.controls['newuploadPreset']"
                                [ngModel]="obj.uploadPreset ">
                            <div *ngIf="editCDN.controls['newuploadPreset'].errors && (editCDN.controls['newuploadPreset'].dirty || editCDN.controls['newuploadPreset'].touched)"
                                class="alert alert-danger">
                                <div [hidden]="!editCDN.controls['newuploadPreset'].errors.required">
                                    Upload Preset is Required
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer  ">
                    <div class="pull-right" style="text-align: center;">
                        <button type="submit" class="btn btn-primary">Update</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>