 .btn-run{
    background: #2d922d !important;
    border-color: #2d922d !important;
    background-color: #2d922d !important;
}
.input[type="text"] {
    border-radius: 25px;
    padding: 17px;
    width: 100%;
    height: 10px;
}

@import "../../global.scss";

// /////////////////////////////////////////////////Push Html
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.has-searchss .form-control {
  padding-left: 2.375rem;
  width: 23%;
  float: left;
  padding: -1px 0 0 0;
  margin: 16px 14px 0px;
}
  


.breadcrumb-item{
      cursor:pointer;
  
}

.modal-content-custom{
    height: 500px;  
    width:500px;
}
.modal-body{
    padding: 0px;

}
.modal-header{
   width: 100%;
   border-bottom:none;
}
.tab-content .tab-pane{
    padding: 10px;
}
.tab-content{
    border:none;
    margin: 10px;

}
input[type="text"]{
    border-radius: 25px;
   
    padding: 17px; 
    width: 100%;
    height: 10px;
    
}
.btn{
    border-radius: 12px;
    
    border: none; 
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    // margin: 4px 2px;
    cursor: pointer;
}
.btn .btn-default{
    line-height: 0px;
}
.modal-footer
{
  border-top: none;  
}

.btn .btn-info{
    margin-top: 5px;
    height: 10%;
    width: 100%;
}
.fa-2x {
   
   
    font-size: 1.4em;

}
  .form-control-sm{
   
   
    padding: 0px;
        line-height: 1.25;
    color: #555;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
  }
.form-control-sm {
   padding-left: 25px;
    line-height: 1.25;
    color: #555;
    background-color: #fff;
    //  background-image:black;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
}
.custom-select {
    font-size: 12px;
}
.form-control{
    border-radius: 12px;
    padding: 0.65rem 0.75rem;
    padding-right: 30px;
   // background-clip: padding-box;
    background-image:black;

}
.modal-content-custom{
    height: 500px;  
    width:600px;
    padding: 15px;
}
.top-10 {
    padding-top: 10px;
}
.btn-outline-info{
    background-color: white; /* Green */
    border: 2px solid #008CBA;
    color: black;
    // padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.btn-outline{
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}
.btn-outline:hover {
    background-color: #008CBA;
    color: white;
}
.img-upload-btn {
    position: absolute;
    padding: 0;
    width: calc(100% - 30px);
    height: 38px;
    opacity: 0;
    margin: 0 0 0 47px;
}
.image-wrapper .delete-img {
    position: absolute;
    top: 8px;
    right: 53px;
    border: 2px solid #fff;
    color: #fff;
    padding: 3px 5px;
    border-radius: 50%;
    /* visibility: hidden; */
    cursor: pointer;
    color: white;
    margin-top: 40px;
    background-color: black;
}
.divText {
    background: rgba(2, 74, 136, 0.8);
    border-color: rgba(2, 74, 136, 0.8); }
  
  .custom {
    cursor: pointer;
    color: #22a1e4 !important; }
  
  .table td a.custom:hover {
    color: blue !important;
    text-decoration: underline !important; }
  
  div#userDetail td {
    border: 0; }
  
  .m-img-upload-btn {
    position: relative;
    padding: 0;
    width: calc(100% - 30px);
    height: 38px;
    cursor: pointer;
    top: 45px;
    opacity: 0; }
  
  .images-container {
    width: 100%;
    top: 15px;
    border: 2px dashed #ccc;
    background: #f1f1f1;
    min-height: 165px;
    padding: 10px;
    display: block; }
    .images-container .m-image-wrapper {
      position: relative;
      display: inline-block;
      margin: 10px;
      width: 120px;
      height: 120px; }
      .images-container .m-image-wrapper .m-delete-img {
        position: absolute;
        top: 8px;
        right: 10px;
        border: 2px solid #fff;
        color: #fff;
        padding: 3px 5px;
        border-radius: 50%;
        visibility: hidden;
        cursor: pointer; }
      .images-container .m-image-wrapper:hover .m-delete-img {
        visibility: visible; }
      .images-container .m-image-wrapper img {
        width: 120px;
        height: 120px; }
  
  #phone_mock {
    width: 300px;
    position: absolute;
    left: calc(50% - 135px);
    top: calc(50% - 100px); }
  
  #phone_content {
    position: relative; }
  
  div#phone_content {
    position: absolute;
    top: calc(50% - 150px); }
  
  div#phone_content {
    position: absolute;
    top: calc(50% - 150px);
    width: 230px;
    height: 300px;
    margin-left: 23px;
    overflow: auto;
    background: white;
    border-radius: 5px;
    text-align: center; }
  
  img#content_img {
    height: 140px;
    width: 230px; }
  
  div#phone_content h1 {
    font-size: 12px;
    font-weight: 600; }
  
  div#phone_content p {
    font-size: 10px; }
  
  div#phone_content button {
    position: absolute;
    bottom: 0px;
    padding: 5px;
    font-size: 10px;
    background: white;
    border: 1px solid #d2d2d2;
    cursor: pointer; }
  
  button#know_more {
    position: absolute;
    left: 0px;
    width: 50%;
    display: block; }
  
  button#cancel {
    right: 0px;
    width: 50%;
    font-size: 10px;
    padding: 5px;
    display: block; }
  
  #phone_content:hover #know_more {
    display: none; }
  
  #phone_content:hover #cancel {
    display: none; }
  
  button#send {
    right: 0px;
    width: 100%;
    font-size: 10px;
    padding: 0px; }
  
  span#close_button {
    position: absolute;
    right: 43px;
    text-decoration: none;
    top: calc(50% - 163px);
    background: white;
    padding: 5px 9px;
    border-radius: 50%;
    font-size: 10px;
    z-index: 99;
    border: 2px solid #92d3f1;
    cursor: pointer; }
  
  #phone_content #send {
    display: none; }
  
  #phone_content:hover #send {
    display: block; }
  
  span#close_button a {
    background: white;
    text-decoration: none;
    color: #75c7ec;
    font-size: 10px;
    font-weight: 600; }
  
  span#close_button:hover {
    transform: rotate(360deg);
    border: 2px solid #046694;
    transition: all 200ms ease-in-out; }
  
  button#sendxx {
    position: absolute;
    bottom: 0px !important;
    width: 100%;
    left: 0; }
  
  span#close_button {
    position: absolute;
    right: 43px;
    text-decoration: none;
    top: calc(50% - 163px);
    background: white;
    padding: 5px 9px;
    border-radius: 50%;
    font-size: 10px;
    z-index: 99;
    border: 2px solid #92d3f1;
    cursor: pointer; }
  
  span#close_button a {
    background: white;
    text-decoration: none;
    color: #75c7ec;
    font-size: 10px;
    font-weight: 600; }
  
  span#close_button:hover {
    transform: rotate(360deg);
    border: 2px solid #046694;
    transition: all 200ms ease-in-out; }
  
  .m-img-upload-btn {
    position: relative;
    padding: 0;
    width: calc(100% - 30px);
    height: 38px;
    cursor: pointer;
    top: 45px;
    opacity: 0; }
  
  .images-container {
    width: 100%;
    top: 15px;
    border: 2px dashed #ccc;
    background: #f1f1f1;
    min-height: 165px;
    padding: 10px;
    display: block; }
    .images-container .m-image-wrapper {
      position: relative;
      display: inline-block;
      margin: 10px;
      width: 120px;
      height: 120px; }
      .images-container .m-image-wrapper .m-delete-img {
        position: absolute;
        top: 8px;
        right: 10px;
        border: 2px solid #fff;
        color: #fff;
        padding: 3px 5px;
        border-radius: 50%;
        visibility: hidden;
        cursor: pointer; }
      .images-container .m-image-wrapper:hover .m-delete-img {
        visibility: visible; }
      .images-container .m-image-wrapper img {
        width: 120px;
        height: 120px; }
  
  .img-upload-btn {
    position: absolute;
    padding: 0;
    width: calc(100% - 30px);
    height: 38px;
    opacity: 0;
    margin: 0 0 0 47px; }
  
  .image-wrapper {
    position: relative; }
    .image-wrapper .delete-img {
      position: absolute;
      top: 8px;
      right: 53px;
      border: 2px solid #fff;
      color: #fff;
      padding: 3px 5px;
      border-radius: 50%;
      visibility: hidden;
      cursor: pointer; }
    .image-wrapper:hover .delete-img {
      visibility: visible; }
  

      /* Absolute Center Spinner */
.loading {
    // position: fixed;
    z-index: 999;
    // height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  /* Transparent Overlay */
  .loading:before {
    content: '';
    display: block;
    // position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-color: rgba(0,0,0,0.3);
    background-color: #2d922d;
    float: right;
    margin-right: 520px;
  }
  
  /* :not(:required) hides these rules from IE9 and below */
  .loading:not(:required) {
    /* hide "loading..." text */
    // font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }
  
  .loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
  //   -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  //   box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  -webkit-box-shadow: rgba(0,128,0, 0.8) 1.5em 0 0 0, rgba(0,128,0, 0.8) 1.1em 1.1em 0 0, rgba(0,128,0, 0.8) 0 1.5em 0 0, rgba(0,128,0, 0.8) -1.1em 1.1em 0 0, rgba(0,128,0, 0.8) -1.5em 0 0 0, rgba(0,128,0, 0.8) -1.1em -1.1em 0 0, rgba(0,128,0, 0.8) 0 -1.5em 0 0, rgba(0,128,0, 0.8) 1.1em -1.1em 0 0;
  box-shadow: rgba(0,128,0, 0.8) 1.5em 0 0 0, rgba(0,128,0, 0.8) 1.1em 1.1em 0 0, rgba(0,128,0, 0.8) 0 1.5em 0 0, rgba(0,128,0, 0.8) -1.1em 1.1em 0 0, rgba(0,128,0, 0.8) -1.5em 0 0 0, rgba(0,128,0, 0.8) -1.1em -1.1em 0 0, rgba(0,128,0, 0.8) 0 -1.5em 0 0, rgba(0,128,0, 0.8) 1.1em -1.1em 0 0;

}
  
  /* Animation */
  
  @-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-moz-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-o-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }