<html>

<head>
    <title>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <style>
        ::-webkit-scrollbar-track {
            background: none;

        }

        ::-webkit-scrollbar {
            width: 0px;
        }

        .rotateimg180 {
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            transform: rotate(90deg);
        }
    </style>

</head>

<body>
    <div class="clearfix">
        <div class="main">
            <div class="main-content">
                <div class="listBreadCumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item" (click)="backToUsers()" style="font-size:18px; color: #4B6674;
                font-weight: bold;">Compaign</li>
                        <li class="breadcrumb-item active" style="color:#4F7942;">New Compaign</li>
                        <li class="pull-right">
                            <button class="btn btn-default mainBtn" id="bkBtn" (click)="backToUsers()" type="button"
                                style="background-color: black;
                  color: #fff;">Back</button>
                        </li>
                    </ol>

                </div>

                <form [formGroup]="myForm" novalidate>
                    <div class="col-xs-12 bottom-15 pl-0 pr-0 each-page-content">
                        <div class="card col-xs-12 zeroPadding float-left"
                            style="border: 2px solid silver;border-radius: 3px;min-height: 374px;" widget>
                            <h5 style="color: slategray;padding: 12px 0 0 22px;">Run Compaign For:</h5>
                            <div class="required" style="padding: 0 0 0 20px;">
                                <div class="col-xs-12" style="padding-left: 0px;">
                                    <div class="form-group col-xs-2">
                                        <label class="control-label">CAMPAIGN TITLE</label>
                                        <input class="form-control" id="campTitle" placeholder="Enter Campaign Title"
                                            style="margin-bottom: 11px;" type="text" formControlName="compaignTitle">
                                    </div>
                                    <div class=" form-group col-xs-2">
                                        <label class="control-label">START DATE</label>

                                        <my-date-picker name="mydate" placeholder="Start date" required=""
                                            formControlName="startDate" [options]="myDatePickerOptions">
                                            <div class="mydp" style="width: 100%;">
                                                <div class="selectiongroup">
                                                    <input autocomplete="off" autocorrect="off"
                                                        class="selection ng-untouched ng-pristine ng-valid"
                                                        ngtype="text" spellcheck="false" aria-label="Date input field"
                                                        placeholder="Start date" readonly=""
                                                        style="height: 34px; font-size: 14px;">
                                                    <div class="selbtngroup" style="height: 34px;">
                                                        <button class="btnpicker btnpickerenabled" type="button"
                                                            aria-label="Open Calendar">
                                                            <span class="mydpicon icon-mydpcalendar"></span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </my-date-picker>
                                    </div>
                                    <div class="form-group col-xs-2">
                                        <label class="control-label">END DATE</label>

                                        <my-date-picker name="mydate" placeholder="End date" required=""
                                            formControlName="endDate" [options]="myDatePickerOptions">
                                            <div class="mydp" style="width: 100%;">
                                                <div class="selectiongroup">
                                                    <input autocomplete="off" autocorrect="off"
                                                        class="selection ng-untouched ng-pristine ng-valid"
                                                        ngtype="text" spellcheck="false" aria-label="Date input field"
                                                        placeholder="End date" readonly=""
                                                        style="height: 34px; font-size: 14px;">
                                                    <div class="selbtngroup" style="height: 34px;">
                                                        <button class="btnpicker btnpickerenabled" type="button"
                                                            aria-label="Open Calendar">
                                                            <span class="mydpicon icon-mydpcalendar"></span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </my-date-picker>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="radio-inline" style="padding: 0px 16px 0 31px;">
                                        <input id="city" name="type" type="radio" value="city"
                                            class="ng-untouched ng-pristine ng-valid" (click)=" radioChecked()"
                                            [(ngModel)]="city">City
                                    </label>
                                    <label class="radio-inline">
                                        <input id="country" name="type" type="radio" value="country"
                                            class="ng-untouched ng-pristine ng-valid" (click)=" radioChecked()"
                                            [(ngModel)]="country">Country
                                    </label>
                                </div>
                                <div class=" form-group required" style="padding: 0 0 0 20px;">
                                    <label class="control-label">ENTER CITY/COUNTRY NAME</label>
                                    <input class="form-control" id="cityTxt" placeholder="{{placeholder}}"
                                        style="width: 34%;margin-bottom: 11px;" type="text" [ngModel]="val"
                                        autocomplete="off" formControlName="city">
                                    <input class="form-control" id="countryTxt" placeholder="{{placeholder}}"
                                        style="width: 34%; margin-bottom: 11px; display: none;" type="text"
                                        autocomplete="off" formControlName="country">
                                </div>
                            </div>
                            <div class="form-group required" style="padding: 0 0 0 40px; ">
                                <label class="control-label">ENTER RADIUS TO RUN CAMPAIGN IN</label>
                                <div class="col-xs-12" style="padding-left: 0px;">
                                    <div class="col-xs-2" style="padding-left: 0px;">
                                        <input class="form-control" id="radius" placeholder="Enter Radius" type="text"
                                            style=" width:120%;" formControlName="distance" [(ngModel)]="distance">
                                    </div>
                                    <div class="col-xs-2" style="padding-left:40px; width:20%; ">
                                        <select class="form-control ng-untouched ng-pristine ng-valid"
                                            formControlName="options" [(ngModel)]="SelectType"
                                            style="height: 37px; border-radius: 22px;">

                                            <option value="KM">KM</option>
                                            <option value="M">M</option>
                                        </select>
                                    </div>
                                    <div class=" col-xs-1" style="padding-left:40px;">
                                        <button class="btn btn-run" type="button" id="myBtn" (click)="toggleId()"
                                            style="float:right;" (click)="onSubmit()">Run</button>
                                    </div>
                                    <div class="loading" *ngIf="showloader">Loading&#8230;</div>
                                </div>
                            </div>
                            <div *ngIf="showId">
                                <div class="col-12">
                                    <button class="btn btn-outline-info btn-outline" type="button" id="myBtn"
                                        data-toggle="modal" data-target="#sendPush" style="float:right;">Send</button>
                                </div>
                                <!-- <div class="form-group has-searchss">
                                        <input type="text" class="form-control" 
                                            id="search"
                                            placeholder="Seach by User Name, Phone Number" #Input
                                            formControlName="search">
                                            <span> <i class="fa fa-search fa-2x" (click)="gotoSearch(Input.value)" aria-hidden="true"></i></span>
                                           
                                    </div> -->
                                    <div class="form-group has-searchss">
                                            <input type="text"   id="search"  (keyup)="gotoSearch(Input.value)"  #Input class="form-control" placeholder="Search by User Name">
                                            <div class="input-group-append">
                                              <button class="btn btn-secondary" style="margin: 19px -14px 0;" type="button">
                                                <i class="fa fa-search"></i>
                                              </button>
                                            </div>
                                          </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">
                                    <div widget class="card">
                                           
                                        <div class="table-responsive" id="table-responsive">
                                            <table class="table table-bordered hover" id="myTable">
                                                <!-- Actual search box -->
                                              
                                                <thead>

                                                    <tr style="background-color:black; color:white;">
                                                        <th>
                                                            <input type="checkbox" id="hCheck"
                                                                (change)="selectAllCheckBox()" />
                                                        </th>
                                                        <th>#</th>
                                                        <th>USER NAME</th>
                                                        <th>PHONE NO</th>
                                                        <th>LOCATION</th>

                                                    </tr>
                                                </thead>
                                                <td colspan="13" *ngIf="nosearchdata">

                                                    <p style="text-align: center;color: red">No data aavilable</p>

                                                </td>
                                                <tbody>

                                                    <tr *ngIf="!users">
                                                        <td colspan="13">No Data Found</td>
                                                    </tr>
                                                    <tr *ngFor="let user of users   | paginate: {itemsPerPage: rowsOnPage, currentPage:p,totalItems:totalusers }; let i = index"
                                                        [attr.data-index]="i">

                                                        <td>
                                                            <input name="userListCheckbox" type="checkbox"
                                                                [checked]="user.checked" (click)="gotocheck(user)"
                                                                id="(user._id)" />


                                                        </td>

                                                        <td>{{i + 1}}</td>
                                                        <!-- <td>
                                             <button type="button" class="btn btn-link" (click)="userDetailsModal(user)" data-toggle="modal" data-target="#userDetails" id="Link-BtnStyle">
                                            {{user.firstName}}
                                             </button>
                                                        </td> -->
                                                        <td *ngIf="user.firstName ==  null "> {{"N/A"}}</td>
                                                        <td *ngIf="user.firstName != null">{{user.firstName}}</td>
                                                        <td *ngIf="user.contactNumber ==  null "> {{"N/A"}}</td>
                                                        <td *ngIf="user.contactNumber != null">{{user.contactNumber}}
                                                        </td>
                                                        <td *ngIf="user.city ==  null "> {{"N/A"}}</td>
                                                        <td *ngIf="user.city != null">{{user.city}}/{{user.country}}
                                                        </td>
                                                        <!-- <td>{{user.city}}/{{user.country}} </td> -->
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <pagination-controls *ngIf="users" (pageChange)="p = $event" maxSize="6"
                                                directionLinks="true" autoHide="true">
                                            </pagination-controls>


                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="sendPush" tabindex="-1" role="dialog" aria-labelledby="modal-label">
        <div class="modal-dialog modal-sm">
            <div class="background_mockup" id="phone_mock">
                <img src="assets/mockup.png">
                <div id="all_content">
                    <span id="close_button" (click)="closeModal()">
                        <a>X</a>
                    </span>
                    <div id="phone_content">
                        <div>
                            <div *ngIf="fullImagePath == null">
                                <span title="Click to upload image" data-toggle="modal" data-backdrop="false"
                                    style="cursor:pointer" data-target="#croppingBoxPush" type="button">
                                    <img src={{myglobalUrl}} id="content_img">
                                </span>
                            </div>
                            <div *ngIf="fullImagePath != null">
                                <span title="Click to upload image" data-toggle="modal" data-backdrop="false"
                                    style="cursor:pointer" data-target="#croppingBoxPush" type="button">
                                    <img src="{{fullImagePath}}" id="content_img">
                                </span>
                                <div class="loader" id="imgLoader" style="display: none">
                                    <i class="fa fa-spinner fa-spin fa-3x" id="loader" aria-hidden="true"></i>
                                </div>

                            </div>
                            <div data-toggle="modal" data-backdrop="false" data-target="#detailsBoxPush"
                                style="padding:5px 17px;color:black;cursor:pointer">
                                <h1></h1>
                                <p></p>
                                <div *ngIf="pMsg ==true">
                                    <h1>{{pushTitle}}</h1>
                                    <p>{{pushMsg}}</p>
                                </div>
                                <div *ngIf="pMsg ==false">
                                    <h1>Click to fill your push details!</h1>
                                    <p>Many users have recently joined! Check now to see if anyone new is in your area!
                                    </p>
                                </div>
                                <div>
                                </div>
                            </div>
                            <div *ngIf="pMsg ==true">
                                <button id="sendxx" (click)="sendNotification()">SEND NOTIFICATION</button>
                            </div>
                            <div *ngIf="pMsg ==false">
                                <button id="send">FILL THE REQUIRED DETAILS</button>
                            </div>
                            <div>
                                <button id="know_more">KNOW MORE</button>
                                <button id="cancel">CANCEL</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="croppingBoxPush" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="col-8 offset-2">
                        <div style="text-align: center;">
                            <mark style="background-color: yellow;">Please select small size image and Dimension is
                                maximum 600*600</mark>
                        </div>
                        <div id="upImg" style="color: red;text-align: center;">Please Select Small Size Image</div>

                        <div class="image-wrapper" style="text-align: center;">
                            <i *ngIf="image" class="fa fa-times delete-img" (click)="DremoveImage()"></i>
                            <img [attr.src]="image" *ngIf="image" width="100%" style="height: 141px;width: 64%;">
                            <img src={{myglobalUrl}} *ngIf="!image" width="100%" style="height: 141px;width: 64%;">
                        </div>
                        <input type="file" (change)="readUrl($event)" #input1 class="img-upload-btn" accept="image/*"
                            style="width: 56%;" />
                        <!-- <input type="file" (change)="AfileChange(input)" #input class="img-upload-btn" /> -->


                        <button class="btn btn-main btn-block" type="button"
                            style="width: 64%;height: 35px;margin: 0 0 0 47px;">
                            <span *ngIf="!image">
                                <i class="fa fa-upload"></i> Select Image... </span>
                            <span *ngIf="image">
                                <i class="fa fa-refresh"></i> Change Image... </span>
                        </button>
                    </div>
                </div>
                <div class="modal-footer" style="text-align: center">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="uploadBtn"
                        (click)="confirmUploadPush()">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"
                        (click)="closCropPush()">Cancel</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="setDefaultImg()">Set
                        Default</button>
                </div>
            </div>
        </div>
    </div>
    <div id="detailsBoxPush" class="modal fade" role="dialog">
        <div class="modal-dialog" style="top: -31%;">
            <div class="modal-content modal-content-custom">
                <div class="modal-body">
                    <h4>Push Details</h4>
                    <form [formGroup]="notificationM" (submit)="pushUsers(notificationM)" style="width: 100%;
              padding-left: 20px;
              padding-right: 20px;
              padding-bottom: 70px;
              padding-top: 10px;
              height: 100%;
          ">
                        <div class="form-group">
                            <label style="padding: 15px;
                      ">Push Title</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Push Title"
                                name="contTitle" id="title" [formControl]="notificationM.controls['line2']">
                            <div *ngIf="notificationM.controls['line2'].errors && (notificationM.controls['line2'].dirty || notificationM.controls['line2'].touched)"
                                class="alert alert-danger">
                                <div [hidden]="!notificationM.controls['line2'].errors.required">
                                    Title Required
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Message: (Maximum Length Is 100 Character)</label>
                            <textarea formControlName="message" cols="30" rows="10" class="form-control" id="message"
                                [formControl]="notificationM.controls['message']" maxlength="100"></textarea>
                            <div *ngIf="notificationM.controls['message'].errors && (notificationM.controls['message'].dirty || notificationM.controls['message'].touched)"
                                class="alert alert-danger">

                                <div [hidden]="!notificationM.controls['message'].errors.required">
                                    Message is required
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <label>Url</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Url"
                                [formControl]="notificationM.controls['url']" id="urlLink"
                                placeholder="Enter url (example : www.google.com)">
                            <div *ngIf="notificationM.controls['url'].errors && (notificationM.controls['url'].dirty || notificationM.controls['url'].touched)"
                                class="alert alert-danger">
                                <div [hidden]="!notificationM.controls['url'].errors.pattern">
                                    Enter Valid Link
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 " style=" font-size: 12px;">
                            <div class="col-xs-10 col-xs-offset-2" style="margin: 13px 0 0 73px;">
                                <button type="submit" class="btn btn-primary" style="padding-top: 10px;
                          padding-right: 20px;
                          padding-bottom: 30px;
                          padding-left: 20px;" [disabled]="!notificationM.valid">Submit</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal"
                                    style="padding: 10px 15px;">Close</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



</body>

</html>