 @import "../../global.scss";

.breadcrumb-item{
      cursor:pointer;
  
}

#breadcumb{
    background-color: white;
}
.nav-tabs .nav-item .nav-link.active{
    border-bottom: 4px solid #f55753;
}
.nav-tabs{
    border-bottom: none;
    background-color: white;
    border:none;
}
 
.tab-content{
    border: none;
}
.btn-style{
    height: 40px;
    width: 100px;
    font-size: 16px;
    float: left;
    margin-left: 200px;
}
.cancel-button {
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
}
.cancel-button:hover {
    background-color: #f44336;
    color: white;
}
.view-detail {
    // background-color: #4CAF50; 
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* font-size: 16px; */
    /* margin: 4px 2px; */
    cursor: pointer;
}
#tags{
    float:left;
    border:1px solid #ccc;
    padding:5px;
    font-family:Arial;
  }
  #tags > span{
    cursor:pointer;
    display:block;
    float:left;
    color:#fff;
    background:#789;
    padding:5px;
    padding-right:25px;
    margin:4px;
  }
  #tags > span:hover{
    opacity:0.7;
  }
  #tags > span:after{
   position:absolute;
   content:"×";
   border:1px solid;
   padding:2px 5px;
   margin-left:3px;
   font-size:11px;
  }
  #tags > input{
    background:#eee;
    border:0;
    margin:4px;
    padding:7px;
    width:auto;
  }
  #View-Btn{
       padding-top: 10px;
  }
  #addBtn{
   
    color: black;
    }
  #deleteBtn{
  margin-left: 20px;
  color: black;
  }
 
  #myNav-Tabs{
    margin-top:  16px;  border-bottom: none; border:none; background-color:white;
  }
  #table-display{
    display: inline-block;
  }

  .img-upload-btn{
    position: absolute;
    padding: 0;
    width: calc(100% - 30px);
    height: 38px;
    opacity: 0;
}

.image-wrapper{
    position: relative;
    .delete-img{
        position: absolute;
        top: 8px;
        right: 89px;
        border: 2px solid #fff;
        color: #fff;
        padding: 3px 5px;
        border-radius: 50%;
        visibility: hidden;
        cursor: pointer;
    }
    &:hover .delete-img{
        visibility: visible;
    }
}
