<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="clearfix">
  <!-- <div class="col-lg-12 col-xs-12"> -->
  <ol class="breadcrumb" id="breadcumb">
    <li (click)="refresh()" class="breadcrumb-item active">Coin</li>
  </ol>
  <!-- </div> -->


  <div class="col-lg-12 col-xs-12 bottom-15">
    <div class="clearfix">
      <ul class="nav nav-tabs top pull-xs-left" id="myNav-Tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" (click)="getCoins(1)" href="#CoinType">Coin Types</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" (click)="getCoinPlans(1)" href="#CoinPlan">Coin Plans</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" (click)="getCoinWallets(1)" href="#CoinWallet">Coin Wallet</a>
        </li>
      </ul>
    </div>
    <div class="tab-content top" id="tab-border">
      <!-- coin type -->

      <div class="tab-pane active" id="CoinType">
        <div class="modal-body" style="height: 500px;">
          <form name="ActivePlan">
            <div class="row pull-right" style="left: -14px;">
              <!-- <div class="form-group  col-md-9">
                <label>Search</label>
                <input type="text" class="form-control form-control-sm" #myCoinInput (keyup)="gotoSearchCoin(myCoinInput.value)" placeholder="Seach by Coin Name"
                  formControlName="search" />
              </div> -->
              <!-- <div class="form-group  col-md-12" style="margin-top: 20px;">
                <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#addCoin" id="addBtn">Add
                  Coin</button>
                <button type="button" class="btn btn-info btn-md" id="deleteBtn" title="Delete Coin" (click)="DeleteCoin()">
                  Delete Coin
                </button>
              </div> -->
            </div>
          </form>
          <div class="clearfix">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">
                <div widget class="card">
                  <div class="table-responsive" id="table-responsive">
                    <table class="table table-bordered hover">
                      <thead>
                        <tr>
                          <!-- <th>
                            <input type="checkbox" id="hCheck" (change)="selectAllCoinCheckBox()" style="margin-top: 5px;" />
                          </th> -->
                          <th>#</th>
                          <th> COIN TITLE </th>
                          <th>ICON </th>
                          <th>ACTION</th>
                        </tr>
                      </thead>
                      <tbody id="table-spacing">
                        <tr *ngIf="!CoinData">
                          <td colspan="4">No Data Found</td>
                        </tr>
                        <tr
                          *ngFor="let coin of CoinData  | paginate: {itemsPerPage:rowsOnPage, currentPage:p,totalItems:totalusers }; let i = index"
                          [attr.data-index]="i">
                          <!-- <td>
                            <input name="userListCheckbox" type="checkbox" [checked]="coin.checked" (click)="gotocheckCoin(coin._id)"
                              value="(coin._id)" id="(coin._id)" />
                          </td> -->
                          <td>{{i+1}}</td>
                          <td>{{coin.coinTitle}}</td>
                          <td>
                            <img src="{{coin.imgURL}}" style="height: 50px;width: 50px;">
                          </td>
                          <td>
                            <button type="button" class="btn btn-info" disabled (click)="EditCoinModal(coin)" data-toggle="modal"
                              data-target="#EditCoin">
                              Edit Coins
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <pagination-controls (pageChange)="getCoins($event)" class="cursor-pointer float-right">
                    </pagination-controls>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- coin plan -->
      <div class="tab-pane" id="CoinPlan">
        <div class="modal-body" style="height: 500px;">
          <form name="ActivePlan">
            <div class="row pull-right ">
              <!-- <div class="form-group  col-md-9">
                <label>Search</label>
                <input type="text" class="form-control form-control-sm" #myCoinPlanInput (keyup)="gotoSearchCoinPlan(myCoinPlanInput.value)"
                  placeholder="Seach by Coin Plan Name" formControlName="search" />
              </div> -->
              <!-- <div class="form-group  col-md-12" style="margin-top: 20px;">
                <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#addCoinPlan"
                  id="addBtn">Add
                  CoinPlan</button>
                <button type="button" class="btn btn-info btn-md" title="Delete Coin Plan" (click)="DeleteCoinPlan()"
                  id="deleteBtn">
                  Delete CoinPlan
                </button>
              </div> -->
            </div>
          </form>
          <div class="clearfix">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">
                <div widget class="card">
                  <div class="table-responsive" id="table-responsive">
                    <table class="table table-bordered hover">
                      <thead>
                        <tr>
                          <!-- <th>
                            <input type="checkbox" id="hCheck" (change)="selectAllCoinPlanCheckBox()" />
                          </th> -->
                          <th>#</th>
                          <th> PLAN NAME </th>
                          <th> ACTUAL ID </th>
                          <th>COST </th>
                          <th>NO OF COIN UNLOCK </th>
                          <th>ACTION</th>
                        </tr>
                      </thead>
                      <tbody id="table-spacing">
                        <tr *ngIf="!CoinPlanData">
                          <td colspan="6">No Data Found</td>
                        </tr>
                        <tr
                          *ngFor="let coin of CoinPlanData  | paginate: {itemsPerPage:rowsOnPage, currentPage:p,totalItems:totalusers }; let i = index"
                          [attr.data-index]="i">
                          <!-- <td>
                            <input name="userListCheckbox" type="checkbox" [checked]="coin.checked" (click)="gotocheckCoin(coin._id)"
                              value="(coin._id)" id="(coin._id)" />
                          </td> -->
                          <td>{{i+1}}</td>
                          <td>{{coin.planName}}</td>
                          <td>{{coin.actualId}}</td>
                          <td>
                            {{coin.currencySymbol}} {{coin.cost}}
                          </td>
                          <td>
                            <button type="button" class="btn-cust fa-2x" data-toggle="modal"
                              data-target="#DisplayCoinPlanData" (click)="showArrayData(coin._id)" id="Link-BtnStyle">
                              {{coin.noOfCoinUnlockCount}}
                            </button>
                          </td>
                          <td id="View-Btn">
                            <!-- <button type="button" class="view-detail" (click)="EditCoinPlanModal(coin)" data-toggle="modal"
                              data-target="#EditCoinPlan">
                              Edit Coins
                            </button> -->
                            <button type="button" class="btn-cust fa-2x" data-toggle="modal" disabled data-target="#EditCoinPlan"
                              style="color:  dodgerblue;" title=" Edit Plan" (click)="EditCoinPlanModal(coin)">
                              <i class="ion-edit fa-2x" style="cursor: pointer;"></i>
                            </button>

                          </td>
                        </tr>
                      </tbody>

                    </table>
                    <pagination-controls (pageChange)="getCoinPlans($event)" class="cursor-pointer float-right">
                    </pagination-controls>

                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- coin wallet -->
      <div class="tab-pane" id="CoinWallet">
        <div class="modal-body" style="height: 500px;">
          <form name="ActivePlan">
            <div class="row ">

              <div class="form-group  col-md-12">
                <label>Search</label>
                <input type="text" class="form-control form-control-sm" #myWalletInput
                  (keyup)="gotoSearchCoinWallet(myWalletInput.value)" placeholder="Seach by User Name"
                  formControlName="search" />

              </div>

            </div>
          </form>
          <div class="clearfix">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">
                <div widget class="card">
                  <div class="table-responsive" id="table-responsive">
                    <table class="table table-bordered hover">
                      <thead>
                        <tr>

                          <th>#</th>
                          <th> USER NAME </th>
                          <th>CONTACT NUMBER </th>
                          <!-- <th>CITY</th> -->
                          <th>COINS</th>
                          <th>VIEW STATEMENT</th>
                        </tr>
                      </thead>
                      <tbody id="table-spacing">
                        <tr *ngIf="!CoinWalletData">
                          <td colspan="7" style="text-align: center">No Data Found</td>
                        </tr>
                        <tr
                          *ngFor="let coin of CoinWalletData  | paginate: {itemsPerPage:rowsOnPage, currentPage:p,totalItems:totalusers }; let i = index"
                          [attr.data-index]="i">
                          <td>{{i+1}}</td>
                          <td>{{coin.userName}}</td>
                          <td *ngIf="!coin.phone">
                            {{"N/A"}}
                          </td>
                          <td *ngIf="coin.phone">
                            {{coin.phone}}
                          </td>
                          <!-- <td>{{coin.city}}</td> -->
                          <td>{{coin.coinValue}}
                            <!-- <button type="button" class="btn-cust fa-2x" data-toggle="modal" data-target="#DisplayCoinWalletData" (click)="showWalletArrayData(coin._id)"
                              id="Link-BtnStyle">
                              {{coin.coinValue}}
                            </button> -->
                          </td>
                          <td id="View-Btn">
                            <button type="button" class="btn btn-info" (click)="ViewStatement(coin._id)">
                              View Statement
                            </button>
                          </td>
                        </tr>
                      </tbody>

                    </table>
                    <pagination-controls (pageChange)="getCoinWallets($event)" class="cursor-pointer float-right">
                    </pagination-controls>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--AddCoin Modal -->
  <div id="addCoin" class="modal  modal-custom fade" role="dialog">
    <div class=" ">
      <div class="modal-dialog">
        <div class="modal-content" style="position: relative;">
          <div class="modal-header">
            <button type="button" class="close" disabled data-dismiss="modal">&times;</button>
            <h5 class="modal-title">Add Plan</h5>
          </div>
          <form [formGroup]="addcoin" (ngSubmit)="submitForm(addcoin)">
            <div class="modal-body col-md-12">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">

                <div class="form-group col-lg-12">
                  <label class="form-group">Coin Name
                    <sup>*</sup>
                  </label>
                  <input type="text" class="form-control mb-2" [formControl]="addcoin.controls['coinTitle']"
                    [ngModel]="addcoin.coinTitle" placeholder="Coin Name">



                  <span
                    *ngIf="addcoin.controls['coinTitle'].errors && (addcoin.controls['coinTitle'].dirty || addcoin.controls['coinTitle'].touched)"
                    class="help-block text-danger">
                    <span [hidden]="!addcoin.controls['coinTitle'].errors.required">
                      Coin Name is Required
                    </span>
                  </span>
                </div>
                <div class="form-group col-lg-12">
                  <label>Coin Icon
                    <sup>*</sup>
                  </label>
                  <div *ngIf="isUploadBtn">
                    <div class="col-8 offset-2" style="margin-bottom: 3%;">
                      <div id="upImg" style="color: red;text-align: center;">Please Select Small Size Image</div>
                      <div class="form-group col-xs-12" style="margin-bottom: 0px;">
                        <div class="col-xs-2"></div>
                        <div class="col-xs-8 offset-2">
                          <div *ngIf="Amsg" class="alert alert-danger">
                            Please Select Image
                          </div>
                          <div *ngIf="Aimage" style="color: #9900ffbf;text-align: center;">
                            image Uploaded Successfuly
                          </div>

                          <div class="form-group col-xs-12">
                            <div class="image-wrapper" style="text-align: center;">
                              <i *ngIf="Aimage" class="fa fa-times delete-img" (click)="AremoveImage()"></i>
                              <img [attr.src]="Aimage" *ngIf="Aimage" width="100%" style="height: 65px;width: 29%;">
                              <img src="assets/img/app/noimage.png" *ngIf="!Aimage" width="100%"
                                style="height: 65px;width: 29%;">
                            </div>
                            <input type="file" (change)="AfileChange(input)" #input class="img-upload-btn" />

                            <button class="btn btn-main btn-block" type="button">
                              <span *ngIf="!Aimage">
                                <i class="fa fa-upload"></i> Select Image... </span>
                              <span *ngIf="Aimage">
                                <i class="fa fa-refresh"></i> Change Image... </span>
                            </button>
                          </div>
                        </div>
                        <div class="col-xs-2"></div>
                      </div>
                      <div style="text-align: center;">
                        <mark style="background-color: yellow;">Please select small size image and Dimension is
                          maximum 600*600</mark>
                      </div>
                    </div>


                  </div>

                  <span
                    *ngIf="addcoin.controls['imgURL'].error && (addcoin.controls['imgURL'].dirty || addcoin.controls['CoinIcon'].touched)"
                    class="help-block text-danger">
                    <span [hidden]="!addcoin.controls['imgURL'].hasError.required">
                      Coin Icon is Required
                    </span>
                  </span>

                </div>
              </div>

              <div class="{{erro}}" role="alert" *ngIf="error">{{errorMessage}}</div>


            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary btn-sm btn-style" id="save-Btn">Save</button>
              <button type="button" class="btn  btn-style cancel-button" data-dismiss="modal" id="cancel-Btn"
                (click)="CancelAddCoin()">Cancel</button>
            </div>
          </form>

        </div>
      </div>
    </div>


  </div>
  <!--EditCoin Modal -->
  <div id="EditCoin" class="modal  modal-custom fade" role="dialog">
    <div class=" ">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" disabled class="close" data-dismiss="modal">&times;</button>
            <h5 class="modal-title">Edit Plan</h5>
          </div>
          <form [formGroup]="editcoin" (ngSubmit)="gotoeditCoin(editcoin)">
            <div class="modal-body col-md-12">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">
                <div class="form-group col-lg-12">
                  <label class="form-group">Coin Name
                    <sup>*</sup>
                  </label>
                  <input type="text" class="form-control mb-2" [formControl]="editcoin.controls['coinTitle']"
                    [ngModel]="oldcoin" placeholder="Coin Name">

                </div>
                <div class="form-group col-lg-12">
                  <label>Coin Icon
                    <sup>*</sup>
                  </label>
                  <div *ngIf="isUploadBtn">
                    <div class="col-8 offset-2" style="margin-bottom: 3%;">
                      <div class="form-group col-xs-12" style="margin-bottom: 0px;">
                        <div class="col-xs-2"></div>
                        <div class="col-xs-8 offset-2">
                          <div *ngIf="Amsg" class="alert alert-danger">
                            Please Select Image
                          </div>
                          <div *ngIf="Aimage" style="color: #9900ffbf;text-align: center;">
                            image Uploaded Successfuly
                          </div>

                          <div class="form-group col-xs-12">
                            <div class="image-wrapper" style="text-align: center;">
                              <i *ngIf="Aimage" class="fa fa-times delete-img" (click)="AremoveImage()"></i>
                              <img [attr.src]="oldcoinSymbol" *ngIf="!Aimage && oldcoinSymbol" width="100%"
                                style="height: 65px;width: 29%;">
                              <img [attr.src]="Aimage" *ngIf="Aimage" width="100%" style="height: 65px;width: 29%;">
                              <img src="assets/img/app/noimage.png" *ngIf="!oldcoinSymbol && ! Aimage" width="100%"
                                style="height: 65px;width: 29%;">
                            </div>
                            <input type="file" (change)="AfileChange(input)" #input class="img-upload-btn" />

                            <button class="btn btn-main btn-block" type="button">
                              <span *ngIf="!Aimage">
                                <i class="fa fa-upload"></i> Select Image... </span>
                              <span *ngIf="Aimage">
                                <i class="fa fa-refresh"></i> Change Image... </span>
                            </button>
                          </div>
                        </div>
                        <div class="col-xs-2"></div>
                      </div>
                      <div style="text-align: center;">
                        <mark style="background-color: yellow;">Please select small size image and Dimension is
                          maximum 600*600</mark>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="{{erro}}" role="alert" *ngIf="error">{{errorMessage}}</div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary btn-sm btn-style" id="save-Btn">Save</button>
              <button type="button" class="btn  btn-style cancel-button" data-dismiss="modal" style="border: 1px solid #7f7f7f; height: 30px;
            width: 80px; padding:0px;">Cancel</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
  <!--AddCoinPlan Modal -->
  <div id="addCoinPlan" class="modal  modal-custom fade" role="dialog">
    <div class=" ">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" disabled data-dismiss="modal">&times;</button>
            <h5 class="modal-title">Add Plan</h5>
          </div>
          <form [formGroup]="addcoinPlan" (ngSubmit)="submitCoinPlanForm(addcoinPlan)">
            <div class="modal-body col-md-12">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">

                <div class="form-group col-lg-12">
                  <label class="form-group">CoinPlan Name
                    <sup>*</sup>
                  </label>
                  <input type="text" class="form-control mb-2" [formControl]="addcoinPlan.controls['planName']"
                    [ngModel]="addcoinPlan.planName" placeholder="Coin Plan Name">



                  <span
                    *ngIf="addcoinPlan.controls['planName'].errors && (addcoinPlan.controls['planName'].dirty || addcoinPlan.controls['planName'].touched)"
                    class="help-block text-danger">
                    <span [hidden]="!addcoinPlan.controls['planName'].errors.required">
                      Coin Plan Name is Required
                    </span>
                  </span>
                </div>

                <!-- language support -->

                <div class="form-group col-lg-12 required">
                  <div *ngFor="let dynamic of lang; let i = index">
                    <label for="input-2" class="form-group">Coin Plan Name in ({{dynamic.name}})</label>

                    <input type="text" class="form-control mb-2 checking-field" (keyup)="languageAdd($event, i)"
                      placeholder="Coin Plan Name in {{ dynamic.name }}" required />
                  </div>
                </div>

                <!-- end -->
                <div class="form-group col-lg-12">
                  <label class="form-group">Number Of Unlocks
                    <sup>*</sup>
                  </label>
                  <button type="button" class="btn btn-info btn-md"
                    style="color:  black; padding: 0.3rem 0.60rem; margin-top: 3px;" title="Add Coin"
                    data-toggle="modal" data-target="#addCoins">
                    Add Coins
                  </button>

                </div>

                <div class="form-group col-lg-12">

                  <div id="tags" (click)="removeCoin(AddCoinData, i)">
                    <span *ngFor="let d of AddCoinData;let i = index">{{d.coinName}}:{{d.value}}</span>

                  </div>



                  <span
                    *ngIf="addcoinPlan.controls['noOfCoinUnlock'].errors && (addcoinPlan.controls['noOfCoinUnlock'].dirty || addcoinPlan.controls['noOfCoinUnlock'].touched)"
                    class="help-block text-danger">
                    <span [hidden]="!addcoinPlan.controls['noOfCoinUnlock'].errors.required">
                      Number Of Unlocks is Required
                    </span>
                  </span>
                </div>
                <div class="form-group col-lg-12">
                  <label class="form-group">Currency
                    <sup>*</sup>
                  </label>
                  <input type="text" class="form-control mb-2" [formControl]="addcoinPlan.controls['currency']"
                    [ngModel]="addcoinPlan.currency" placeholder="Currency">



                  <span
                    *ngIf="addcoinPlan.controls['currency'].errors && (addcoinPlan.controls['currency'].dirty || addcoinPlan.controls['currency'].touched)"
                    class="help-block text-danger">
                    <span [hidden]="!addcoinPlan.controls['currency'].errors.required">
                      Currency is Required
                    </span>
                  </span>
                </div>
                <div class="form-group col-lg-12">
                  <label class="form-group">Currency Symbol
                    <sup>*</sup>
                  </label>
                  <input type="text" class="form-control mb-2" [formControl]="addcoinPlan.controls['currencySymbole']"
                    [ngModel]="addcoinPlan.currencySymbole" placeholder="Currency Symbol">



                  <span
                    *ngIf="addcoinPlan.controls['currencySymbole'].errors && (addcoinPlan.controls['currencySymbole'].dirty || addcoinPlan.controls['currencySymbole'].touched)"
                    class="help-block text-danger">
                    <span [hidden]="!addcoinPlan.controls['currencySymbole'].errors.required">
                      Currency Symbol is Required
                    </span>
                  </span>
                </div>
                <div class="form-group col-lg-12">
                  <label class="form-group">Cost
                    <sup>*</sup>
                  </label>
                  <input type="text" class="form-control mb-2" [formControl]="addcoinPlan.controls['cost']"
                    [ngModel]="addcoinPlan.cost" placeholder="Cost">



                  <span
                    *ngIf="addcoinPlan.controls['cost'].errors && (addcoinPlan.controls['cost'].dirty || addcoinPlan.controls['cost'].touched)"
                    class="help-block text-danger">
                    <span [hidden]="!addcoinPlan.controls['cost'].errors.required">
                      Cost is Required
                    </span>
                  </span>
                </div>




                <div class="form-group col-lg-12">
                  <label class="form-group">Actual Id For Android
                    <sup>*</sup>
                  </label>
                  <input type="text" class="form-control mb-2" [formControl]="addcoinPlan.controls['planId']"
                    [ngModel]="addcoinPlan.planId" placeholder="Actual Id For Android">



                  <span
                    *ngIf="addcoinPlan.controls['planId'].errors && (addcoinPlan.controls['planId'].dirty || addcoinPlan.controls['planId'].touched)"
                    class="help-block text-danger">
                    <span [hidden]="!addcoinPlan.controls['planId'].errors.required">
                      Actual Id for Android is Required
                    </span>
                  </span>
                </div>

                <div class="form-group col-lg-12">
                  <label class="form-group">Actual Id For iOS
                    <sup>*</sup>
                  </label>
                  <input type="text" class="form-control mb-2" [formControl]="addcoinPlan.controls['planIdiOS']"
                    [ngModel]="addcoinPlan.planIdiOS" placeholder="Actual Id For iOS">



                  <span
                    *ngIf="addcoinPlan.controls['planIdiOS'].errors && (addcoinPlan.controls['planIdiOS'].dirty || addcoinPlan.controls['planIdiOS'].touched)"
                    class="help-block text-danger">
                    <span [hidden]="!addcoinPlan.controls['planIdiOS'].errors.required">
                      Actual Id For iOs is Required
                    </span>
                  </span>
                </div>



              </div>

              <div class="{{erro}}" role="alert" *ngIf="error">{{errorMessage}}</div>


            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary btn-sm btn-style" id="save-Btn">Save</button>
              <button type="button" class="btn  btn-style cancel-button" data-dismiss="modal" style="border: 1px solid #7f7f7f; height: 30px;
            width: 80px; padding:0px;" (click)="CancelAddCoinPlan()">Cancel</button>
            </div>
          </form>

        </div>
      </div>
    </div>


  </div>
  <!--EditCoinPlan Modal -->
  <div id="EditCoinPlan" class="modal  modal-custom fade" role="dialog">
    <div class=" ">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h5 class="modal-title">Edit Coin Plan</h5>
          </div>
          <form [formGroup]="EditcoinPlan" (ngSubmit)="gotoeditCoinPlan(EditcoinPlan)">
            <div class="modal-body col-md-12">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">

                <div class="form-group col-lg-12">
                  <label class="form-group">CoinPlan Name
                    <sup>*</sup>
                  </label>
                  <input type="text" class="form-control mb-2" [formControl]="EditcoinPlan.controls['planName']"
                    [ngModel]="oldplanName" placeholder="Coin Plan Name">

                </div>
                <div class="form-group col-lg-12 required">
                  <!-- Get dynamicaly values of language -->
                  <div *ngFor="let dynamic of lang; let i = index">
                    <label for="input-2" class="form-group">Report Reason({{dynamic.name}})</label>

                    <input type="text" class="form-control mb-2 checking-field" [ngClass]="'text'+dynamic.code"
                      (keyup)="languageAdd($event, i)" placeholder="Enter Reason in {{ dynamic.name }}" required />

                  </div>
                </div>
                <!--  -->
                <div class="form-group col-lg-12">
                  <label class="form-group">Number Of Unlocks
                    <sup>*</sup>
                  </label>
                  <button type="button" class="btn btn-info btn-md"
                    style="color:  black; padding: 0.3rem 0.60rem; margin-top: 3px;" title="Add Coin"
                    data-toggle="modal" data-target="#addCoins">
                    Add Coins
                  </button>

                </div>
                <div class="form-group col-lg-12">
                  <div id="tags" (click)="remove(oldnoOfCoinUnlock, i)">
                    <span *ngFor="let d of oldnoOfCoinUnlock">{{d.coinName}}:{{d.value}}</span>

                  </div>
                  <!-- <input type="text" class="form-control mb-2" [formControl]="EditcoinPlan.controls['noOfCoinUnlock']"  [(ngModel)]="oldnoOfCoinUnlock" placeholder="Number Of Unlocks"> -->


                </div>
                <div class="form-group col-lg-12">
                  <label class="form-group">Currency
                    <sup>*</sup>
                  </label>

                  <input type="text" class="form-control mb-2" [formControl]="EditcoinPlan.controls['currency']"
                    [ngModel]="oldcurrency" placeholder="Currency">


                </div>
                <div class="form-group col-lg-12">
                  <label class="form-group">Currency Symbol
                    <sup>*</sup>
                  </label>
                  <input type="text" class="form-control mb-2" [formControl]="EditcoinPlan.controls['currencySymbole']"
                    [ngModel]="oldcurrencySymbole" placeholder="Currency Symbol">

                </div>
                <div class="form-group col-lg-12">
                  <label class="form-group">Cost
                    <sup>*</sup>
                  </label>
                  <input type="text" class="form-control mb-2" [formControl]="EditcoinPlan.controls['cost']"
                    [ngModel]="oldcost" placeholder="Cost">


                </div>
                <div class="form-group col-lg-12">
                  <label class="form-group">Actual Id For Android
                    <sup>*</sup>
                  </label>
                  <input type="text" class="form-control mb-2" [formControl]="EditcoinPlan.controls['planId']"
                    [ngModel]="oldplanId.actualIdForAndroid" placeholder="Actual Id For Android">


                </div>

                <div class="form-group col-lg-12">
                  <label class="form-group">Actual Id For iOS
                    <sup>*</sup>
                  </label>
                  <input type="text" class="form-control mb-2" [formControl]="EditcoinPlan.controls['planIdiOS']"
                    [ngModel]="oldplanId.actualIdForiOS" placeholder="Actual Id For iOS">


                </div>
              </div>

              <div class="{{erro}}" role="alert" *ngIf="error">{{errorMessage}}</div>


            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary btn-sm btn-style" id="save-Btn">Save</button>
              <button type="button" class="btn  btn-style cancel-button" data-dismiss="modal" style="border: 1px solid #7f7f7f; height: 30px;
            width: 80px; padding:0px;">Cancel</button>
            </div>
          </form>

        </div>
      </div>
    </div>


  </div>
  <div id="addCoins" class="modal  modal-custom fade" role="dialog">
    <div class=" ">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h5 class="modal-title">Add Plan</h5>
          </div>
          <form [formGroup]="addcoins" (submit)="store(addcoins.value)">
            <div class="modal-body col-md-12">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">

                <div class="form-group col-lg-12">
                  <label class="form-group">Coin Name
                    <sup>*</sup>
                  </label>
                  <!-- <input type="text" class="form-control mb-2" [formControl]="addcoins.controls['coinTitle']" [ngModel]="addcoin.coinTitle" placeholder="Coin Name"> -->
                  <select #rowpage [ngModel]="addcoins.coinTitle" (change)="getCoins();" style="width: 50%; 
                height: 35px;
                border-radius: 10px;
                background-color: white;" [formControl]="addcoins.controls['coinTitle']" class="form-control mb-2"
                    class="input-tags" data-role="tagsinput" class="mydata">
                    <option *ngFor="let coinname of CoinData" [ngValue]="coinname.coinTitle">{{coinname.coinTitle}}
                    </option>
                  </select>
                </div>
                <div class="form-group col-lg-12">
                  <label class="form-group">Coin Name
                    <sup>*</sup>
                  </label>
                  <input type="text" class="form-control form-control-md input-tags mydata"
                    [formControl]="addcoins.controls['coins']" [ngModel]="addcoins.coins" placeholder="Coins"
                    data-role="tagsinput" class="mydata"
                    style="height: 35px; width: 260px;border: 1px solid #ccc; border-radius: 10px;">
                </div>
                <div class="{{erro}}" role="alert" *ngIf="error">{{errorMessage}}</div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary btn-sm btn-style" id="save-Btn">Save</button>
              <button type="button" class="btn  btn-style cancel-button" data-dismiss="modal" style="border: 1px solid #7f7f7f; height: 30px;
            width: 80px; padding:0px;" (click)="CancelAddCoins()">Cancel</button>

            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
  <!-- DisplayCoinPlanData -->
  <div id="DisplayCoinPlanData" class="modal modal-custom fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content modal-content-custom" style="height: 218px;
         width: 323px;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"> Coin Details</h4>
        </div>
        <form [formGroup]="userDetailForm" novalidate>
          <div class="col-lg-12 col-xs-12 bottom-15">

            <div class="modal-body ">

              <div class=" col-md-12 col-lg-12 ">
                <div class="table-responsive" id="table-responsive">
                  <table class="table table-bordered hover">
                    <thead>
                      <tr style="padding-top:20px;">


                        <th>Coin Name</th>
                        <th>Coins</th>
                      </tr>

                    </thead>
                    <tbody>
                      <tr *ngFor="let c of pushData">

                        <td>{{c.name}}</td>
                        <td>{{c.value}}</td>

                      </tr>

                    </tbody>
                  </table>
                </div>

              </div>
            </div>

          </div>
        </form>

      </div>
    </div>
  </div>
  <!-- DisplayCoinWalletData -->
  <div id="DisplayCoinWalletData" class="modal modal-custom fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content modal-content-custom" style="height: 218px;
         width: 323px;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"> Coin Details</h4>
        </div>
        <form [formGroup]="userDetailForm" novalidate>
          <div class="col-lg-12 col-xs-12 bottom-15">

            <div class="modal-body ">

              <div class=" col-md-12 col-lg-12 ">

                <div class="table-responsive" id="table-responsive">
                  <table class="table table-bordered hover">
                    <thead>
                      <tr style="padding-top:20px;">


                        <th>Coin Name</th>
                        <th>Coins</th>
                      </tr>

                    </thead>
                    <tbody>
                      <tr *ngFor="let c of pushWalletData">

                        <td>{{c.name}}</td>
                        <td>{{c.value}}</td>

                      </tr>

                    </tbody>
                  </table>
                </div>


              </div>
            </div>

          </div>
        </form>

      </div>
    </div>
  </div>



</div>