<!-- this component here we use for OPT LOG page of Admin -->

<div class="clearfix">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">SMS Logs</li>

    </ol>


    <!-- Actual search box -->
    <div class="form-group has-searchss">
        <input type="text" class="form-control" #mySubcriptionInput (keyup)="gotoSearch(mySubcriptionInput.value)"
            placeholder="Seach by User Name, Phone Number" formControlName="search">
    </div>

    <!-- <div id="loaderCustom" *ngIf="loader"></div> -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">
        <div widget class="card">
            <div class="table-responsive" id="table-responsive">
                <table class="table table-bordered hover">
                    <thead>
                        <tr>
                            <th style="text-align: center">No</th>
                            <th style="text-align: center">Name</th>
                            <th style="text-align: center">Mobile Number </th>
                            <th style="text-align: center">Time </th>
                            <th style="text-align: center">DeviceId </th>
                            <th style="text-align: center">OTP</th>
                            <th style="text-align: center">Trigger</th>
                            <th style="text-align: center">Status</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="!viewsData">
                            <td colspan="7">No Data Found</td>
                        </tr>
                        <tr *ngFor="let obj of viewsData |  paginate: { itemsPerPage: rowsOnPage, currentPage: p}; let i = index"
                            [attr.data-index]="i">
                            <td style="text-align: center">{{i+1}}</td>
                            <td style="text-align: center">{{obj.userName}}</td>
                            <td style="text-align: center">{{obj.phone}}</td>
                            <td style="text-align: center">{{obj.time |date:'medium' }}</td>
                            <td style="text-align: center">{{obj.deviceId}}</td>
                            <td style="text-align: center">{{obj.otp}}</td>
                            <td *ngIf="obj.trigger" style="text-align: center">
                                {{obj.trigger}}</td>
                            <td *ngIf="!obj.trigger" style="text-align: center">{{"N/A"}}
                            </td>
                            <td *ngIf="obj.status" style="text-align: center">{{obj.status}}
                            </td>
                            <td *ngIf="!obj.status" style="text-align: center">{{"N/A"}}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls (pageChange)="p = $event" class="cursor-pointer float-right"></pagination-controls>

            </div>
            <!--</div>-->
        </div>
    </div>



    <div id="userDetails" class="modal modal-custom fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content modal-content-custom" style="height: 550px;
    width: 600px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h5 class="modal-title">User Details</h5>
                </div>
                <div class="col-lg-12 col-xs-12 bottom-15">
                    <div class="clearfix">
                        <ul class="nav nav-tabs top pull-xs-left">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#Profile_Details">Profile Details</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content top">
                        <div class="tab-pane active" id="Profile_Details">
                            <div class=" col-md-3 col-lg-3 ">
                                <br>
                                <img src="{{userDetails.ProfilePhoto}}" width="100" height="100">
                            </div>
                            <div class=" col-md-1 col-lg-1 ">

                            </div>
                            <div class=" col-md-8 col-lg-8 ">
                                <table class="table table-user-information" id="profile-Modal">
                                    <tbody>
                                        <tr>
                                            <td>Name:</td>
                                            <td>{{userDetails.Name}}</td>
                                        </tr>
                                        <tr>
                                            <td> Phone No:</td>
                                            <td>{{userDetails.PhoneNo}}</td>
                                        </tr>
                                        <tr>
                                            <td>Email</td>
                                            <td>{{userDetails.Email}}</td>
                                        </tr>

                                        <tr>
                                            <td>Registration Date</td>
                                            <td>{{userDetails.RegistrationDate | date:"medium"}}</td>
                                        </tr>
                                        <tr>
                                            <td>Date Of Birth</td>
                                            <td>{{userDetails.DateOfBirth | date:"longDate"}} </td>

                                        </tr>
                                        <tr>
                                            <td>Age</td>
                                            <td>{{userDetails.Age}} </td>
                                        </tr>
                                        <tr>
                                            <td>Gender</td>
                                            <td>{{userDetails.Gender}}</td>
                                        </tr>
                                        <tr>
                                            <td>Height</td>
                                            <td>{{userDetails.Height}}</td>
                                        </tr>
                                        <tr>
                                            <td> Profile Video</td>
                                            <td>
                                                <a href="{{userDetails.ProfileVideo}}" target="blank">Click to play the
                                                    video</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Registered From ( City / Country )</td>
                                            <td>{{userDetails.RegisteredFrom}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>