@import "../theme/styles/variables";
@import "../../../node_modules/bootstrap/scss/_variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/metrojs/release/MetroJs.Full/MetroJs";


.info-box{
    color: $default-color;
    .info-box-icon{
        font-size:42px;
        opacity: 0.9;
    }
    h2, h6, span, p{
        font-weight: $font-light;
        letter-spacing: 0.03em;
    }
    h6{
        white-space: nowrap;
        font-size: 14px;
    }
    p{
        font-size: 14px;
        line-height: 1;
    }
}
.padd{
    padding-bottom:   10px
}
.small-info-box{
    padding: 8px;
    color: $default-color;
    background-color: $info-color;
    i{
        font-size: 28px;
    }
    h6, span{
        font-weight: $font-normal;
    }
    h6{
        font-size: 14px;
    }
}

.user-info-box{   
    .card-block{
        padding: 3px;
        img{
            width: 80px;
        }
        h6{
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-weight: 300;
        }
        a{
            font-size: 20px;
            color: $default-color;
        }
    }
}


.live-tile{
    margin: 0;
    width: 100%;
    color: inherit;    
}


.weather{
    h2, p{
        font-weight: 300;
        color: $default-color;
    }
    span{
        color: $default-color;
    }
    .current-temperature{
        font-size: 70px;
        color: $default-color;
        display: inline-block;
    }
    .degree{
        color: $default-color;
        display: inline-block;
        vertical-align: top;
        margin-top: 20px;
        font-size: 20px;
    }
    .card-block{
        padding: 0;
        canvas{
            display: inline-block;
            vertical-align: middle;
        }
    }
    .line{
        padding: 5px 15px;
        border-bottom: 1px solid rgba($main-color,0.2);        
        &:last-child{
            border:none;
        }
    }
}


.card-block.feed{
    padding: 0;
}

.aquisition-bar{
    padding: 40px 40px 40px 5%;
}

.aquision-app{
    padding: 40px 80px;
}

.Live_recordings{
    padding: 2% 6%;
}

.box1{
   background: rgba(232, 171, 38, 0.87) !important;
}

.box2{
   background: rgba(254, 91, 63, 0.87) !important;
}

.box3{
   background: rgba(254, 177, 65, 0.87) !important;
}

.alert.alert-callout {
    position: relative;
    padding-left: 20px;
    background: #ffffff;
    color: #313534;
    border-radius: 3px;
    border-color: rgba(83, 88, 88, 0.15);
}
.alert {
    padding: 15px;
  //  margin-bottom: 24px;
    border: 1px solid transparent;
  //  border-radius: 2px;
}
.no-margin {
    margin: 0 !important;
}
 .alert.alert-callout:before {
    content: '';
    position: absolute;
    display: block;
    width: 4px;
    left: -1px;
    top: -1px;
    bottom: -1px;
    background: #248dad;
}