@import "../../styles/variables";
@import "../../styles/mixins";

.navbar.az-navbar{
    background-color: $main-color;
    border-radius: 0;
    border: none;
    margin: 0;
    padding: 8px 10px;
    position: fixed;
    top:0;
    width: 100%;
    height: 48px; //before 60 
    z-index: 999;
    .navbar-brand{
        width: 210px; 
    }
    .navbar-nav>li{
        position:relative;    
        float: left;
    }
}
// .material-icons{ font-size: 30px;color:#23b7e5 }
.material-icons{ font-size: 30px; color: white;  }
 .fa-2x{
     font-size: 1.5em;
 }
 .navbar2{
    display:none;
 }

#collapse-menu-link {
    font-size: 31px;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: $navbar-text-color;
    padding: 0;
    margin: 0px 0px 0px -49px;
    float: left;
   // margin: 0 20px 0 0; // before
       //margin: 0px 7px 0px -222px;// me
    &:hover{
        opacity: 0.8;
    }
}

.app-search{
    padding-top: 7px;
    a {        
        position: absolute;
        top: 7px;
        right: 14px;
        font-size: 20px;
        color: rgba($navbar-text-color, 0.5);
    }
    .form-control {
        border: 1px solid rgba($navbar-text-color,0.1);
        font-size: 13px;
        letter-spacing: 0.03em;
        height: 30px;
        color: $navbar-text-color;
        padding: 7px 40px 7px 20px;
        background: rgba($navbar-text-color,0.05);
        box-shadow: none;
        border-radius: 30px;
        width: 190px;
    }
}

//@include placeholder-color(rgba($navbar-text-color,0.5));

.password-container{
    display: block;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    .card{
        padding: 15px;
        .btn-link{
            padding: 0;
            &.forgot{
                font-size: 14px;
            }
            &:hover{
                color: $main-color;
            }
        }
       
    }
}
.user-menu{
    margin-top: 2px;
    font-size: 14px;
    .dropdown-toggle::after{
        display: none;
    }
    .dropdown-menu{
        right: 0;
        left: auto;
        margin-top: 10px;
        padding-top: 0;
        overflow: hidden;
        border-radius: 0;
        font-size: 14px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
        a {
            color: $main-color;     
            &:hover {
                color: $navbar-text-color;
                background-color: $main-color;
            }
            i{
                margin-right: 8px;
            }
        }
    }
}

.user-link{
    margin-right: 6px;
    span{
        color: $navbar-text-color;
        margin-left: 7px;
        letter-spacing: 0.02em;
    }
    img{
        width: 40px;
        border-radius: 50%;
    }
    &:hover, &:focus{
        text-decoration: none;
    }   
}

.user-info{
    background-color: $main-color;
    padding: 8px;
    text-align: center;
    width: 240px;
    margin-bottom: 5px;
    img{
        width: 100px;
        margin-top: 5px;
        border-radius: 50%;
    }
    p{   
        color: #ebebeb;
        margin-top: 10px;
    }
    small{
        display: block;
    }
}


@media (max-width: 767px){ 
    .navbar.az-navbar .navbar-brand{
        width: auto;
    }
}