<div class="clearfix">
    <ol class="breadcrumb">
        <!--<li class="breadcrumb-item text-uppercase">Dashboard</li>-->
        <li class="breadcrumb-item active">{{ activePageTitle }}</li>
   <li *ngIf="activePageTitle =='Users'" class="pull-right">
    <a   class="btn btn-primary btn-sm" type="button" routerLink="./add{{Btn}}" >Add {{Btn}}</a>
     <!--<button class="btn btn-primary btn-sm" type="button" (click)="openPopup()">Refresh</button> -->
  </li>
 


 </ol>
 
</div>
