<html>

<head>
    <title>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="clearfix">
        <div>
            <ol class="breadcrumb" id="breadcumb">
                <li (click)="refresh()" style="cursor: pointer;" class="breadcrumb-item active">User
                    Preferences</li>
            </ol>
        </div>
        <!-- </div> -->
        <div class="col-lg-12 col-xs-12 bottom-15" style="bottom: 20px;">
            <!-- <div class="clearfix">
                <ul class="nav nav-tabs top pull-xs-left" style="margin-top:  16px;  border-bottom: none;">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" (click)="getVices(1)" href="#Active">Vices</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" (click)="getVirtues(2)" href="#Deleted">Virtues</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" (click)="getVitals(3)" href="#vitals">vitals</a>
                    </li>
                </ul>
            </div> -->
            <div class="tab-content top" id="tab-contenttop">
                <div class="tab-pane active" id="Active">
                    <div class="modal-body">
                        <form name="ActivePlan">
                            <div class="row ">
                                <button style="margin: -8px 18px 9px 0px;" class="btn btn-primary buttonCus" disabled
                                    data-toggle="modal" data-target="#addFilter">Add</button>
                                <div style="display: flex;">
                                    <select id="filter" style="height: 10%;width: 10%; margin: -7px 17px 0px 14px;"
                                        class="form-control input-sm" (click)="gotoFilter()">
                                        <option value="1" selected>--Select Filter--</option>
                                        <option value="My Vitals">My Vitals</option>
                                        <option value="My Vices">My Vices</option>
                                        <option value="My Virtues">My Virtues</option>
                                    </select>
                                    <button style="margin: -8px 18px 9px 0px;"
                                        class="btn btn-primary buttonCus pull-right" (click)="refresh()">Clear
                                        Filter</button>
                                </div>
                            </div>
                        </form>
                        <div class="clearfix">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 ">
                                    <div widget class="card">
                                        <div class="table-responsive" id="table-responsive">
                                            <table class="table">
                                                <thead class="thead">
                                                    <tr>
                                                        <th style="width: 6%;text-align: center">#</th>
                                                        <th style="width: 29%;text-align: center">Question</th>
                                                        <th style="width: 23%;text-align: center">Type</th>
                                                        <th style="width: 22%;text-align: center">Values</th>
                                                        <th style="width: 22%;text-align: center">Is Mandatory</th>
                                                        <th style="width: 15%;text-align: center">Re-order</th>
                                                        <th style="width: 20%;text-align: center" class="thAction">
                                                            Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngIf="msg">
                                                        <td colspan="7">No data found</td>
                                                    </tr>
                                                    <tr *ngFor="let dt of data | paginate: { itemsPerPage: rowsOnPage, currentPage: p}; let i = index"
                                                        [attr.data-index]="i">
                                                        <td scope="row">{{i+1}}</td>
                                                        <td>{{dt.label}}</td>
                                                        <td *ngIf="dt.type == '1'">Radio Buttons</td>
                                                        <td *ngIf="dt.type == '2'">Checkbox</td>
                                                        <td *ngIf="dt.type == '3'">Slider</td>
                                                        <td *ngIf="dt.type == '4'">Range</td>
                                                        <td *ngIf="dt.type == '5'">Text-box</td>
                                                        <td *ngIf="dt.type == '10'">Drop down</td>
                                                        <td *ngIf="dt.type == '7'">Date</td>
                                                        <td *ngIf="dt.options == ''">N/A</td>
                                                       
                                                        <td><span *ngFor="let option of dt.options">{{option}}, </span>
                                                        </td>
                                                        <td *ngIf="dt.mandatory == true">Yes</td>
                                                        <td *ngIf="dt.mandatory == false">No</td>
                                                        <td>
                                                            <div class="btn-hover" *ngIf="i == 0">
                                                                <button class="button-cust"
                                                                    style="padding-left: 0px;padding-right: 0px;"
                                                                    type="button" disabled>
                                                                    <span
                                                                        class="glyphicon glyphicon-arrow-up fa-lg"></span>
                                                                </button>
                                                            </div>
                                                            <div class="btn-hover" *ngIf="i != 0">
                                                                <button class="button-cust"
                                                                    style="cursor: pointer;padding-left: 0px;padding-right: 0px;"
                                                                    type="button" (click)="gotoUpArrow(i)">
                                                                    <span
                                                                        class="glyphicon glyphicon-arrow-up fa-lg"></span>
                                                                </button>
                                                            </div>
                                                            <div class="btn-hover" *ngIf="i == data.length - 1">
                                                                <button class="button-cust"
                                                                    style="padding-left: 0px;padding-right: 0px;"
                                                                    type="button" disabled>
                                                                    <span
                                                                        class="glyphicon glyphicon-arrow-down fa-lg"></span>
                                                                </button>
                                                            </div>
                                                            <div class="btn-hover" *ngIf="i != data.length - 1">
                                                                <button class="button-cust"
                                                                    style="cursor: pointer;padding-left: 0px;padding-right: 0px;"
                                                                    type="button" (click)="gotoDownArrow(i)">
                                                                    <span
                                                                        class="glyphicon glyphicon-arrow-down fa-lg"></span>
                                                                </button>
                                                            </div>
                                                        </td>
                                                        <td *ngIf="btnFlag">
                                                            <button type="button" disabled class="btn-cust fa-2x"
                                                                style="color:  red;" title="Delete"
                                                                (click)="gotoDeleteFilter(dt)">
                                                                <i class="ion-android-delete fa-2x"
                                                                    style="cursor: pointer;"></i>
                                                            </button>
                                                           
                                                            <button type="button" class="btn-cust fa-2x" disabled
                                                                data-toggle="modal" data-target="#editFilter"
                                                                style="color:  dodgerblue;" title="Edit"
                                                                (click)="gotoEditData(dt)">
                                                                <i class="ion-edit fa-2x" style="cursor: pointer;"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td colspan="100">
                                                            <pagination-controls (pageChange)="p = $event"
                                                                class="cursor-pointer float-right">
                                                            </pagination-controls>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="tab-pane " id="Deleted">
                    <form name="ActivePlan">
                        <div class="row ">
                            <button style="margin: 9px 39px -7px 0px;" class="btn btn-primary buttonCus"
                                data-toggle="modal" data-target="#addFilter">Add</button>
                        </div>
                    </form>
                    <div class="clearfix">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10"
                                style="padding: 15px 32px 0px 26px;">
                                <div widget class="card">
                                    <div class="table-responsive" id="table-responsive">
                                        <table class="table">
                                            <thead class="thead">
                                                <tr>
                                                    <th style="width: 6%;text-align: center">#</th>
                                                    <th style="width: 29%;text-align: center">Question</th>
                                                    <th style="width: 23%;text-align: center">Type</th>
                                                    <th style="width: 22%;text-align: center">Values</th>
                                                    <th style="width: 22%;text-align: center">Is Mandatory</th>
                                                    <th style="width: 15%;text-align: center">Re-order</th>
                                                    <th style="width: 20%;text-align: center" class="thAction">Action
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngIf="msg">
                                                    <td colspan="7">No data found</td>
                                                </tr>
                                                <tr *ngFor="let dt of data | paginate: { itemsPerPage: rowsOnPage, currentPage: p}; let i = index"
                                                    [attr.data-index]="i">
                                                    <td scope="row">{{i+1}}</td>
                                                    <td>{{dt.label}}</td>
                                                    <td *ngIf="dt.type == '1'">Radio Buttons</td>
                                                    <td *ngIf="dt.type == '2'">Checkbox</td>
                                                    <td *ngIf="dt.type == '3'">Slider</td>
                                                    <td *ngIf="dt.type == '4'">Range</td>
                                                    <td *ngIf="dt.type == '5'">Text-box</td>
                                                    <td *ngIf="dt.type == '10'">Drop down</td>
                                                    <td *ngIf="dt.type == '7'">Date</td>
                                                    <td *ngIf="dt.options == ''">N/A</td>
                                                   
                                                    <td><span *ngFor="let option of dt.options">{{option}}, </span></td>
                                                    <td *ngIf="dt.mandatory == true">Yes</td>
                                                    <td *ngIf="dt.mandatory == false">No</td>
                                                    <td>
                                                        <div class="btn-hover" *ngIf="i == 0">
                                                            <button class="button-cust"
                                                                style="padding-left: 0px;padding-right: 0px;"
                                                                type="button" disabled>
                                                                <span class="glyphicon glyphicon-arrow-up fa-lg"></span>
                                                            </button>
                                                        </div>
                                                        <div class="btn-hover" *ngIf="i != 0">
                                                            <button class="button-cust"
                                                                style="cursor: pointer;padding-left: 0px;padding-right: 0px;"
                                                                type="button" (click)="gotoUpArrow(i)">
                                                                <span class="glyphicon glyphicon-arrow-up fa-lg"></span>
                                                            </button>
                                                        </div>
                                                        <div class="btn-hover" *ngIf="i == data.length - 1">
                                                            <button class="button-cust"
                                                                style="padding-left: 0px;padding-right: 0px;"
                                                                type="button" disabled>
                                                                <span
                                                                    class="glyphicon glyphicon-arrow-down fa-lg"></span>
                                                            </button>
                                                        </div>
                                                        <div class="btn-hover" *ngIf="i != data.length - 1">
                                                            <button class="button-cust"
                                                                style="cursor: pointer;padding-left: 0px;padding-right: 0px;"
                                                                type="button" (click)="gotoDownArrow(i)">
                                                                <span
                                                                    class="glyphicon glyphicon-arrow-down fa-lg"></span>
                                                            </button>
                                                        </div>
                                                    </td>
                                                    <td *ngIf="btnFlag">
                                                        <button type="button" class="btn-cust fa-2x"
                                                            style="color:  red;" title="Delete"
                                                            (click)="gotoDeleteFilter(dt)">
                                                            <i class="ion-android-delete fa-2x"
                                                                style="cursor: pointer;"></i>
                                                        </button>

                                                        <button type="button" class="btn-cust fa-2x" data-toggle="modal"
                                                            data-target="#editFilter" style="color:  dodgerblue;"
                                                            title="Edit" (click)="gotoEditData(dt)">
                                                            <i class="ion-edit fa-2x" style="cursor: pointer;"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="100">
                                                        <pagination-controls (pageChange)="p = $event"
                                                            class="cursor-pointer float-right"></pagination-controls>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="tab-pane" id="vitals">
                    <div class="modal-body">
                        <form name="ActivePlan">
                            <div class="row ">
                                <button style="margin: -8px 18px 9px 0px;" class="btn btn-primary buttonCus"
                                    data-toggle="modal" data-target="#addFilter">Add</button>
                            </div>
                        </form>
                        <div class="clearfix">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 ">
                                    <div widget class="card">
                                        <div class="table-responsive" id="table-responsive">
                                            <table class="table">
                                                <thead class="thead">
                                                    <tr>
                                                        <th style="width: 6%;text-align: center">#</th>
                                                        <th style="width: 29%;text-align: center">Question</th>
                                                        <th style="width: 23%;text-align: center">Type</th>
                                                        <th style="width: 22%;text-align: center">Values</th>
                                                        <th style="width: 22%;text-align: center">Is Mandatory</th>
                                                        <th style="width: 15%;text-align: center">Re-order</th>
                                                        <th style="width: 20%;text-align: center" class="thAction">
                                                            Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngIf="msg">
                                                        <td colspan="7">No data found</td>
                                                    </tr>
                                                    <tr *ngFor="let dt of data | paginate: { itemsPerPage: rowsOnPage, currentPage: p}; let i = index"
                                                        [attr.data-index]="i">
                                                        <td scope="row">{{i+1}}</td>
                                                        <td>{{dt.label}}</td>
                                                        <td *ngIf="dt.type == '1'">Radio Buttons</td>
                                                        <td *ngIf="dt.type == '2'">Checkbox</td>
                                                        <td *ngIf="dt.type == '3'">Slider</td>
                                                        <td *ngIf="dt.type == '4'">Range</td>
                                                        <td *ngIf="dt.type == '5'">Text-box</td>
                                                        <td *ngIf="dt.type == '10'">Drop down</td>
                                                        <td *ngIf="dt.type == '7'">Date</td>
                                                        <td *ngIf="dt.options == ''">N/A</td>
                                                       
                                                        <td><span *ngFor="let option of dt.options">{{option}}, </span>
                                                        </td>
                                                        <td *ngIf="dt.mandatory == true">Yes</td>
                                                        <td *ngIf="dt.mandatory == false">No</td>
                                                        <td>
                                                            <div class="btn-hover" *ngIf="i == 0">
                                                                <button class="button-cust"
                                                                    style="padding-left: 0px;padding-right: 0px;"
                                                                    type="button" disabled>
                                                                    <span
                                                                        class="glyphicon glyphicon-arrow-up fa-lg"></span>
                                                                </button>
                                                            </div>
                                                            <div class="btn-hover" *ngIf="i != 0">
                                                                <button class="button-cust"
                                                                    style="cursor: pointer;padding-left: 0px;padding-right: 0px;"
                                                                    type="button" (click)="gotoUpArrow(i)">
                                                                    <span
                                                                        class="glyphicon glyphicon-arrow-up fa-lg"></span>
                                                                </button>
                                                            </div>
                                                            <div class="btn-hover" *ngIf="i == data.length - 1">
                                                                <button class="button-cust"
                                                                    style="padding-left: 0px;padding-right: 0px;"
                                                                    type="button" disabled>
                                                                    <span
                                                                        class="glyphicon glyphicon-arrow-down fa-lg"></span>
                                                                </button>
                                                            </div>
                                                            <div class="btn-hover" *ngIf="i != data.length - 1">
                                                                <button class="button-cust"
                                                                    style="cursor: pointer;padding-left: 0px;padding-right: 0px;"
                                                                    type="button" (click)="gotoDownArrow(i)">
                                                                    <span
                                                                        class="glyphicon glyphicon-arrow-down fa-lg"></span>
                                                                </button>
                                                            </div>
                                                        </td>
                                                        <td *ngIf="btnFlag">
                                                            <button type="button" class="btn-cust fa-2x"
                                                                style="color:  red;" title="Delete"
                                                                (click)="gotoDeleteFilter(dt)">
                                                                <i class="ion-android-delete fa-2x"
                                                                    style="cursor: pointer;"></i>
                                                            </button>

                                                            <button type="button" class="btn-cust fa-2x"
                                                                data-toggle="modal" data-target="#editFilter"
                                                                style="color:  dodgerblue;" title="Edit"
                                                                (click)="gotoEditData(dt)">
                                                                <i class="ion-edit fa-2x" style="cursor: pointer;"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td colspan="100">
                                                            <pagination-controls (pageChange)="p = $event"
                                                                class="cursor-pointer float-right">
                                                            </pagination-controls>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</body>

</html>


<div class="modal fade" id="addFilter" tabindex="-1" role="dialog" aria-labelledby="modal-label"
    style="display: none;padding-top: 0%;">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="top: 20px;">
            <div class="modal-header">
                Question
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="modal-label"></h4>
            </div>
            <form [formGroup]="filter" (ngSubmit)="submitForm(filter)">
                <fieldset>
                    <div class="modal-body">
                        <div class="form-group col-xs-12 zeroPadding">
                            <label class="col-lg-3">Title Type</label>
                            <div class="col-lg-6">
                                <select style="height: 10%;" class="form-control input-sm typeVal"
                                    [formControl]="filter.controls['titledropdown']">
                                    <option value="" disabled selected>Select title type</option>
                                    <option value="My Vitals">My Vitals</option>
                                    <option value="My Vices">My Vices</option>
                                    <option value="My Virtues">My Virtues</option>


                                </select>
                            </div>
                        </div>

                        <!-- <div class="form-group col-xs-12 zeroPadding">
                            <label for="input-2" class="col-xs-3 control-label">Enter Title</label>
                            <div class="col-xs-9">
                                <input type="text" class="form-control checking-field"
                                    placeholder="Enter Title and special charector not allow" name="titileLable"
                                    [formControl]="filter.controls['titileLable']" [ngModel]="filter.titileLable"
                                    pattern="^[a-zA-Z\d\-_\s]+$">

                                <div *ngIf="filter.controls['titileLable'].errors && (filter.controls['titileLable'].dirty || filter.controls['titileLable'].touched)"
                                    class="alert alert-danger">
                                    <div [hidden]="!filter.controls['titileLable'].errors.required">
                                        Title Name is Required
                                    </div>
                                    <div [hidden]="!filter.controls['titileLable'].errors.pattern">
                                        Enter valid Title Special chatector not allow
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="form-group col-xs-12 zeroPadding" *ngFor="let dd of langData">
                            <label for="input-2" class="col-xs-3 control-label">Enter Title In({{dd.name}})</label>
                            <div class="col-xs-9">
                                <input type="text" class="form-control checking-field"
                                    placeholder="Enter Title In {{dd.name}}" name="fieldName"
                                    [formControl]="filter.controls['titleNameOther']" [ngModel]="filter.titleNameOther"
                                    [ngClass]="'addtitle'+dd.langId" required>
                            </div>
                        </div> -->

                        <div class="form-group col-xs-12 zeroPadding">
                            <label for="input-2" class="col-xs-3 control-label">Question</label>
                            <div class="col-xs-9">
                                <input type="text" class="form-control checking-field"
                                    placeholder="Enter Question and special charector not allow" name="fieldName"
                                    [formControl]="filter.controls['fieldName']" [ngModel]="filter.fieldName"
                                    pattern="^[a-zA-Z\d\-_\s]+$">

                                <div *ngIf="filter.controls['fieldName'].errors && (filter.controls['fieldName'].dirty || filter.controls['fieldName'].touched)"
                                    class="alert alert-danger">
                                    <div [hidden]="!filter.controls['fieldName'].errors.required">
                                        Question Name is Required
                                    </div>
                                    <div [hidden]="!filter.controls['fieldName'].errors.pattern">
                                        Enter valid Question Special chatector not allow
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 zeroPadding" *ngFor="let dd of langData">
                            <label for="input-2" class="col-xs-3 control-label">Question In({{dd.name}})</label>
                            <div class="col-xs-9">
                                <input type="text" class="form-control checking-field"
                                    placeholder="Enter Question In {{dd.name}}" name="fieldName"
                                    [formControl]="filter.controls['fieldNameOther']" [ngModel]="filter.fieldNameOther"
                                    [ngClass]="'addField'+dd.langId" required>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 zeroPadding">
                            <label class="col-lg-3">Type</label>
                            <div class="col-lg-6">
                                <select style="height: 10%;" class="form-control input-sm typeVal"
                                    [formControl]="filter.controls['type']" (change)="checkValues(abc.value)" #abc>
                                    <option value="" disabled selected>Select Type</option>
                                    <option value="1">Radio Buttons</option>
                                    <option value="2">Checkbox</option>
                                    <option value="10">Drop down</option>
                                    <!-- <option value="4">Radio Buttons</option> -->
                                    <option value="5">Text-Box</option>
                                    <!-- <option value="6">Drop down</option> -->
                                    <!-- <option value="7">Date</option> -->
                                </select>
                            </div>
                        </div>
                        <div id="addDiv">
                            <div class="form-group col-xs-12 zeroPadding">
                                <label for="input-2" class="col-xs-3 control-label">Values</label>
                                <div class="col-xs-9">
                                    <input type="text" class="form-control checking-field values"
                                        placeholder="Enter values comma(,) seprated" name="values"
                                        [formControl]="filter.controls['values']" [ngModel]="filter.values">

                                    <!-- <div *ngIf="filter.controls['values'].errors && (filter.controls['values'].dirty || filter.controls['values'].touched)"
                                    class="alert alert-danger">
                                    <div [hidden]="!filter.controls['values'].errors.required">
                                        Language Code Required
                                    </div>
                                </div> -->
                                </div>
                            </div>
                            <div class="form-group col-xs-12 zeroPadding" *ngFor="let dd of langData">
                                <label for="input-2" class="col-xs-3 control-label">Values ({{dd.name}})</label>
                                <div class="col-xs-9">
                                    <input type="text" class="form-control checking-field"
                                        placeholder="Enter values in ({{dd.name}}) comma(,) seprated" name="values"
                                        [formControl]="filter.controls['valuesOther']" [ngModel]="filter.valuesOther"
                                        [ngClass]="'addValues'+dd.langId">
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 zeroPadding">
                            <label class="col-lg-3">Is Mandatory</label>
                            <div class="col-lg-6">
                                <!-- <label class="switch col-lg-3">
                                    <input type="checkbox" checked [formControl]="filter.controls['isMandatory']"
                                        id="mandVal" [ngModel]="isMandatory">
                                    <span class="slider round"></span>
                                </label> -->
                                <input type="checkbox" checked [formControl]="filter.controls['isMandatory']"
                                [ngModel]="isMandatory" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="float-right" style="margin: 13px 0 0 73px;">
                                <!-- <button type="submit" class="btn btn-primary" [disabled]="!filter.valid">Submit</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                                <button type="submit" class="btn btn-primary btn-sm btn-style"
                                    style="height: 30px; width: 80px;  background-color:green;"
                                    [disabled]="!filter.valid">Submit</button>
                                <button type="button" class="btn  btn-style button3" data-dismiss="modal"
                                    style="border: 1px solid #7f7f7f; height: 30px;width: 80px; padding:0px;">Close</button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="editFilter" role="dialog" aria-labelledby="modal-label" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="top: -140px;">
            <div class="modal-header text-transform">
                Edit Question
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="modal-label"></h4>
            </div>
            <form [formGroup]="editFilter" (ngSubmit)="editFilterFunc(editFilter)">
                <div class="modal-body">
                    <div class="form-group col-xs-12 zeroPadding">
                        <label class="col-lg-3">Title Type</label>
                        <div class="col-lg-6 {{obj.title}}">
                            <select style="height: 10%;" class="form-control input-sm typeVal"
                                [formControl]="editFilter.controls['newtitledropdown']">
                                <option value="" disabled selected>Select title type</option>
                                <option value="My Vitals">My Vitals</option>
                                <option value="My Vices">My Vices</option>
                                <option value="My Virtues">My Virtues</option>


                            </select>
                        </div>
                    </div>

                    <!-- <div class="form-group col-xs-12 zeroPadding">
                        <label for="input-2" class="col-lg-3">Enter Title:</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control checking-field"
                                placeholder="Enter Title and special charector not allow"
                                [formControl]="editFilter.controls['newtitileLable']" [(ngModel)]="obj.title"
                                pattern="^[a-zA-Z\d\-_\s]+$">
                            <div *ngIf="editFilter.controls['newtitileLable'].errors && (editFilter.controls['newtitileLable'].dirty || editFilter.controls['newFieldName'].touched)"
                                class="alert alert-danger">
                                <div [hidden]="!editFilter.controls['newtitileLable'].errors.required">
                                    Title is required
                                </div>
                                <div [hidden]="!editFilter.controls['newtitileLable'].errors.pattern">
                                    Enter valid Title Special chatector not allow
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <!-- <div class="form-group col-xs-12 zeroPadding" *ngFor="let dd of langData">
                        <label for="input-2" class="col-lg-3">Title In ({{dd.name}}):</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control checking-field eField"
                                placeholder="Enter Title In {{dd.name}}" [ngClass]="'editTitle'+dd.langId" required>

                        </div>
                    </div> -->

                    <!-- ---------------------------------------------------------------------------------------------------- -->
                    <div class="form-group col-xs-12 zeroPadding">
                        <label for="input-2" class="col-lg-3">Question:</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control checking-field"
                                placeholder="Enter fields and special charector not allow"
                                [formControl]="editFilter.controls['newFieldName']" [(ngModel)]="obj.label"
                                pattern="^[a-zA-Z\d\-_\s]+$">
                            <div *ngIf="editFilter.controls['newFieldName'].errors && (editFilter.controls['newFieldName'].dirty || editFilter.controls['newFieldName'].touched)"
                                class="alert alert-danger">
                                <div [hidden]="!editFilter.controls['newFieldName'].errors.required">
                                    Question is required
                                </div>
                                <div [hidden]="!editFilter.controls['newFieldName'].errors.pattern">
                                    Enter valid Question Special chatector not allow
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-xs-12 zeroPadding" *ngFor="let dd of langData">
                        <label for="input-2" class="col-lg-3">Question In ({{dd.name}}):</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control checking-field eField"
                                placeholder="Enter Question In {{dd.name}}" [ngClass]="'editField'+dd.langId" required>

                        </div>
                    </div>
                    <div class="form-group col-xs-12 zeroPadding">
                        <label class="col-lg-3">Type</label>
                        <div class="col-lg-6 {{type}}">
                            <select style="height: 10%;" class="form-control input-sm"
                                [formControl]="editFilter.controls['newtype']" 
                                (change)="checkValues(xyz.value)" #xyz>
                                <option value="1">Radio Buttons</option>
                                <option value="2">Checkbox</option>
                                <option value="10">Drop down</option>
                                <!-- <option value="4">Radio Buttons</option> -->
                                <option value="5">Text-Box</option>
                            </select>
                        </div>

                    </div>
                    <div id="editDiv">
                        <div class="form-group col-xs-12 zeroPadding">
                            <label for="input-2" class="col-xs-3 control-label">Values</label>
                            <div class="col-xs-9">
                                <input type="text" class="form-control checking-field editValues"
                                    placeholder="Enter values comma(,) seprated" name="values"
                                    [formControl]="editFilter.controls['newvalues']" [(ngModel)]="obj.options">

                                <!-- <div *ngIf="filter.controls['values'].errors && (filter.controls['values'].dirty || filter.controls['values'].touched)"
                                class="alert alert-danger">
                                <div [hidden]="!filter.controls['values'].errors.required">
                                    Language Code Required
                                </div>
                            </div> -->
                            </div>
                        </div>

                        <div class="form-group col-xs-12 zeroPadding" *ngFor="let dd of langData">
                            <label for="input-2" class="col-xs-3 control-label">Values In ({{dd.name}})</label>
                            <div class="col-xs-9">
                                <input type="text" class="form-control checking-field eValues"
                                    placeholder="Enter values comma(,) seprated In In {{dd.name}}"
                                    [ngClass]="'editValues'+dd.langId">
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 zeroPadding">
                        <label class="col-lg-3">Is Mandatory</label>
                        <div class="col-lg-6">
                            <!-- <label class="switch col-lg-3">
                                <input type="checkbox" [formControl]="editFilter.controls['newisMandatory']"
                                    [checked]="obj.mandatory == true" id="{{obj}}" [ngModel]="isMandatory">
                                <span class="slider round"></span>
                            </label> -->
                            <input type="checkbox"  [(ngModel)]="isman"
                                [formControl]="editFilter.controls['newisMandatory']" name="sdfad" />
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <div class="float-right">
                        <!-- <button type="submit" class="btn btn-primary" [disabled]="!editFilter.valid">Update</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                        <button type="submit" class="btn btn-primary btn-sm btn-style"
                            style="height: 30px; width: 80px;  background-color:green;"
                            [disabled]="!editFilter.valid">Update</button>
                        <button type="button" class="btn  btn-style button3" data-dismiss="modal"
                            style="border: 1px solid #7f7f7f; height: 30px;width: 80px; padding:0px;">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>