<div class="clearfix">
  <!--<ol class="breadcrumb">
     <li class="breadcrumb-item text-uppercase">Profile</li> 
      <li (click)="refresh()" class="breadcrumb-item active">Profile Likes</li>
      <li  class="pull-right">
     </li>
   </ol>-->
  <ol class="breadcrumb">
    <!---->
    <li class="breadcrumb-item active">
      Profiles Summary
    </li>
    <li *ngIf="pageTitle==1" class="breadcrumb-item active">
      <a hidden="">Likes</a>
      <span (click)="LikeFunc()">Likes</span>
    </li>
    <li *ngIf="pageTitle==0" class="breadcrumb-item active">
      <a hidden="">Dislikes</a>
      <span (click)="unLikeFunc()">Dislikes</span>
    </li>
    <li *ngIf="pageTitle==2" class="breadcrumb-item active">
      <a hidden="">SuperLikes</a>
      <span (click)="superLikeFunc()">SuperLikes</span>
    </li>
  </ol>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">
  <div id="loaderCustom" *ngIf="loader"></div>
  <div widget class="card">
    <!--<div class="card-header">-->

    <div class="clearfix">
      <ul class="nav nav-tabs top pull-xs-left">
        <li class="nav-item">
          <a class="nav-link active" (click)="LikeFunc()" data-toggle="tab" href="#ta">Likes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="unLikeFunc()" data-toggle="tab" href="#tb">Dislikes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="superLikeFunc()" data-toggle="tab" href="#tc">Superlikes</a>
        </li>
      </ul>
    </div>
    <div class="row prl-10">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <input *ngIf="pageTitle==1" placeholder="Search by Name or User Id" [formControl]="searchLikes" class="form-control" type="text">
        <input *ngIf="pageTitle==0" placeholder="Search by Name or User Id" [formControl]="searchUnLikes" class="form-control" type="text">
        <input *ngIf="pageTitle==2" placeholder="Search by Name or User Id" [formControl]="searchSuperLikes" class="form-control"
          type="text">
      </div>
    </div>
    <!--</div>-->

    <!--<div class="card-block widget-body">-->
    <div class="table-responsive">
      <div class="tab-content top">
        <div class="tab-pane active" id="ta">

          <table class="table table-bordered hover">
            <thead>
              <tr>
                <th>S.No</th>
                <th>User Id</th>
                <th>User Name</th>
                <th>Target User Id</th>
                <th class="align-right">Target User Name</th>
                <th class="align-right">Date & Time</th>
                <!--<th class="align-right">Actions</th>-->
              </tr>
            </thead>
            <div *ngIf="noLikesdata">
              <div class="card-block widget-body">
                No data available
              </div>
            </div>

            <tbody *ngIf="profLikes">

              <tr *ngFor="let profLike of profLikes  
 | paginate: {itemsPerPage: '10',   currentPage: p, totalItems:count ,id: '1'}; let i = index">
                <td>{{i + 1}}</td>
                <td>{{profLike.likerId}}</td>
                <td class="align-right"><button type="button" title="Liked Profile" class="div-display btn btn-special btn-sm" (click)="profile(profLike.likerId)"
                    data-toggle="modal" data-target="#userStats"> {{profLike.likerFName}}
                     </button></td>
                <td ngClass="nowrap">{{profLike.FbId}}</td>
                <td class="align-right"><button type="button" title="Liker's Profile" class="div-display btn btn-special btn-sm" (click)="profile(profLike.FbId)"
                    data-toggle="modal" data-target="#userStats"> {{profLike.FirstName}}
                     </button></td>
                <td class="align-right">{{profLike.DateTime}}</td>
              </tr>
            </tbody>
          </table>
          <pagination-controls *ngIf="count > 0" (pageChange)="getLikes($event)" id="1" directionLinks="true"
            autoHide="true">
          </pagination-controls>
          <!-- <pagination-controls *ngIf="profLikes" (pageChange)="page1 = $event" id="1" maxSize="6" directionLinks="true" autoHide="true">
          </pagination-controls> -->
        </div>



        <div class="tab-pane" id="tb">
          <table class="table table-bordered hover">
            <thead>
              <tr>
                <th>S.No</th>
                <th>User Id</th>
                <th>User Name</th>
                <th>Target User Id</th>
                <th class="align-right">Target User Name</th>
                <th class="align-right">Date & Time</th>
                <!--<th class="align-right">Actions</th>-->
              </tr>
            </thead>
            <div *ngIf="noUnLikesdata">
              <div class="card-block widget-body">
                No data available
              </div>
            </div>
            <tbody *ngIf="profUnLikes">

              <tr *ngFor="let profUnLike of profUnLikes  | paginate: {itemsPerPage: '10', currentPage:page2, id: '2'}; let j = index">
                <td>{{j + 1}}</td>
                <td ngClass="nowrap">{{profUnLike.unLikerId}}</td>
                <!--<td class="align-right">{{profUnLike.unLikerFName}}</td>-->
                <td class="align-right"><button type="button" title="UnLiked Profile" class="div-display btn btn-special btn-sm" (click)="profile(profUnLike.unLikerId)"
                    data-toggle="modal" data-target="#userStats"> {{profUnLike.unLikerFName}}
                     </button></td>
                <td>{{profUnLike.FbId}}</td>
                <td class="align-right"><button type="button" title="UnLiker's Profile" class="div-display btn btn-special btn-sm" (click)="profile(profUnLike.FbId)"
                    data-toggle="modal" data-target="#userStats"> {{profUnLike.FirstName}}
                     </button></td>
                <td class="align-right">{{profUnLike.DateTime }}</td>
              </tr>
            </tbody>

          </table>
          <pagination-controls *ngIf="profUnLikes" (pageChange)="page2 = $event" id="2" maxSize="6" directionLinks="true" autoHide="true">
          </pagination-controls>
        </div>
        <div *ngIf="(pageTitle==2)" class="tab-pane active" id="tc">

          <table class="table table-bordered hover">
            <thead>
              <tr>
                <th>S.No</th>
                <th>User Id</th>
                <th>User Name</th>
                <th>Target User Id</th>
                <th class="align-right">Target User Name</th>
                <th class="align-right">Date & Time</th>
              </tr>
            </thead>
            <div *ngIf="noSuperLikesdata">
              <div class="card-block widget-body">
                No data available
              </div>
            </div>

            <tbody *ngIf="profSuperLikes">

              <tr *ngFor="let profSuperLike of profSuperLikes  | paginate: {itemsPerPage: '10', currentPage:page3, id: '3'}; let i = index">
                <td>{{i + 1}}</td>
                <td ngClass="nowrap">{{profSuperLike.FbId}}</td>
                <td class="align-right"><button type="button" title="Liker's Profile" class="div-display btn btn-special btn-sm" (click)="profile(profSuperLike.FbId)"
                    data-toggle="modal" data-target="#userStats"> {{profSuperLike.FirstName}}
                     </button></td>
                <td>{{profSuperLike.likerId}}</td>
                <td class="align-right"><button type="button" title="Liked Profile" class="div-display btn btn-special btn-sm" (click)="profile(profSuperLike.likerId)"
                    data-toggle="modal" data-target="#userStats"> {{profSuperLike.likerFName}}
                     </button></td>
                <td class="align-right">{{profSuperLike.DateTime}}</td>

              </tr>
            </tbody>
          </table>
          <pagination-controls *ngIf="profSuperLikes" (pageChange)="page3 = $event" id="3" maxSize="6" directionLinks="true" autoHide="true">
          </pagination-controls>
        </div>

      </div>
      <!--</div>-->
    </div>

    <div class="modal hide" id="userStats">
      <div class="col-xl-4 col-md-12 col-xs-12 offset-xl-4 offset-md-2 offset-xs-1">

        <div class="modal-dialog">

          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h5 *ngIf="profExist">About {{profExist.name.FirstName}}</h5>
            </div>


            <div *ngIf="profExist" class="modal-body" style="text-align:center;">
              <div class="row-fluid">
                <div class="span10 offset1">
                  <div id="modalTab">
                    <div class="tab-content">
                      <div class="tab-pane active" id="about">
                        <img class="profilebox-profile" src="{{profilePic(profExist.ProfilePhoto)}}" name="aboutme">
                        <h3 class="media-heading">{{profExist.name.FirstName}} <small> {{profExist.name.LastName}}</small></h3>
                        <span><strong>Email: </strong></span>
                        <span class="label label-warning">  <i class="icon-envelope"></i> {{profExist.Email}} <br></span>


                        <hr>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->













  </div>