<html>
<head>
  <title>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="clearfix">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active">Match Users</li>
      <div class="pull-right">
        <button class="btn btn-primary btn-sm" (click)="backToUsers()">Back to Users</button>
      </div>
    </ol>
    <form name="likes">
      <div class="row " id="row-content">
        <div class="well well-lg" id="well-class">
          <div class="form-group  col-md-6">
            <label>Search</label>
            <input type="text" class="form-control form-control-sm" #SearchInput (keyup)="gotoSearchText(SearchInput.value)" placeholder="Seach by UserName,Email,contactNumber"
            />
          </div>
          <div class="form-group  col-md-3">
            <label> From</label>
            <my-date-picker id="txtUpdateDate1" (dateChanged)="setMatchesFromDate($event.formatted)"></my-date-picker>
          </div>
          <div class="form-group  col-md-3">
            <label>To </label>
            <my-date-picker id="txtUpdateDate2" (dateChanged)="setMatchesToDate($event.formatted)"></my-date-picker>
          </div>
        </div>
      </div>
    </form>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">
      <div widget class="card">
        <div class="table-responsive" id="table-responsive">
          <table class="table table-bordered hover">
            <thead>
              <tr>
                <th>S.NO</th>
                <th> FIRST LIKED BY</th>
                <th>EMAIL </th>
                <th> PHONE NO </th>
                <th>OPPONENT USER</th>
                <th>EMAIL </th>
                <th> PHONE NO</th>
                <th>MATCHED ON</th>
              </tr>
            </thead>
            <tbody id="table-spacing">
              <tr *ngIf="!data">
                <td colspan="8">No Data Found</td>
              </tr>
              <tr *ngFor="let device of data | paginate: {itemsPerPage:rowsOnPage, currentPage:p,totalItems:totalusers }; let i = index"
                [attr.data-index]="i">
                <td>{{i+1}}</td>
                <td>
                  <button type="button" class="btn btn-link" (click)="userDetailsModal(device)" data-toggle="modal" data-target="#userDetails"
                    id="Link-Btn">
                    {{device.matchdBy}}
                  </button>
                </td>
                <td *ngIf="device.matchByEmail ==  null "> {{"N/A"}}</td>
                <td *ngIf="device.matchByEmail != null">{{device.matchByEmail}}</td>
                <td *ngIf="device.matchByContactNumber ==  null "> {{"N/A"}}</td>
                <td *ngIf="device.matchByContactNumber != null">{{device.matchByContactNumber}}</td>
                <td>
                  <button type="button" class="btn btn-link" (click)="OpponentUserDetailsModal(device)" data-toggle="modal" data-target="#userDetails"
                    id="Link-Btn">
                    {{device.opponentUser}}
                  </button>
                </td>
                <td *ngIf="device.opponentUserEmail ==  null "> {{"N/A"}}</td>
                <td *ngIf="device.opponentUserEmail != null">{{device.opponentUserEmail}}</td>
                <td *ngIf="device.opponentUserContactNumber ==  null "> {{"N/A"}}</td>
                <td *ngIf="device.opponentUserContactNumber != null">{{device.opponentUserContactNumber}}</td>
                <td>{{device.matchOn | date:'dd/MM/yyyy hh:mm:ss a' }}</td>
              </tr>
            </tbody>
          </table>
          <pagination-controls (pageChange)="matches($event)" class="cursor-pointer float-right"></pagination-controls>
        </div>
      </div>
    </div>
    <div id="userDetails" class="modal modal-custom fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content modal-content-custom" style="height: 530px; width: 100%;">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"> User Details</h4>
          </div>
          <form [formGroup]="userDetailForm" novalidate>
            <div class="col-lg-12 col-xs-12 bottom-15">
              <div class="clearfix">
                <ul class="nav nav-tabs top pull-xs-left">
                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#Profile_Details">Profile</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#Photo_Gallery">Photo</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#video_Gallery_Matchs">Video</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#Preferences">Preferences</a>
                  </li>
                </ul>
              </div>
              <div class="tab-content top">
                <div class="tab-pane active" id="Profile_Details">
                  <div class="modal-body ">
                    <div class="col-md-3 col-lg-3" style="padding-left: 0px;">
                      <img src="{{userDetails.ProfilePhoto}}" style="height: 100px;width: 100px;">
                    </div>
                    <div class=" col-md-9 col-lg-9 ">
                      <table class="table table-user-information">
                        <tbody id="userDetails-Style">
                          <tr>
                            <td>Name </td>
                            <td>{{userDetails.Name}}</td>
                          </tr>
                          <tr>
                            <td> Phone No </td>
                            <td>{{userDetails.PhoneNo}}</td>
                          </tr>
                          <tr>
                            <td>Email </td>
                            <td>{{userDetails.Email}}</td>
                          </tr>
                          <tr>
                            <td>Registration date and time</td>
                            <td>{{userDetails.RegistrationDate | date: 'dd/MM/yyyy hh:mm:ss a' }}</td>
                          </tr>
                          <tr>
                            <td>Date Of Birth </td>
                            <td>{{userDetails.DateOfBirth | date: 'dd/MM/yyyy'}}</td>
                          </tr>
                          <tr>
                            <td>Age</td>
                            <td>{{userDetails.Age}} </td>
                          </tr>
                          <tr>
                            <td>Gender</td>
                            <td>{{userDetails.Gender}}</td>
                          </tr>
                          <tr>
                            <td>Height</td>
                            <td>{{userDetails.Height}}</td>
                          </tr>
                          <tr>
                            <td>About Me</td>
                            <td>{{userDetails.about}}</td>
                          </tr>
                          <tr>
                            <td>Registered From ( City / Country )</td>
                            <td>{{userDetails.RegisteredFrom}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <!-- Photo_Gallery model -->
                <div class="tab-pane" id="Photo_Gallery">
                  <div class="modal-body col-md-12" >
                    <div class="col-md-4" *ngFor="let userImg of userDetails.OtherPhotos let i = index">
                      <img src="{{userImg}}" class="img-rounded" style="margin:5px" width="100%" height="100%" alt="Cinque Terre">
                    </div>
                  </div>
                </div>
                <!-- video_Gallery model -->
                <div class="tab-pane" id="video_Gallery_Matchs">
                  <div class="modal-body col-md-12" >
                    <div class="col-md-4 testVideo">
                      <div *ngIf="userDetails.ProfileVideo == 0">
                        <img src="assets/hqdefault.jpg" width="500px" height="400px" title="No Profile Video Of this User" />
                      </div>
                      <div *ngIf="userDetails.ProfileVideo != 0 ">
                        <video class="videoAutoPlay" width="500px" height="400px" controls>
                          <source src="" type="video/mp4" allowfullscreen>
                          <source src="" type="video/mov" allowfullscreen>
                        </video>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- prefrences model -->
                <div class="tab-pane" id="Preferences">
                  <div style="margin:2%">
                    <div *ngFor="let obj of prefData">
                      <div *ngIf="obj.type==3">
                        <label>
                          <h5>{{obj.title}} : </h5>
                        </label><b> {{obj.selectedValue}} </b>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>