<div class="clearfix">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Matches</li>
    <div class="pull-right">
      <button class="btn btn-primary btn-sm" (click)="backToUsers()" style="background-color:black; border-radius: 5px;">Back
        to Active Users</button>
    </div>
  </ol>


</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">
  <div widget class="card">

    <div class="table-responsive" id="table-responsive">
      <table class="table table-bordered hover">
        <thead>
          <tr>
            <th>NO</th>
            <th>MATCHED USER</th>
            <th>PHONE NO</th>
            <th>EMAIL</th>
            <th>MATCHED ON</th>
            <th>FIRST LIKED BY</th>
            <th>SECOND LIKED BY</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="!data">
            <td colspan="5" style="text-align: center">No Data Found</td>
          </tr>
          <tr *ngFor="let obj of data | paginate: { itemsPerPage: rowsOnPage, currentPage: p }; let i = index" [attr.data-index]="i">
            <td>{{i+1}}</td>
            <td>
              <button type="button" class="btn btn-link" (click)="userDetailsModal(obj)" data-toggle="modal" data-target="#userDetails"
                id="Link-Btn">
                {{obj.MatcheUser}}
              </button>
            </td>
            <td>{{obj.PhoneNo}}</td>
            <td>{{obj.Email}}</td>
            <td>{{obj.MatcedOn | date:"medium"}}</td>
            <td>{{obj.FirstLikedBy}}</td>
            <td>{{obj.SecondLikedBy}}</td>
          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="p = $event" class="cursor-pointer float-right"></pagination-controls>
    </div>
  </div>
</div>

<!-- UserDetailsModal -->
<div id="userDetails" class="modal modal-custom fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content modal-content-custom" style="height: 530px; width: 100%">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"> User Details</h4>
      </div>
      <form [formGroup]="userDetailForm" novalidate>
        <div class="col-lg-12 col-xs-12 bottom-15">
          <div class="clearfix">
            <ul class="nav nav-tabs top pull-xs-left">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#Profile_Details">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#Photo_Gallery">Photo</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#video_Gallery">Video</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#Preferences">Preferences</a>
              </li>
            </ul>
          </div>
          <div class="tab-content top">
            <div class="tab-pane active" id="Profile_Details">
              <div class="modal-body ">
                <div class="col-md-3 col-lg-3" style="padding-left: 0px;">



                  <img src="{{userDetails.ProfilePhoto}}" style="height: 100px;width: 100px;">
                </div>

                <div class=" col-md-9 col-lg-9 ">
                  <table class="table table-user-information">
                    <tbody id="userDetails-Style">
                      <tr>
                        <td>Name </td>
                        <td>{{userDetails.Name}}</td>
                      </tr>
                      <tr>
                        <td> Phone No </td>
                        <td>{{userDetails.PhoneNo}}</td>
                      </tr>
                      <tr>
                        <td>Email </td>
                        <td>{{userDetails.Email}}</td>
                      </tr>

                      <tr>
                        <td>Registration date and time</td>
                        <td>{{userDetails.RegistrationDate | date: 'dd/MM/yyyy hh:mm:ss a' }}</td>
                      </tr>
                      <tr>
                        <td>Date Of Birth </td>
                        <td>{{userDetails.DateOfBirth | date: 'dd/MM/yyyy'}}</td>
                      </tr>
                      <tr>
                        <td>Age</td>
                        <td>{{userDetails.Age}} </td>
                      </tr>
                      <tr>
                        <td>Gender</td>
                        <td>{{userDetails.Gender}}</td>
                      </tr>
                      <tr>
                        <td>Height</td>
                        <td>{{userDetails.Height}}</td>
                      </tr>
                      <tr>
                        <td>About Me</td>
                        <td>{{userDetails.about}}</td>
                      </tr>
                      <tr>
                        <td>Registered From ( City / Country )</td>
                        <td>{{userDetails.RegisteredFrom}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- Photo_Gallery model -->
            <div class="tab-pane" id="Photo_Gallery">
              <div class="modal-body col-md-12">
                <div class="col-md-4" *ngFor="let userImg of userDetails.OtherPhotos let i = index">
                  <img src="{{userImg}}" class="img-rounded" style="margin:5px" width="100%" height="100%" alt="Cinque Terre">
                </div>
              </div>
            </div>
            <!-- video_Gallery model -->
            <div class="tab-pane" id="video_Gallery">
              <div class="modal-body col-md-12">
                <div class="col-md-4 testVideo">
                  <div *ngIf="userDetails.ProfileVideo == 0">
                    <img src="assets/hqdefault.jpg" width="500px" height="400px" title="No Profile Video Of this User" />
                  </div>
                  <div *ngIf="userDetails.ProfileVideo != 0 ">
                    <video class="videoAutoPlay" width="500px" height="400px" controls>
                      <source src="" type="video/mp4" allowfullscreen>
                      <source src="" type="video/mov" allowfullscreen>
                    </video>
                  </div>
                </div>
              </div>
            </div>
            <!-- prefrences model -->
            <div class="tab-pane" id="Preferences">
              <div style="margin:2%">
                <div *ngFor="let obj of prefData">
                  <div *ngIf="obj.type==3">
                    <label>
                      <h5>{{obj.title}} : </h5>
                    </label><b> {{obj.selectedValue}} </b>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </form>

    </div>
  </div>
</div>