<div class="clearfix">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Report Reasons Details </li>
        <div class="pull-right">
            <button class="btn btn-primary btn-sm" (click)="AddLanguage()">Add Reason</button>
        </div>
    </ol>


</div>
<!-- <div id="loaderCustom" *ngIf="loader"></div> -->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">
    <div widget class="card">
        <div class="table-responsive">
            <table class="table table-bordered hover">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th> Reason ( English ) </th>
                        <th>Language Name </th>
                        <th>Localised String</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="!data">
                        <td colspan="7" style="text-align: center">No Data Found</td>
                    </tr>
                    <tr *ngFor="let obj of data; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{reason}}</td>
                        <td>{{obj.languageName}}</td>
                        <td>{{obj.localisedString}}</td>
                        <td>
                            <button type="button" class="btn btn-primary" (click)="Edit(obj,i)">EDIT</button>
                            <button type="button" class="btn btn-danger" (click)="Remove(i)">DELETE</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls *ngIf="count > 0 && ids.length == 0" (pageChange)="getAllUsers($event)" id="1" directionLinks="true"
                autoHide="true">
            </pagination-controls>
            <pagination-controls *ngIf="count > 0 && ids.length>=1" autoHide="true">
            </pagination-controls>
        </div>
        <!--</div>-->
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addReason" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Reason</h4>
            </div>
            <div class="modal-body">
                <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">
                    <div class="form-group  col-md-12">
                        <label>Reason (English) : </label>
                        <input type="text" class="form-control form-control-sm" id="reason" placeholder="Reason (English)" formControlName="fname">
                    </div>
                </div>
                <br/> -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">
                    <div class="form-group  col-md-12">
                        <label>Language Name : </label>
                        <input type="text" class="form-control form-control-sm" id="langeugeName" placeholder="Language name" formControlName="fname">
                    </div>
                </div>
                <br>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">
                    <div class="form-group  col-md-12">
                        <label>Localised String : </label>
                        <input type="text" class="form-control form-control-sm" id="localisedString" placeholder="Localised String" formControlName="fname">
                    </div>
                </div>

            </div>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="SaveReason()">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="EditReason" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Reason</h4>
            </div>
            <div class="modal-body">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">
                    <div class="form-group  col-md-12">
                        <label>Language Name : </label>
                        <input type="text" class="form-control form-control-sm" id="langeugeNameEdit" placeholder="Language name" formControlName="fname">
                    </div>
                </div>
                <br>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">
                    <div class="form-group  col-md-12">
                        <label>Localised String : </label>
                        <input type="text" class="form-control form-control-sm" id="localisedStringEdit" placeholder="Localised String" formControlName="fname">
                    </div>
                </div>

            </div>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="UpdateReason()">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>