
@import "../../global.scss";

.breadcrumb-item{
      cursor:pointer;
      font-size:18px; color: #4B6674;
      font-weight: bold;
     
}
#breadcumb{
    background-color: white;
}
.top-10 {
    padding-top: 10px;
}

.nav-tabs .nav-item .nav-link.active{
    border-bottom: 4px solid #f55753;
}
.nav-tabs{
    border-bottom: none;
    background-color: white;
    border:none;
}
.tab-content{
    border: none;
}

#nav-liStyle{
    border-bottom: 1px solid;
    width: 100%;
    display: inline-block;
    border: none;
}
#active-tab{
     // border-bottom: 1px solid;
    float: left;
    margin-bottom: 0px;
     
}
.anyClass {
    height:150px;
    overflow-y: scroll;
    padding: 10px;
    
  }
  #border-style{
      border-bottom: none;
  }
#filter-FontStyle{
    height: 100px;
    padding-left: 10px;
    width: 98%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom:0px;
}
#spacing{
    padding: 15px;
}