<html>

<head>
  <title>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="clearfix">
    <div class="col-lg-12 col-xs-12">
      <ol class="breadcrumb" id="breadcumb">
        <li class="breadcrumb-item active">Users Activies</li>
      </ol>
    </div>
    <div class="col-lg-12 col-xs-12 bottom-15">
      <div class="clearfix">
        <ul class="nav nav-tabs top pull-xs-left" style="margin-top:  16px;  border-bottom: none;">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" (click)="getLikes(1)" href="#likes">Likes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" (click)="getDisLikes(1)" href="#disLikes">DisLikes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" (click)="getSuperLikes(1)" href="#SuperLikes">SuperLikes</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" data-toggle="tab" (click)="getboostUserData(1)" href="#boost">Boost</a>
          </li> -->
        </ul>
      </div>
      <div class="tab-content top">
        <!-- like user -->
        <div class="tab-pane active" id="likes">
          <div class="modal-body" style="height: 500px;">

            <form name="likes">
              <div class="row ">
                <div class="well well-lg" id="filter-FontStyle">

                  <div class="form-group  col-md-6">
                    <label>Search</label>
                    <input type="text" class="form-control form-control-sm" #myLikeInput (keyup)="gotoSearchLikes(myLikeInput.value)" placeholder="Seach by UserName,Email,contactNumber"
                      formControlName="search" />

                  </div>
                  <div class="form-group  col-md-3">
                    <label> From</label>
                    <my-date-picker id="txtUpdateDate1" (dateChanged)=" setLikesFromDate($event.formatted)"></my-date-picker>
                  </div>
                  <div class="form-group  col-md-3">
                    <label> To </label>
                    <my-date-picker id="txtUpdateDate2" (dateChanged)="setLikesToDate($event.formatted)"></my-date-picker>
                  </div>


                </div>

              </div>
            </form>

            <div class="clearfix">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">
                  <div widget class="card">
                    <div class="table-responsive" id="table-responsive">
                      <table class="table table-bordered hover">
                        <thead>
                          <tr>
                            <th>S.NO</th>
                            <th> LIKED BY </th>
                            <th>EMAIL </th>
                            <th> PHONE NO </th>
                            <th>OPPONENT USER</th>
                            <th>EMAIL </th>
                            <th> PHONE NO </th>
                            <th>LIKED ON</th>


                          </tr>
                        </thead>
                        <tbody id="table-spacing">
                          <tr *ngIf="!likeData">
                            <td colspan="8">No Data Found</td>
                          </tr>
                          <tr *ngFor="let device of likeData |paginate: {itemsPerPage:rowsOnPage, currentPage:p,totalItems:totalusers }; let i = index"
                            [attr.data-index]="i">
                            <td>{{i+1}}</td>
                            <td>
                              <button type="button" class="btn btn-link" (click)="userDetailsModal(device)" data-toggle="modal" data-target="#userDetails"
                                id="Link-Btn">
                                {{device.likedBy}}
                              </button>
                            </td>
                            <td *ngIf="device.likedByEmail ==  null "> {{"N/A"}}</td>
                            <td *ngIf="device.likedByEmail != null">{{device.likedByEmail}}</td>
                            <td *ngIf="device.likedByContactNumber ==  null "> {{"N/A"}}</td>
                            <td *ngIf="device.likedByContactNumber != null">{{device.likedByContactNumber}}</td>

                            <td>
                              <button type="button" class="btn btn-link" (click)="OpponentuserDetailsModal(device)" data-toggle="modal" data-target="#OpponentUserDetails"
                                id="Link-Btn">
                                {{device.opponentUser}}
                              </button>
                            </td>
                            <td>{{device.opponentUserEmail}} </td>
                            <td>{{device.opponentUserContactNumber}}</td>

                            <td>{{device.likedOn | date:"medium" }}</td>
                          </tr>
                        </tbody>

                      </table>

                      <pagination-controls (pageChange)="getLikes($event)" class="cursor-pointer float-right"></pagination-controls>

                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- disLikes user -->
        <div class="tab-pane" id="disLikes">
          <div class="modal-body" style="height:500px;">
            <form name="dislikes">
              <div class="row ">
                <div class="well well-lg" id="filter-FontStyle">

                  <div class="form-group  col-md-6">
                    <label>Search</label>
                    <input type="text" class="form-control form-control-sm" #myDislikeInput (keyup)="gotoSearchDisLikes(myDislikeInput.value)"
                      placeholder="Seach by UserName,Email,contactNumber" formControlName="search" />

                  </div>
                  <div class="form-group  col-md-3">
                    <label> From</label>
                    <my-date-picker id="txtUpdateDate1" (dateChanged)="setDisLikesFromDate($event.formatted)"></my-date-picker>
                  </div>
                  <div class="form-group  col-md-3">
                    <label>To </label>
                    <my-date-picker id="txtUpdateDate2" (dateChanged)="setDisLikesDate($event.formatted)"></my-date-picker>
                  </div>
                </div>
              </div>
            </form>

            <div class="clearfix">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">
                  <div widget class="card">
                    <div class="table-responsive" id="table-responsive">
                      <table class="table table-bordered hover">
                        <thead>
                          <tr>
                            <th>S.NO</th>
                            <th> DISLIKED BY </th>
                            <th>EMAIL </th>
                            <th> PHONE NO </th>
                            <th>OPPONENT USER</th>
                            <th>EMAIL </th>
                            <th>PHONE NO </th>
                            <th>DISLIKED ON</th>

                          </tr>
                        </thead>
                        <tbody id="table-spacing">
                          <tr *ngIf="!disLikeData">
                            <td colspan="8">No Data Found</td>
                          </tr>
                          <tr *ngFor="let device of disLikeData |paginate: {itemsPerPage:rowsOnPage, currentPage:p,totalItems:totalusers }; let i = index"
                            [attr.data-index]="i">
                            <td>{{i+1}}</td>
                            <td>
                              <button type="button" class="btn btn-link" (click)="disLikeUserDetailsModal(device)" data-toggle="modal" data-target="#disLikeUserDetails"
                                id="Link-Btn">
                                {{device.unLikedBy}}
                              </button>

                            </td>
                            <td *ngIf="device.unLikedByEmail ==  null "> {{"N/A"}}</td>
                            <td *ngIf="device.unLikedByEmail != null">{{device.unLikedByEmail}}</td>
                            <td *ngIf="device.unLikedByContactNumber ==  null "> {{"N/A"}}</td>
                            <td *ngIf="device.unLikedByContactNumber != null">{{device.unLikedByContactNumber}}</td>

                            <td>
                              <button type="button" class="btn btn-link" (click)="OpponentDisLikeuserDetailsModal(device)" data-toggle="modal" data-target="#OpponentUserDetails"
                                id="Link-Btn">
                                {{device.unLikedOpponentUser}}
                              </button>
                            </td>
                            <td>{{device.unLikedOpponentUserEmail}}</td>
                            <td>{{device.unLikedOpponentUserContactNumber}}</td>

                            <td>{{device.unLikedOn | date:"medium" }}</td>
                          </tr>
                        </tbody>

                      </table>
                      <pagination-controls (pageChange)="getDisLikes($event)" class="cursor-pointer float-right"></pagination-controls>


                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- SuperLikes user -->
        <div class="tab-pane" id="SuperLikes">
          <div class="modal-body" style="height:500px;">
            <form name="SuperLikes">

              <div class="well well-lg" id="filter-FontStyle">

                <div class="form-group  col-md-6">
                  <label>Search</label>
                  <input type="text" class="form-control form-control-sm" #mySuperLikeInput (keyup)="gotoSearchSuperLikes(mySuperLikeInput.value)"
                    placeholder="Seach by UserName,Email,contactNumber" />

                </div>
                <div class="form-group  col-md-3">
                  <label> From</label>
                  <my-date-picker id="txtUpdateDate1" (dateChanged)="setSuperLikesFromDate($event.formatted)"></my-date-picker>
                </div>
                <div class="form-group  col-md-3">
                  <label> To </label>
                  <my-date-picker id="txtUpdateDate2" (dateChanged)="setSuperLikesToDate($event.formatted)"></my-date-picker>
                </div>
              </div>

            </form>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">
              <div widget class="card">

                <div class="table-responsive" id="table-responsive">
                  <table class="table table-bordered hover">
                    <thead>
                      <tr>
                        <th>S.NO</th>
                        <th>SUPERLIKED BY</th>
                        <th>EMAIL</th>
                        <th>PHONE NO</th>
                        <th>OPPONENT USER</th>
                        <th>PHONE NO </th>
                        <th>EMAIL </th>
                        <th>SUPERLIKED ON</th>
                      </tr>
                    </thead>
                    <tbody id="table-spacing">
                      <tr *ngIf="!superLikeData">
                        <td colspan="8">No Data Found</td>
                      </tr>
                      <tr *ngFor="let data of superLikeData | paginate: {itemsPerPage:rowsOnPage, currentPage:p,totalItems:totalusers }; let i = index"
                        [attr.data-index]="i">
                        <td>{{i+1}}</td>
                        <td>
                          <button type="button" class="btn btn-link" (click)="SuperLikeUserDetailsModal(data)" data-toggle="modal" data-target="#SuperLikesUserDetails"
                            id="Link-Btn">
                            {{data.superLikedBy}}
                          </button>
                        </td>
                        <td *ngIf="data.superLikedByEmail ==  null "> {{"N/A"}}</td>
                        <td *ngIf="data.superLikedByEmail != null">{{data.superLikedByEmail}}</td>
                        <td *ngIf="data.superLikedByContactNumber ==  null "> {{"N/A"}}</td>
                        <td *ngIf="data.superLikedByContactNumber != null">{{data.superLikedByContactNumber}}</td>
                        <td>
                          <button type="button" class="btn btn-link" (click)="OpponentSuperLikeuserDetailsModal(data)" data-toggle="modal" data-target="#OpponentUserDetails"
                            id="Link-Btn">
                            {{data.superLikedOpponentUser}}
                          </button>
                        </td>

                        <td *ngIf="data.superLikedOpponentUserContactNumber ==  null "> {{"N/A"}}</td>
                        <td *ngIf="data.superLikedOpponentUserContactNumber != null">{{data.superLikedOpponentUserContactNumber}}</td>
                        <td *ngIf="data.superLikedOpponentUserEmail ==  null "> {{"N/A"}}</td>
                        <td *ngIf="data.superLikedOpponentUserEmail != null">{{data.superLikedOpponentUserEmail}}</td>
                        <td>{{data.superLikedOn | date:"medium"}}</td>
                      </tr>


                    </tbody>
                  </table>
                  <pagination-controls (pageChange)="getSuperLikes($event)" class="cursor-pointer float-right"></pagination-controls>


                </div>

              </div>
            </div>
          </div>
        </div>

        <!-- Boost user -->
        <div class="tab-pane" id="boost">
          <div class="modal-body" style="height:500px;">
            <form name="boost">
              <div class="row ">
                <div class="well well-lg" id="filter-FontStyle">
                  <div class="form-group  col-md-6">
                    <label>Search</label>
                    <input type="text" class="form-control form-control-sm" #myBoostInput (keyup)="gotoSearchBoost(myBoostInput.value)" placeholder="Seach by UserName"
                      formControlName="search" />
                  </div>
                  <!-- <div class="form-group  col-md-3">
                    <label>Boost From</label>
                    <my-date-picker id="txtUpdateDate1" (dateChanged)="setBoostFromDate($event.formatted)"></my-date-picker>
                  </div>
                  <div class="form-group  col-md-3">
                    <label>Boost To </label>
                    <my-date-picker id="txtUpdateDate2" (dateChanged)="setBoostToDate($event.formatted)"></my-date-picker>
                  </div> -->
                  <div class="form-group  col-md-6">
                    <label> Status </label>
                    <select class="form-control form-control-md" #SetBoostStatus (change)="setBoostStatus(SetBoostStatus.value)" style="height:  34px;">
                      <option value="All">All</option>
                      <option value="ACTIVE">ACTIVE</option>
                      <option value="EXPIRE">EXPIRE</option>
                    </select>
                  </div>
                </div>
              </div>
            </form>

            <div class="clearfix">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">
                  <div widget class="card">
                    <div class="table-responsive" id="table-responsive">
                      <table class="table table-bordered hover">
                        <thead>
                          <tr>
                            <th>NO</th>
                            <th> BOOST USER </th>
                            <th>START DATA </th>
                            <th> EXPIRE DATE </th>
                            <th>LIKES</th>
                            <!-- <th>DISLIKES </th> -->
                            <th>SUPPERLIKES </th>
                            <th>MATCH</th>
                            <!-- <th>UNMATCH</th> -->
                            <th>VIEWS</th>
                            <th>STATUS </th>
                          </tr>
                        </thead>
                        <tbody id="table-spacing">
                          <tr *ngIf="!BoostuserData">
                            <td colspan="8">No Data Found</td>
                          </tr>
                          <tr *ngFor="let device of BoostuserData |paginate: {itemsPerPage:rowsOnPage, currentPage:p,totalItems:totalusers }; let i = index"
                            [attr.data-index]="i">
                            <td>{{i+1}}</td>
                            <td>
                              <button type="button" class="btn btn-link" (click)="boostUserDetailsModal(device)" data-toggle="modal" id="Link-Btn">
                                {{device.boostUserName}}
                              </button>
                            </td>
                            <td>{{device.start | date:"medium" }}</td>
                            <td>{{device.expire | date:"medium" }}</td>
                            <td>{{device.likes}}</td>
                            <!-- <td>{{device.disLikes}}</td> -->
                            <td> {{device.supperLikes}} </td>
                            <td>{{device.match}}</td>
                            <!-- <td>{{device.unmatch}}</td> -->
                            <td>{{device.views}}</td>
                            <td *ngIf="device.isActive ==  1 "> {{"ACTIVE"}}</td>
                            <td *ngIf="device.isActive == 0">{{"EXPIRE"}}</td>
                          </tr>
                        </tbody>
                      </table>
                      <pagination-controls (pageChange)="getboostUserData($event)" class="cursor-pointer float-right"></pagination-controls>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- likeuserdetailmodel -->
    <div id="userDetails" class="modal modal-custom fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content modal-content-custom" style="height:530px; width: 100%">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"> User Details</h4>
          </div>
          <form [formGroup]="userDetailForm" novalidate>
            <div class="col-lg-12 col-xs-12 bottom-15">
              <div class="clearfix">
                <ul class="nav nav-tabs top pull-xs-left">
                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#Profile_Details">Profile</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#Photo_Gallery">Photo</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#video_Gallery_Like">Video</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#Preferences">Preferences</a>
                  </li>
                </ul>
              </div>
              <div class="tab-content top">
                <div class="tab-pane active" id="Profile_Details">
                  <div class="modal-body ">
                    <div class="col-md-3 col-lg-3" style="padding-left: 0px;">



                      <img src="{{userDetails.ProfilePhoto}}" style="height: 100px;width: 100px;">
                    </div>

                    <div class=" col-md-9 col-lg-9 ">
                      <table class="table table-user-information">
                        <tbody id="userDetails-Style">
                          <tr>
                            <td>Name </td>
                            <td>{{userDetails.Name}}</td>
                          </tr>
                          <tr>
                            <td> Phone No </td>
                            <td>{{userDetails.PhoneNo}}</td>
                          </tr>
                          <tr>
                            <td>Email </td>
                            <td>{{userDetails.Email}}</td>
                          </tr>

                          <tr>
                            <td>Registration date and time</td>
                            <td>{{userDetails.RegistrationDate | date: 'dd/MM/yyyy hh:mm:ss a' }}</td>
                          </tr>
                          <tr>
                            <td>Date Of Birth </td>
                            <td>{{userDetails.DateOfBirth | date: 'dd/MM/yyyy'}}</td>
                          </tr>
                          <tr>
                            <td>Age</td>
                            <td>{{userDetails.Age}} </td>
                          </tr>
                          <tr>
                            <td>Gender</td>
                            <td>{{userDetails.Gender}}</td>
                          </tr>
                          <tr>
                            <td>Height</td>
                            <td>{{userDetails.Height}}</td>
                          </tr>
                          <tr>
                            <td>About Me</td>
                            <td>{{userDetails.about}}</td>
                          </tr>
                          <tr>
                            <td>Registered From ( City / Country )</td>
                            <td>{{userDetails.RegisteredFrom}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <!-- Photo_Gallery model -->
                <div class="tab-pane" id="Photo_Gallery">
                  <div class="modal-body col-md-12">
                    <div class="col-md-4" *ngFor="let userImg of userDetails.OtherPhotos let i = index">
                      <img src="{{userImg}}" class="img-rounded" style="margin:5px" width="100%" height="100%" alt="Cinque Terre">
                    </div>
                  </div>
                </div>
                <!-- video_Gallery model -->
                <div class="tab-pane" id="video_Gallery_Like">
                  <div class="modal-body col-md-12">
                    <div class="col-md-4 testVideo">
                      <div *ngIf="userDetails.ProfileVideo == 0">
                        <img src="assets/hqdefault.jpg" width="500px" height="400px" title="No Profile Video Of this User" />
                      </div>
                      <div *ngIf="userDetails.ProfileVideo != 0 ">
                        <video class="videoAutoPlay" width="500px" height="400px" controls>
                          <source src="" type="video/mp4" allowfullscreen>
                          <source src="" type="video/mov" allowfullscreen>
                        </video>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- prefrences model -->
                <div class="tab-pane" id="Preferences">
                  <div style="margin:2%">
                    <div *ngFor="let obj of prefData">
                      <div *ngIf="obj.type==3">
                        <label>
                          <h5>{{obj.title}} : </h5>
                        </label><b> {{obj.selectedValue}} </b>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
    <!-- disLikeUserDetailsModel -->
    <div id="disLikeUserDetails" class="modal modal-custom fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content modal-content-custom" style="height: 530px; width: 100%">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"> User Details</h4>
          </div>
          <form [formGroup]="userDetailForm" novalidate>
            <div class="col-lg-12 col-xs-12 bottom-15">
              <div class="clearfix">
                <ul class="nav nav-tabs top pull-xs-left">
                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#disLikeProfile_Details">Profile</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#disLikePhoto_Gallery">Photo</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#video_Gallery_unLike">Video</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#disLikePreferences">Preferences</a>
                  </li>
                </ul>
              </div>
              <div class="tab-content top">
                <div class="tab-pane active" id="disLikeProfile_Details">
                  <div class="modal-body ">
                    <div class="col-md-3 col-lg-3" style="padding-left: 0px;">



                      <img src="{{userDetails.ProfilePhoto}}" style="height: 100px;width: 100px;">
                    </div>

                    <div class=" col-md-9 col-lg-9 ">
                      <table class="table table-user-information">
                        <tbody id="userDetails-Style">
                          <tr>
                            <td>Name </td>
                            <td>{{userDetails.Name}}</td>
                          </tr>
                          <tr>
                            <td> Phone No </td>
                            <td>{{userDetails.PhoneNo}}</td>
                          </tr>
                          <tr>
                            <td>Email </td>
                            <td>{{userDetails.Email}}</td>
                          </tr>

                          <tr>
                            <td>Registration date and time</td>
                            <td>{{userDetails.RegistrationDate | date: 'dd/MM/yyyy hh:mm:ss a' }}</td>
                          </tr>
                          <tr>
                            <td>Date Of Birth </td>
                            <td>{{userDetails.DateOfBirth | date: 'dd/MM/yyyy'}}</td>
                          </tr>
                          <tr>
                            <td>Age</td>
                            <td>{{userDetails.Age}} </td>
                          </tr>
                          <tr>
                            <td>Gender</td>
                            <td>{{userDetails.Gender}}</td>
                          </tr>
                          <tr>
                            <td>Height</td>
                            <td>{{userDetails.Height}}</td>
                          </tr>
                          <tr>
                            <td>About Me</td>
                            <td>{{userDetails.about}}</td>
                          </tr>
                          <tr>
                            <td>Registered From ( City / Country )</td>
                            <td>{{userDetails.RegisteredFrom}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

                <!-- Photo_Gallery model -->
                <div class="tab-pane" id="disLikePhoto_Gallery">
                  <div class="modal-body col-md-12">
                    <div class="col-md-4" *ngFor="let userImg of userDetails.OtherPhotos let i = index">
                      <img src="{{userImg}}" class="img-rounded" style="margin:5px" width="100%" height="100%" alt="Cinque Terre">
                    </div>
                  </div>
                </div>
                <!-- video_Gallery model -->
                <div class="tab-pane" id="video_Gallery_unLike">
                  <div class="modal-body col-md-12">
                    <div class="col-md-4 testVideo">
                      <div *ngIf="userDetails.ProfileVideo == 0">
                        <img src="assets/hqdefault.jpg" width="500px" height="400px" title="No Profile Video Of this User" />
                      </div>
                      <div *ngIf="userDetails.ProfileVideo != 0 ">
                        <video class="videoAutoPlay" width="500px" height="400px" controls>
                          <source src="" type="video/mp4" allowfullscreen>
                          <source src="" type="video/mov" allowfullscreen>
                        </video>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- prefrences model -->
                <div class="tab-pane" id="disLikePreferences">
                  <div style="margin:2%">
                    <div *ngFor="let obj of prefData">
                      <div *ngIf="obj.type==3">
                        <label>
                          <h5>{{obj.title}} : </h5>
                        </label><b> {{obj.selectedValue}} </b>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
    <!-- SuperLikesUserDetails -->
    <div id="SuperLikesUserDetails" class="modal modal-custom fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content modal-content-custom" style="height: 530px;width: 100%">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"> User Details</h4>
          </div>
          <form [formGroup]="userDetailForm" novalidate>
            <div class="col-lg-12 col-xs-12 bottom-15">
              <div class="clearfix">
                <ul class="nav nav-tabs top pull-xs-left">
                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#superLikeProfile_Details">Profile</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#superLikePhoto_Gallery">Photo</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#video_Gallery_supper">Video</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#superLikePreferences">Preferences</a>
                  </li>
                </ul>
              </div>
              <div class="tab-content top">
                <div class="tab-pane active" id="superLikeProfile_Details">
                  <div class="modal-body ">
                    <div class="col-md-3 col-lg-3" style="padding-left: 0px;">



                      <img src="{{userDetails.ProfilePhoto}}" style="height: 100px;width: 100px;">
                    </div>

                    <div class=" col-md-9 col-lg-9 ">
                      <table class="table table-user-information">
                        <tbody id="userDetails-Style">
                          <tr>
                            <td>Name </td>
                            <td>{{userDetails.Name}}</td>
                          </tr>
                          <tr>
                            <td> Phone No </td>
                            <td>{{userDetails.PhoneNo}}</td>
                          </tr>
                          <tr>
                            <td>Email </td>
                            <td>{{userDetails.Email}}</td>
                          </tr>

                          <tr>
                            <td>Registration date and time</td>
                            <td>{{userDetails.RegistrationDate | date: 'dd/MM/yyyy hh:mm:ss a' }}</td>
                          </tr>
                          <tr>
                            <td>Date Of Birth </td>
                            <td>{{userDetails.DateOfBirth | date: 'dd/MM/yyyy'}}</td>
                          </tr>
                          <tr>
                            <td>Age</td>
                            <td>{{userDetails.Age}} </td>
                          </tr>
                          <tr>
                            <td>Gender</td>
                            <td>{{userDetails.Gender}}</td>
                          </tr>
                          <tr>
                            <td>Height</td>
                            <td>{{userDetails.Height}}</td>
                          </tr>
                          <tr>
                            <td>About Me</td>
                            <td>{{userDetails.about}}</td>
                          </tr>
                          <tr>
                            <td>Registered From ( City / Country )</td>
                            <td>{{userDetails.RegisteredFrom}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <!-- Photo_Gallery model -->
                <div class="tab-pane" id="superLikePhoto_Gallery">
                  <div class="modal-body col-md-12">
                    <div class="col-md-4" *ngFor="let userImg of userDetails.OtherPhotos let i = index">
                      <img src="{{userImg}}" class="img-rounded" style="margin:5px" width="100%" height="100%" alt="Cinque Terre">
                    </div>
                  </div>
                </div>
                <!-- video_Gallery model -->
                <div class="tab-pane" id="video_Gallery_supper">
                  <div class="modal-body col-md-12">
                    <div class="col-md-4 testVideo">
                      <div *ngIf="userDetails.ProfileVideo == 0">
                        <img src="assets/hqdefault.jpg" width="500px" height="400px" title="No Profile Video Of this User" />
                      </div>
                      <div *ngIf="userDetails.ProfileVideo != 0 ">
                        <video class="videoAutoPlay" width="550px" height="400px" controls>
                          <source src="" type="video/mp4" allowfullscreen>
                          <source src="" type="video/mov" allowfullscreen>
                        </video>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- prefrences model -->
                <div class="tab-pane" id="superLikePreferences">
                  <div style="margin:2%">
                    <div *ngFor="let obj of prefData">
                      <div *ngIf="obj.type==3">
                        <label>
                          <h5>{{obj.title}} : </h5>
                        </label><b> {{obj.selectedValue}} </b>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
    <!-- OpponentUserlikemodel -->
    <div id="OpponentUserDetails" class="modal modal-custom fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content modal-content-custom" style="height: 530px;width: 100%">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"> User Details</h4>
          </div>
          <form [formGroup]="userDetailForm" novalidate>
            <div class="col-lg-12 col-xs-12 bottom-15">
              <div class="clearfix">
                <ul class="nav nav-tabs top pull-xs-left">
                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#OpponentProfile_Details">Profile</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#OpponentPhoto_Gallery">Photo</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#video_Gallery_opLike">Video</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#oppPreferences">Preferences</a>
                  </li>
                </ul>
              </div>
              <div class="tab-content top">
                <div class="tab-pane active" id="OpponentProfile_Details">
                  <div class="modal-body ">
                    <div class="col-md-3 col-lg-3" style="padding-left: 0px;">



                      <img src="{{userDetails.ProfilePhoto}}" style="height: 100px;width: 100px;">
                    </div>

                    <div class=" col-md-9 col-lg-9 ">
                      <table class="table table-user-information">
                        <tbody id="userDetails-Style">
                          <tr>
                            <td>Name </td>
                            <td>{{userDetails.Name}}</td>
                          </tr>
                          <tr>
                            <td> Phone No </td>
                            <td>{{userDetails.PhoneNo}}</td>
                          </tr>
                          <tr>
                            <td>Email </td>
                            <td>{{userDetails.Email}}</td>
                          </tr>

                          <tr>
                            <td>Registration date and time</td>
                            <td>{{userDetails.RegistrationDate | date: 'dd/MM/yyyy hh:mm:ss a' }}</td>
                          </tr>
                          <tr>
                            <td>Date Of Birth </td>
                            <td>{{userDetails.DateOfBirth | date: 'dd/MM/yyyy'}}</td>
                          </tr>
                          <tr>
                            <td>Age</td>
                            <td>{{userDetails.Age}} </td>
                          </tr>
                          <tr>
                            <td>Gender</td>
                            <td>{{userDetails.Gender}}</td>
                          </tr>
                          <tr>
                            <td>Height</td>
                            <td>{{userDetails.Height}}</td>
                          </tr>
                          <tr>
                            <td>About Me</td>
                            <td>{{userDetails.about}}</td>
                          </tr>
                          <tr>
                            <td>Registered From ( City / Country )</td>
                            <td>{{userDetails.RegisteredFrom}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

                <!-- Photo_Gallery model -->
                <div class="tab-pane" id="OpponentPhoto_Gallery">
                  <div class="modal-body col-md-12">
                    <div class="col-md-4" *ngFor="let userImg of userDetails.OtherPhotos let i = index">
                      <img src="{{userImg}}" class="img-rounded" style="margin:5px" width="100%" height="100%" alt="Cinque Terre">
                    </div>
                  </div>
                </div>
                <!-- video_Gallery model -->
                <div class="tab-pane" id="video_Gallery_opLike">
                  <div class="modal-body col-md-12">
                    <div class="col-md-4 testVideo">
                      <div *ngIf="userDetails.ProfileVideo == 0">
                        <img src="assets/hqdefault.jpg" width="500px" height="400px" title="No Profile Video Of this User" />
                      </div>
                      <div *ngIf="userDetails.ProfileVideo != 0 ">
                        <video class="videoAutoPlay" width="550px" height="400px" controls>
                          <source src="" type="video/mp4" allowfullscreen>
                          <source src="" type="video/mov" allowfullscreen>
                        </video>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- prefrences model -->
                <div class="tab-pane" id="oppPreferences">
                  <div style="margin:2%">
                    <div *ngFor="let obj of prefData">
                      <div *ngIf="obj.type==3">
                        <label>
                          <h5>{{obj.title}} : </h5>
                        </label><b> {{obj.selectedValue}} </b>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</body>

</html>