<html>

<head>
    <title>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="clearfix">
        <ol class="breadcrumb" id="breadcumb">
            <li (click)="refresh()" class="breadcrumb-item active">Coin Configuration</li>
            <!-- <div class="pull-right">
                <button class="btn btn-primary btn-sm" (click)="backToUsers()" id="btn-back">Back to Users</button>
            </div> -->
        </ol>
        <div class="col-lg-12 col-xs-12 bottom-15">
            <div class="clearfix">
                <ul class="nav nav-tabs top pull-xs-left" style="margin-top:  16px;  border-bottom: none;">
                    <!-- <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" (click)="getCoinWalletData(1)" href="#CoinWallet">Coin
                            Wallet
                        </a>
                    </li> -->
                    <!-- <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" (click)="getCoinConfig()" href="#CoinConfiguration">Coin Configuration</a>
                    </li> -->
                    <!-- <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" (click)="getdollarToCoin()" href="#dollarToCoin">Dollar To
                            Coin
                        </a>
                    </li> -->
                </ul>
            </div>
            <div class="tab-content top">
                <div class="tab-pane " id="CoinWallet">
                    <div class="modal-body" style="height: 500px;">
                        <form name="myForm" id="myForm">
                            <div class="row " id="row">
                                <div class="well  well-lg" id="form-div">
                                    <!-- <div class="form-group  col-md-4">
                                        <label>Search</label>
                                        <input type="text" class="form-control form-control-sm" #mySearchInput (keyup)="SearchByText(mySearchInput.value)" placeholder="Seach by Txn Type"
                                        />
                                    </div> -->
                                    <div class="form-group  col-md-4">
                                        <label> Txn Type </label>
                                        <select class="form-control form-control-md" #SetTxnType (change)="setTxnType(SetTxnType.value)" style="height:  34px;">
                                            <option value="All">All</option>
                                            <option value="DEBIT">DEBIT</option>
                                            <option value="CREDIT">CREDIT</option>
                                        </select>
                                    </div>
                                    <div class="form-group  col-md-4">
                                        <label> From</label>
                                        <my-date-picker id="txtUpdateDate1" (dateChanged)="SearchByFromDate($event.formatted)" name="mydate" [(ngModel)]="date" formControlName="myDate"></my-date-picker>
                                    </div>
                                    <div class="form-group  col-md-4">
                                        <label> To </label>
                                        <my-date-picker id="txtUpdateDate2" (dateChanged)="SearchByToDate($event.formatted)" name="mydate" [(ngModel)]="date" formControlName="myDate"></my-date-picker>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="clearfix">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">
                                    <div widget class="card">
                                        <div class="table-responsive" id="table-responsive">
                                            <table class="table table-bordered hover">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th> TXN TYPE </th>
                                                        <th>COST </th>
                                                        <th> CURRENCY </th>
                                                        <th>CURRENCY SYMBOL </th>
                                                        <th>PAYMENT TYPE </th>
                                                        <th>PAYMENT TXN ID </th>
                                                        <th>TRANSACTION DATE </th>
                                                        <th>TRANSACTION TIME </th>
                                                        <th>DATE </th>
                                                        <th>COIN OPENING BALANCE </th>
                                                        <th>COIN CLOSING BALANCE </th>
                                                        <th>INITIATED BY </th>
                                                        <th>TRIGGER </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngIf="!coinWallet">
                                                        <td colspan="17">No Data Found</td>
                                                    </tr>
                                                    <tr *ngFor="let coin of coinWallet | paginate: {itemsPerPage:rowsOnPage, currentPage:p,totalItems:totalusers }; let i = index"
                                                        [attr.data-index]="i">
                                                        <td>{{i+1}}</td>
                                                        <td>{{coin.txnType}}</td>
                                                        <td>{{coin.cost}}</td>
                                                        <td>{{coin.currency}}</td>
                                                        <td *ngIf="coin.currencySymbol ==null">N/A</td>
                                                        <td *ngIf="coin.currencySymbol !=null">{{coin.currencySymbol }}</td>
                                                        <td>{{coin.paymentType}}</td>
                                                        <td>{{coin.paymentTxnId}}</td>
                                                        <td>{{coin.transctionDate | date:'dd/MM/yyyy'}}</td>
                                                        <td>{{coin.transctionTime | date:'hh:mm:ss a'}}</td>
                                                        <td>{{coin.timestamp | date:'dd/MM/yyyy hh:mm:ss a'}}</td>
                                                        <td>{{coin.opeingBalance}}</td>
                                                        <td>{{coin.closingBalance}}</td>
                                                        <td>{{coin.initatedBy}}</td>
                                                        <td>{{coin.trigger}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <pagination-controls (pageChange)="getCoinWalletData($event)" class="cursor-pointer float-right"></pagination-controls>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- show coinconfig -->
                <div class="tab-pane active" id="CoinConfiguration">
                    <div class="modal-body" style="height: 500px;">
                        <div>
                            <button class="btn btn-info btn-md pull-right" data-toggle="modal" style="margin: -33px 12px 12px 0px;" disabled data-target="#addconf">Add</button>
                        </div>
                        <div class="clearfix">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">
                                    <div widget class="card">
                                        <div class="table-responsive" id="table-responsive">
                                            <table class="table table-bordered hover">
                                                <thead>
                                                    <tr>
                                                        <th>NO</th>
                                                        <th> TITLE </th>
                                                        <th>TYPE </th>
                                                        <th>COIN </th>
                                                        <th>ACTION</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngIf="!CoinConfig">
                                                        <td colspan="7">No Data Found</td>
                                                    </tr>
                                                    <tr *ngFor="let conf of array ; let i = index">
                                                        <td>{{i+1}}</td>
                                                        <td> {{conf.title}} </td>
                                                        <td>{{conf.key}} </td>
                                                        <td>{{conf.value}} </td>
                                                        <td id="test" style="text-align: center">
                                                            <button type="button" class="btn-cust fa-2x" data-toggle="modal" data-target="#editcoinconf" style="color:  dodgerblue;"
                                                            disabled  title="Edit CoinConf" (click)="EditCoinConf(conf)">
                                                                <i class="ion-edit fa-2x" style="cursor: pointer;"></i>
                                                            </button>
                                                            <button type="button" class="btn-cust fa-2x" disabled style="color:  red;" title="Delete CoinConf" (click)="DeleteCoinconf(conf.title)">
                                                                <i class="ion-android-delete fa-2x" style="cursor: pointer;"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- show Dolaar to coin -->
                <div class="tab-pane " id="dollarToCoin">
                    <div class="modal-body" style="height: 500px;">
                        <div>
                            <!-- <button class="btn btn-info btn-md pull-right" data-toggle="modal" style="margin: -33px 12px 12px 0px;" data-target="#addconf">Add</button> -->
                        </div>
                        <div class="clearfix">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">
                                    <div widget class="card">
                                        <div class="table-responsive" id="table-responsive">
                                            <table class="table table-bordered hover">
                                                <thead>
                                                    <tr>
                                                        <th>NO</th>
                                                        <th>Dollar </th>
                                                        <th>COIN </th>
                                                        <th>ACTION</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngIf="!dollarCoinData">
                                                        <td colspan="7">No Data Found</td>
                                                    </tr>
                                                    <tr *ngFor="let conf of dollarCoinData ; let i = index">
                                                        <td>{{i+1}}</td>
                                                        <td> {{conf.dollar}} </td>
                                                        <td>{{conf.Coin}} </td>
                                                        <td id="test" style="text-align: center">
                                                            <button type="button" class="btn-cust fa-2x" data-toggle="modal" data-target="#editcoinconf" style="color:  dodgerblue;"
                                                                title="Edit CoinConf" (click)="EditCoinDollar(conf)">
                                                                <i class="ion-edit fa-2x" style="cursor: pointer;"></i>
                                                            </button>
                                                            <button type="button" class="btn-cust fa-2x" style="color:  red;" title="Delete CoinConf" (click)="DeleteCoinDollar(conf.title)">
                                                                <i class="ion-android-delete fa-2x" style="cursor: pointer;"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- add coinconfig model -->
    <div id="addconf" class="modal  modal-custom fade" role="dialog">
        <div class=" ">
            <div class="modal-dialog">
                <div class="modal-content" style="width: 491px">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h5 class="modal-title">Add CoinConfiguration</h5>
                    </div>
                    <form [formGroup]="addcoinconfig" (submit)="store(addcoinconfig.value)">
                        <div class="modal-body col-md-12">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">
                                <div class="form-group col-lg-12">
                                    <label class="form-group">Title
                                        <sup>*</sup>
                                    </label>
                                    <input type="text" required class="form-control form-control-md input-tags mydata" [formControl]="addcoinconfig.controls['title']"
                                        [ngModel]="addcoinconfig.title" placeholder="CoinConfigTitle" data-role="tagsinput" class="mydata"
                                        style="height: 35px; margin-left:43px;width: 260px;  border: 1px solid #ccc; border-radius: 10px;">
                                </div>
                                <div class="form-group col-lg-12">
                                    <label class="form-group">Type
                                        <sup>*</sup>
                                    </label>
                                    <select #rowpage [ngModel]="addcoinconfig.coinTitle" style="height: 35px;width: 260px; margin-left: 40px; border: 1px solid #ccc; border-radius: 10px;"
                                        [formControl]="addcoinconfig.controls['coinTitle']" class="form-control mb-2" class="input-tags"
                                        data-role="tagsinput" class="mydata">
                                        <option value="">--Select Coin--</option>
                                        <option *ngFor="let coinname of CoinData" required [ngValue]="coinname.coinTitle">{{coinname.coinTitle}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-12">
                                    <label class="form-group">Coin
                                        <sup>*</sup>
                                    </label>
                                    <input type="text" required class="form-control form-control-md input-tags mydata" [formControl]="addcoinconfig.controls['amount']"
                                        [ngModel]="addcoinconfig.amount" placeholder="Coin Amount" data-role="tagsinput" class="mydata"
                                        style="height: 35px;width: 260px;  border: 1px solid  #ccc;margin-left:42px; border-radius: 10px;">
                                </div>
                                <div class="{{erro}}" role="alert" *ngIf="error">{{errorMessage}}</div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary btn-sm btn-style" style="margin-left: 158px;" [disabled]="!addcoinconfig.valid"
                                id="save-Btn">Save</button>
                            <button type="button" class="btn  btn-style cancel-button" data-dismiss="modal" style="border: 1px solid #7f7f7f; height: 30px; width: 80px; padding:0px; margin-left: 10px;">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- editcoinconfigmodel -->
    <div id="editcoinconf" class="modal  modal-custom fade" role="dialog">
        <div class=" ">
            <div class="modal-dialog">
                <div class="modal-content" style="width: 491px">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h5 class="modal-title">Update CoinConfiguration</h5>
                    </div>
                    <form [formGroup]="editcoinconfig" (submit)="editCoinConfig(editcoinconfig.value)">
                        <div class="modal-body col-md-12">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">
                                <div class="form-group col-lg-12">
                                    <label class="form-group">Title
                                        <sup>*</sup>
                                    </label>
                                    <input type="text" required class="form-control form-control-md input-tags mydata" [formControl]="editcoinconfig.controls['title']"
                                        [(ngModel)]="data.title" placeholder="CoinConfigTitle" data-role="tagsinput" class="mydata"
                                        style="height: 35px; margin-left:43px;width: 260px;  border: 1px solid #ccc; border-radius: 10px;">
                                </div>
                                <div class="form-group col-lg-12">
                                    <label class="form-group">Type
                                        <sup>*</sup>
                                    </label>
                                    <select #rowpage [(ngModel)]="data.key" style="height: 35px;width: 260px; margin-left: 40px; border: 1px solid #ccc; border-radius: 10px;"
                                        [formControl]="editcoinconfig.controls['coinTitle']" class="form-control mb-2" class="input-tags"
                                        data-role="tagsinput" class="mydata">
                                        <option value="">--Select Coin--</option>
                                        <option *ngFor="let coinname of CoinData" required [ngValue]="coinname.coinTitle">{{coinname.coinTitle}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-12">
                                    <label class="form-group">Coin
                                        <sup>*</sup>
                                    </label>
                                    <input type="text" required class="form-control form-control-md input-tags mydata" [formControl]="editcoinconfig.controls['amount']"
                                        [(ngModel)]="data.value" placeholder="Coin Amount" data-role="tagsinput" class="mydata"
                                        style="height: 35px;width: 260px;  border: 1px solid  #ccc;margin-left:42px; border-radius: 10px;">
                                </div>
                                <div class="{{erro}}" role="alert" *ngIf="error">{{errorMessage}}</div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary btn-sm btn-style" style="margin-left: 158px;" [disabled]="!editcoinconfig.valid"
                                id="save-Btn">Update</button>
                            <button type="button" class="btn  btn-style cancel-button" data-dismiss="modal" style="border: 1px solid #7f7f7f; height: 30px; width: 80px; padding:0px; margin-left: 10px;">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</body>

</html>