<html>

<head>
    <title>
    </title>

</head>

<body>
    <div class="clearfix">
        <div>
            <ol class="breadcrumb" id="breadcumb">
                <li (click)="refresh()" class="breadcrumb-item active">Languages</li>
            </ol>
        </div>
        <!-- </div> -->
        <div class="col-lg-12 col-xs-12 bottom-15" style="bottom: 20px;">
            <div class="clearfix">
                <ul class="nav nav-tabs top pull-xs-left" style="margin-top:  16px;  border-bottom: none;">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" (click)="activelanguage(1)"
                            href="#Active">Active</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" (click)="deActivelanguage(0)"
                            href="#Deleted">De-Active</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content top" id="tab-contenttop">
                <div class="tab-pane active" id="Active">
                    <div class="modal-body">
                        <form name="ActivePlan">
                            <div class="row ">
                                <div>
                                    <button class="btn btn-primary btn-sm pull-right" style="margin: -2px 21px 12px 0;"
                                       disabled (click)="AddLanguage()">Add Language</button>

                                </div>
                            </div>
                        </form>
                        <div class="clearfix">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 ">
                                    <div widget class="card">
                                        <div class="table-responsive">
                                            <table class="table table-bordered hover">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align: center">No</th>
                                                        <th style="text-align: center"> Language Name </th>
                                                        <th style="text-align: center"> Language Code </th>
                                                        <th style="text-align: center">RTL</th>
                                                        <th style="text-align: center">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngIf="!data">
                                                        <td colspan="7" style="text-align: center">No Data Found</td>
                                                    </tr>
                                                    <tr *ngFor="let obj of data; let i = index"
                                                        style="text-align: center">
                                                        <td>{{i+1}}</td>
                                                        <td>{{obj.name}}</td>
                                                        <td>{{obj.code}}</td>
                                                        <td>{{obj.isRtl}}</td>

                                                        <td id="test" style="text-align: center">
                                                            <button type="button" class="btn-cust fa-2x"
                                                                data-toggle="modal" data-target="#editLanguage"
                                                                disabled     style="color:  dodgerblue;" title="Edit language"
                                                                (click)="editLanguages(obj)">
                                                                <i class="ion-edit fa-2x" style="cursor: pointer;"></i>
                                                            </button>


                                                            <button type="button" class="btn-cust fa-2x"
                                                            disabled    style="color:  red;" title="Delete language"
                                                                (click)="showModalDelete(obj._id,0)">
                                                                <i class="ion-android-delete fa-2x"
                                                                    style="cursor: pointer;"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <pagination-controls *ngIf="count > 0 && ids.length == 0"
                                                (pageChange)="getAllUsers($event)" id="1" directionLinks="true"
                                                autoHide="true">
                                            </pagination-controls>
                                            <pagination-controls *ngIf="count > 0 && ids.length>=1" autoHide="true">
                                            </pagination-controls>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane " id="Deleted">
                    <form name="ActivePlan">
                        <div class="row ">

                        </div>
                    </form>
                    <div class="clearfix">
                        <div class="row">
                            <div style="padding: 55px 31px 0px 29px;"
                                class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">
                                <div widget class="card">
                                    <div class="table-responsive">
                                        <table class="table table-bordered hover">
                                            <thead>
                                                <tr>
                                                    <th style="text-align: center">No</th>
                                                    <th style="text-align: center"> Language Name </th>
                                                    <th style="text-align: center"> Language Code </th>
                                                    <th style="text-align: center">RTL</th>
                                                    <th style="text-align: center">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngIf="!data">
                                                    <td colspan="7" style="text-align: center">No Data Found</td>
                                                </tr>
                                                <tr *ngFor="let obj of data; let i = index" style="text-align: center">
                                                    <td>{{i+1}}</td>
                                                    <td>{{obj.name}}</td>
                                                    <td>{{obj.code}}</td>
                                                    <td>{{obj.isRtl}}</td>

                                                    <td id="test" style="text-align: center">
                                                        <button type="button" class="btn-cust fa-2x"
                                                        disabled    style="color:  dodgerblue;" title="recover this language"
                                                            (click)="showModalDelete(obj._id,1)">
                                                            <i class="icon ion-refresh fa-2x"
                                                                style="cursor: pointer;"></i>
                                                        </button>


                                                        <button type="button" class="btn-cust fa-2x"
                                                            style="color:  red;"
                                                            disabled     title="Delete this language permanently"
                                                            (click)="showModalDelete(obj._id,3)">
                                                            <i class="ion-android-delete fa-2x"
                                                                style="cursor: pointer;"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <pagination-controls *ngIf="count > 0 && ids.length == 0"
                                            (pageChange)="getAllUsers($event)" id="1" directionLinks="true"
                                            autoHide="true">
                                        </pagination-controls>
                                        <pagination-controls *ngIf="count > 0 && ids.length>=1" autoHide="true">
                                        </pagination-controls>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>



























<!-- 
<div class="clearfix">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Languages</li>
        <div class="pull-right">
            <button class="btn btn-primary btn-sm" style="margin: 6px 69px 0 0;" (click)="AddLanguage()">Add Language</button>
        </div>
    </ol>


</div> -->
<!-- show language -->
<!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">
    <div widget class="card">
        <div class="table-responsive">
            <table class="table table-bordered hover">
                <thead>
                    <tr >
                        <th style="text-align: center">No</th>
                        <th style="text-align: center"> Language Name </th>
                        <th style="text-align: center"> Language Code </th>
                        <th style="text-align: center">RTL</th>
                        <th style="text-align: center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="!data">
                        <td colspan="7" style="text-align: center">No Data Found</td>
                    </tr>
                    <tr *ngFor="let obj of data; let i = index" style="text-align: center">
                        <td>{{i+1}}</td>
                        <td>{{obj.name}}</td>
                        <td>{{obj.code}}</td>
                        <td>{{obj.isRtl}}</td>

                        <td id="test" style="text-align: center">
                            <button type="button" class="btn-cust fa-2x" data-toggle="modal" data-target="#editLanguage"
                                style="color:  dodgerblue;" title="Edit Reason" (click)="editLanguages(obj)">
                                <i class="ion-edit fa-2x" style="cursor: pointer;"></i>
                            </button>


                            <button type="button" class="btn-cust fa-2x" style="color:  red;" title="Delete Reason"
                                (click)="showModalDelete(obj._id)">
                                <i class="ion-android-delete fa-2x" style="cursor: pointer;"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls *ngIf="count > 0 && ids.length == 0" (pageChange)="getAllUsers($event)" id="1"
                directionLinks="true" autoHide="true">
            </pagination-controls>
            <pagination-controls *ngIf="count > 0 && ids.length>=1" autoHide="true">
            </pagination-controls>
        </div>
    </div>
</div> -->

<!-- Add Modal -->
<div class="modal fade" id="addLanguage" role="dialog" aria-labelledby="modal-label"
    style="display: none;padding-top: 2%;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-transform">
                Add Language
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="modal-label"></h4>
            </div>
            <form [formGroup]="addLanguage" (ngSubmit)="submitForm(addLanguage)">
                <div class="modal-body">
                    <div class="form-group required col-xs-12">
                        <label for="input-2" class="col-xs-3">Language Name</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control checking-field" placeholder="Enter langeugeName"
                                [formControl]="addLanguage.controls['langeugeName']"
                                [ngModel]="addLanguage.langeugeName">
                            <div *ngIf="addLanguage.controls['langeugeName'].errors && (addLanguage.controls['langeugeName'].dirty || addLanguage.controls['langeugeName'].touched)"
                                class="alert alert-danger">
                                <div [hidden]="!addLanguage.controls['langeugeName'].errors.required">
                                    Language Name is Required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group required col-xs-12">
                        <label for="input-2" class="col-xs-3">Language Code</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control checking-field" placeholder="Enter langeugeCode"
                                [formControl]="addLanguage.controls['langeugeCode']"
                                [ngModel]="addLanguage.langeugeCode">
                            <div *ngIf="addLanguage.controls['langeugeCode'].errors && (addLanguage.controls['langeugeCode'].dirty || addLanguage.controls['langeugeCode'].touched)"
                                class="alert alert-danger">
                                <div [hidden]="!addLanguage.controls['langeugeCode'].errors.required">
                                    Language code is Required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group required col-xs-12">
                        <label for="input-2" class="col-xs-3">is RTL</label>
                        <div class="col-xs-9">
                            <input type="checkbox" checked [formControl]="addLanguage.controls['isMandatory']"
                                [ngModel]="isMandatory" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="pull-right" style="text-align: center;">
                        <!-- <button type="submit" class="btn btn-primary" [disabled]="!addLanguage.valid">Add</button> -->
                        <button type="submit" class="btn btn-primary">Add</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editLanguage" role="dialog" aria-labelledby="modal-label"
    style="display: none;padding-top: 2%;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-transform">
                Edit Language
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="modal-label"></h4>
            </div>
            <form [formGroup]="editLanguage" (ngSubmit)="updateLanguage(editLanguage)">
                <div class="modal-body">

                    <div class="form-group required col-xs-12">
                        <label for="input-2" class="col-xs-3">Language Name</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control checking-field" placeholder="Enter langeugeName"
                                [formControl]="editLanguage.controls['newlangeugeName']" [ngModel]="oldlanguageName">
                            <div *ngIf="editLanguage.controls['newlangeugeName'].errors && (editLanguage.controls['newlangeugeName'].dirty || editLanguage.controls['newlangeugeName'].touched)"
                                class="alert alert-danger">
                                <div [hidden]="!editLanguage.controls['newlangeugeName'].errors.required">
                                    Language Name is Required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group required col-xs-12">
                        <label for="input-2" class="col-xs-3">Language Code</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control checking-field" placeholder="Enter langeugeCode"
                                [formControl]="editLanguage.controls['newlangeugeCode']" [ngModel]="oldlanguageCode">
                            <div *ngIf="editLanguage.controls['newlangeugeCode'].errors && (editLanguage.controls['newlangeugeCode'].dirty || editLanguage.controls['newlangeugeCode'].touched)"
                                class="alert alert-danger">
                                <div [hidden]="!editLanguage.controls['newlangeugeCode'].errors.required">
                                    Language code is Required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group required col-xs-12">
                        <label for="input-2" class="col-xs-3">is RTL</label>
                        <div class="col-xs-9">
                            <input type="checkbox" [checked]="oldRtl"
                                [formControl]="editLanguage.controls['newisMandatory']" [ngModel]="isMandatory" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer  ">
                    <div class="pull-right" style="text-align: center;">
                        <!-- <button type="submit" class="btn btn-primary" [disabled]="!editLanguage.valid">Add</button> -->
                        <button type="submit" class="btn btn-primary">Update</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>