//  @import "../../theme/styles/variables";
 @import "../../global.scss";

.breadcrumb-item{
      cursor:pointer;
    //   padding-left: 50px;
  
}
#breadcumb{
    background-color: white;
}
#clearfix{
    background: white;
}
.tab-content{
    border: none;
}
#btn-style{
    border-radius: 5px; background-color: black;
}
#myForm{
    margin-left: -25px;
}
#row{
    margin: 15px;
}
#form-div{
    height: 100px;
     padding-left: 10px; margin-bottom:5px;
}
#top-margins{
    margin-top: -30px;
}