
 @import "assets/userscss/nouislider.min.css";
       @import "../../global.scss";

body{

    font-size: $bodyfontsize-manual;
  //  line-height: 1.2;// effects dashboard thumbnails yelow colors
    color:$bodycolor-manual;
}



// /////////////////////////////////////////////////Push Html
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// /////////////////////////////////////////////////Push Html
  .sebm-google-map-container {
      height: 550px;
  
    }

// puts the google places autocomplete dropdown results above the bootstrap modal 1050 zindex.
.pac-container {
  z-index:200000;
}
  
 .gmap{
   z-index:9999999999999999999;
  
 }

 label{
    color: #4B6674 !important;
    font-weight: bold;
}

   .cropperbox {
            background-color: rgba(0,0,0,0.05);
        }
        #croppingBox {
           z-index:200001;
        }
          #croppingBoxPush {
           z-index:200001;
        }
            #detailsBoxPush {
           z-index:200001;
        }
        .alignment{
          padding-left: 25%;
        }
  .result {
   margin-top: 30px;
            border: 1px solid rgba(125,125,125,0.6);
            display: inline-block;
            padding: 1px;
        }

          .preview-box {
    height:120px;
    width:247px;
         }
          .preview-box-lg {
         //   padding-left:12%;
    height:330px;
    width:330px;
         }
        
           .preview-img-list {
    height:125px;
    width:128px;
         }
.custom-select{

    font-size: 10px;    // for select box
}
        .nav-tabs {
    background-color: #ececec;
    border: 1px solid #ececec;
}
 .cropperbox-profile {
             height:154px;
            width:154px;
            border-radius: 7px;
// padding-top:4px;
 margin:15px
        }
        .glyphicon{
          cursor:pointer;
        }


.breadcrumb-item{
      cursor:pointer;
  
}
#breadcrumb{
    background-color: white;
}



/**  Slider range             */
 
.noUi-target {
    height: 13px;

}

 .btn-smm{
     padding: 3px;
    font-size: 0.875rem;
 }
 .btn-smms{
     padding: 10px;
    font-size: 0.875rem;
    margin:10px
 }

.profilebox-profile {
    height: 154px;
    width: 154px;
    border-radius: 15px;
    margin: 15px;
}
.profilebox-profileNotifcatn {
    height: 184px;
    width: 184px;
    border-radius: 17px;
    margin: 15px;
}

.cke_dialog .cke_browser_webkit .cke_ltr .cke_dialog_body{

z-index: 99999;
}

.faded{

z-index: 9999;
}
.fadedPush{

z-index: 99999;
}
.modal-content-custom{
    height: 500px;  
    width:600px;
}
.modal-body{
    padding: 0px;

}
.modal-header{
   width: 100%;
   border-bottom:none;
}
.tab-content .tab-pane{
    padding: 10px;
}
.tab-content{
    border:none;
    margin: 10px;

}
img.myImage {
  width: 100%;
  height: 435px;
  object-fit: contain;
}
input[type="text"]{
    border-radius: 25px;
   
    padding: 17px; 
    width: 100%;
    height: 10px;
    
}
.btn{
    border-radius: 12px;
    border: none; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    // margin: 4px 2px;
    cursor: pointer;
}
.btn-link{
    font-size: 12px;
}
.btn .btn-default{
    line-height: 0px;
}
.modal-footer
{
  border-top: none;  
}
// img {
//     border-radius: 50%;
//     margin-left: 150px;
   

//   }
.btn .btn-info{
    margin-top: 5px;
    height: 10%;
    width: 100%;
    margin-left: 100px;
}
.sebm-google-map-container {
    height: 400px;
}
.fa-2x {
   
   
    font-size: 1.4em;

}
  .form-control-sm{
   
   
    padding: 0px;
        line-height: 1.25;
    color: #555;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
  }
  .cropperbox-profile{
    height: 154px;
    width: 154px;
   
    margin: 15px;
  }
  .ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}
.cropperbox-profile {
    height: 100px;
    width: 100px;
   
    border-radius: 100%;
    margin-left: 160px;
}
.container {
    position: relative;
    width: 100%;
    
}
.table th, .table td {
    padding: 0.50rem;
    font-size: 12px;
    
}
.table tr:hover td{
    background: #F0F0F0;
}
.container img {
   
    height: auto;
}

.mat-icons {
    font-size: 30px;
    color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: black;
    line-height:1.3;
    margin-left: 140px;
}
.container .btn {
    position: absolute;
    top: 55%;
    left: 43%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    // background-color: #555;
    // color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.container .btn:hover {
    background-color: black;
}
.form-control-sm {
   padding-left: 25px;
    line-height: 1.25;
    color: #555;
    background-color: #fff;
    //  background-image:black;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
}
.custom-select {
    font-size: 12px;
}
.form-control{
    border-radius: 12px;
    padding: 0.65rem 0.75rem;
    padding-right: 30px;
   // background-clip: padding-box;
    background-image:black;

}
.top-10 {
    padding-top: 10px;
}
.well {
    min-height: 20px;
    padding: 15px;
}
.nav-tabs .nav-item .nav-link.active{
    border-bottom: 4px solid #f55753;
}
.nav-tabs{
    border-bottom: none;
    background-color: white;
    border:none;
}

// .dot {
//     height: 20px;
//     width: 20px;
//     background-color: green;
//     border-radius: 50%;
//     display: inline-block;
//     margin-top: -25px;
//     margin-bottom: -5px;
// }
.myselect{
    text-align:center; 
    height: 41%;
     display: block;
    width: 150%;
   height: 34px;
    font-size: 14px;
     line-height: 1.42857143;
     color: #555;
     background-color: #fff;
                                                                 
     border: 1px solid #ccc;
                                                                
     -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
     box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
     transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
@mixin range-slider($width, $height, $input-top, $input-bg-color, $input-thumb-color, $float:none, $input-height:20px, $input-border-radius:14px) {
    position: relative;
    width: $width;
    height: 40px;
    // $height;
    float: $float;
    text-align: center;
    // background-color: rgba(0, 0, 0, 1);
      
    input[type="range"] {
      pointer-events: none;
      position: absolute;
      -webkit-appearance: none;
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0);    
      border: none;
      border-radius: $input-border-radius;
      background: $input-bg-color;
      box-shadow: inset 0 1px 0 0 darken($input-bg-color,15%), inset 0 -1px 0 0 darken($input-bg-color,10%);
      -webkit-box-shadow: inset 0 1px 0 0 darken($input-bg-color,15%), inset 0 -1px 0 0 darken($input-bg-color,10%);
      overflow: hidden;
      left: 0;
    //    top: $input-top;
    top: 20px;
      width: $width;
      outline: none;
      height: $input-height;
      margin: 0;
      padding: 0;
    }  
    
    input[type="range"]::-webkit-slider-thumb {
      pointer-events: all;
      position: relative;
      z-index: 1;
      outline: 0;    
      -webkit-appearance: none;
      width: $input-height;
      height: $input-height;
      border: none;
      border-radius: $input-border-radius;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, lighten($input-thumb-color,60%)), color-stop(100%, $input-thumb-color)); /* android <= 2.2 */
      background-image: -webkit-linear-gradient(top , lighten($input-thumb-color,60%) 0, $input-thumb-color 100%); /* older mobile safari and android > 2.2 */;
      background-image: linear-gradient(to bottom, lighten($input-thumb-color,60%) 0, $input-thumb-color 100%); /* W3C */
    }
    
    input[type="range"]::-moz-range-thumb {
      pointer-events: all;
      position: relative;
      z-index: 10;
      -moz-appearance: none;
      width: $input-height;
      height: $input-height;
      border: none;
      border-radius: $input-border-radius;
      background-image: linear-gradient(to bottom, lighten($input-thumb-color,60%) 0, $input-thumb-color 100%); /* W3C */
    }
  
    input[type="range"]::-ms-thumb {
      pointer-events: all;
      position: relative;
      z-index: 10;
      -ms-appearance: none;
      width: $input-height;
      height: $input-height;
      border-radius: $input-border-radius;
      border: 0;
      background-image: linear-gradient(to bottom, lighten($input-thumb-color,60%) 0, $input-thumb-color 100%); /* W3C */
    }
    
    input[type=range]::-moz-range-track {
      position: relative;
      z-index: -1;
      background-color: rgba(0, 0, 0, 1);
    //background-color: green;
      border: 0;
    }
    
    input[type=range]:last-of-type::-moz-range-track {
      -moz-appearance: none;
      background: none transparent;
      border: 0;
    } 
    
    input[type=range]::-moz-focus-outer {
      border: 0;
    }
    
  }
  
  section.range-slider {
    @include range-slider(300px, 300px, 50px, #F1EFEF, #413F41, left);
  }
  
// .tablink {
//     background-color: #555;
//     color: white;
//     float: left;
//     border: none;
//     outline: none;
//     cursor: pointer;
//     padding: 14px 16px;
//     font-size: 17px;
//     width: 25%;
//     height: 100%;
//     margin: 0;
//     font-family: Arial;
// }

// .tablink:hover {
//     background-color: #777;
// }

// /* Style the tab content (and add height:100% for full page content) */
// .tabcontent {
//     color: white;
//     // display: none;
//     padding: 100px 20px;
//     height: 100%;
// }
.anyClass {
    height:150px;
    overflow-y: scroll;
  }
  
.player {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    background: #7a419b;
    height: 300px;
    background: linear-gradient(90deg, #232526 0%, #414345 100%);
    background-size: cover;
    align-items: center;
    justify-content: center;
    max-width: 750px;
    border: 5px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    position: relative;
    font-size: 0;
    overflow: hidden;
  }
  *,
*:before,
*:after {
  box-sizing: inherit;
}
  /* This css is only applied when fullscreen is active. */
  .player:fullscreen {
    border-width: 0;
    max-width: none;
    width: 100%;
  }
  
  .player:-webkit-full-screen {
    border-width: 0;
    max-width: none;
    width: 100%;
  }
  
  .player__video {
    width: 100%;
  }
  
  .player__button {
    background: none;
    border: 0;
    line-height: 1;
    color: white;
    text-align: center;
    outline: 0;
    padding: 0;
    cursor: pointer;
    max-width: 50px;
  }
  
  .player__button:focus {
    border-color: #b8db92;
  }
  
  .player__slider {
    width: 10px;
    height: 30px;
  }
  
  .player__controls {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(100%) translateY(-5px);
    transition: all 0.3s;
    flex-wrap: wrap;
    background: rgba(255, 255, 255, 0.1);
  }
  
  .player:hover .player__controls {
    transform: translateY(0);
  }
  
  .player:hover .progress {
    height: 15px;
  }
  
  .player__controls > * {
    flex: 1;
  }
  
  .progress {
    flex: 10;
    position: relative;
    display: flex;
    flex-basis: 100%;
    height: 5px;
    transition: height 0.3s;
    background: rgba(255, 255, 255, 0.5);
    cursor: ew-resize;
  }
  
  .progress__filled {
    width: 50%;
    background: #b8db92;
    flex: 0;
    flex-basis: 50%;
  }
  
  /* unholy css to style input type="range" */
  
  input[type="range"] {
    -webkit-appearance: none;
    background: transparent;
    width: 100%;
    margin: 0 5px;
  }
  
  input[type="range"]:focus {
    outline: none;
  }
  
  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
    background: rgba(255, 255, 255, 0.3);
    border-radius: 1.3px;
    border: 0.2px solid rgba(1, 1, 1, 0);
  }
  
  input[type="range"]::-webkit-slider-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background: #b8db92;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3.5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  }
  
  input[type="range"]:focus::-webkit-slider-runnable-track {
    background: rgba(213, 255, 168, 0.4);
  }
  
  input[type="range"]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
    background: #ffffff;
    border-radius: 1.3px;
    border: 0.2px solid rgba(1, 1, 1, 0);
  }
  
  input[type="range"]::-moz-range-thumb {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background: #b8db92;
    cursor: pointer;
  }
  
  #video-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    display: block;
    // margin: 100px auto;
    width: 640px;
    height: auto;
    background: #cdcecf;
    border-radius: 10px;
    border-bottom: 3px solid #222f3d;
  }
  #video-container #video {
    margin: 0;
    padding: 0;
    border-radius: 10px 10px 0 0;
    background: #000;
  }
  #video-container #controls {
    display: flex;
    margin: 0;
    padding: 5px 10px 10px 10px;
  }
  #video-container #controls #seeker {
    flex: 1;
    border-radius: 0 10px 10px 0;
  }
  #video-container #controls #volume {
    width: 100px;
    border-radius: 0 10px 10px 0;
  }
  #video-container #controls #play-pause {
    border-radius: 10px 0 0 10px;
  }
  #video-container #controls #mute {
    border-radius: 10px 0 0 10px;
  }
  .button {
    display: inline-block;
    margin: 0;
    padding: 2px 0 0 0;
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 16px;
    background: #ffffff;
    border: none;
    border-radius: 10px;
    border-bottom: 1px solid #707070;
    color: #34495e;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .slider {
    -webkit-appearance: none !important;
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 0 10px 0 0;
    width: 35px;
    height: 35px;
    border-radius: 0 10px 10px 0;
    background: #697573;
    background-image: linear-gradient(
      to top, 
      #bfbfbf,
      #bfbfbf 45%,
      #857d7d 45%,
      #857d7d 55%,
      #bfbfbf 55%
      );
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: #ffffff;
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }
  span#close_button {
    position: absolute;
    right: -4px;
    text-decoration: none;
    top: calc(50% - 163px);
    background: white;
    padding: 5px 9px;
    border-radius: 50%;
    font-size: 10px;
    z-index: 99;
    border: 2px solid #92d3f1;
    cursor: pointer;
    margin-top: -50px;
}
span#close_button a {
    background: white;
    text-decoration: none;
    color: #75c7ec;
    font-size: 10px;
    font-weight: 600;
}
span#close_button:hover {
    transform: rotate(360deg);
    border: 2px solid #046694;
    transition: all 200ms ease-in-out;
}
.top-10 {
    padding-top: 10px;
}
.well {
    min-height: 20px;
    padding: 15px;
}
.nav-tabs .nav-item .nav-link.active{
    border-bottom: 4px solid #f55753;
}
.nav-tabs{
    border-bottom: none;
    background-color: white;
    border:none;
}

.myselect{
    text-align:center; 
    height: 41%;
     display: block;
    width: 150%;
   height: 34px;
    font-size: 14px;
     line-height: 1.42857143;
     color: #555;
     background-color: #fff;
                                                                 
     border: 1px solid #ccc;
                                                                
     -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
     box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
     transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
  #navTabs{
    margin-top:  16px;    border-bottom: none; background-color: white;
    border:none;
  }
  #tab-contenttop{
    border: none;
    margin: 10px;
  }
  #Activeuser{
    float:right; color:black;     padding-left: 640px;
  }
  #myActiveBtn{
    color:  black;  margin-top: -40px;margin-right: 10px;
  }
  #myForm{
    margin-left: -25px;
  }
  #well-class{
    height: 100px;
    padding-left: 10px; margin-bottom:5px;
  }
  #clearfix{
    margin-left: -35px;
    margin-right: -10px;
  }

  #nav-liStyle{
    border-bottom: 1px solid;
    width: 100%;
    display: inline-block;
    border: none;
}
#active-tab{
     // border-bottom: 1px solid;
    float: left;
    margin-bottom: 0px;
     
}
.anyClass {
    height:150px;
    overflow-y: scroll;
    padding: 10px;
    
  }
  #border-style{
      border-bottom: none;
  }
  .zoom {
   
    transition: transform .2s;
   
    margin: 0 auto;
}

.zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  
}
/* Labels for checked inputs */
input:checked + label {
  color: red;
}

/* Radio element, when checked */
input[type="radio"]:checked {
  //box-shadow: 0 0 0 5px orange;
  cursor: pointer;
}
.red {
  background: #d36764
  }
    .dropdown-menu .titleList {
      display: inline-block;
      width: 100%;
      cursor: pointer;
      padding: 12px 15px;
      border-bottom: 1px solid gainsboro;
  }
  .actionTitle:hover .dropdown-menu{
      display: block;
      left: initial;
      right: 0;
  }
  .dropdown.actionTitle {
      float: right;
      display: inline-block;
  }
  .dropdown.actionTitle .dropdown-menu:before {
      left: initial;
      right: 30px;
  }
  .dropdown-menu .titleList:hover {
    background: #ccc
  }
  
  .m-img-upload-btn{
    position: relative;
    padding: 0;
    width: calc(100% - 30px);
    height: 38px;
    cursor: pointer;
    top: 45px;
    opacity: 0;
}
.images-container{
    width: 100%;
    top: 15px;
    border: 2px dashed #ccc;
    background: rgb(241, 241, 241);
    min-height: 165px;
    padding: 10px;
    display: block;
    .m-image-wrapper{
        position: relative;
        display: inline-block;
        margin: 10px;
        width: 120px;
        height: 120px;
        .m-delete-img{
            position: absolute;
            top: 8px;
            right: 10px;
            border: 2px solid #fff;
            color: #fff;
            padding: 3px 5px;
            border-radius: 50%;
            visibility: hidden;
            cursor: pointer;
        }
        &:hover .m-delete-img{
            visibility: visible;
        }
        img{
           width: 120px;
           height: 120px;          
        }
    }   
}

.img-upload-btn{
    position: absolute;
    padding: 0;
    width: calc(100% - 30px);
    height: 38px;
    opacity: 0;
}

.image-wrapper{
    position: relative;
    .delete-img{
        position: absolute;
        top: 8px;
        right: 89px;
        border: 2px solid #fff;
        color: #fff;
        padding: 3px 5px;
        border-radius: 50%;
        visibility: hidden;
        cursor: pointer;
    }
    &:hover .delete-img{
        visibility: visible;
    }
}
