<div class="col-xs-12 bottom-15 pl-0 pr-0 each-page-content">
    <div widget class="card col-xs-12 zeroPadding float-left">
        <div class="card-header custom-style-header" style="height: 50px">
            <div class="row ">
                <div>
                    <label class="label-control" (click)="refresh()" style="margin: 9px 0px 0px 30px;font-size: large; cursor: pointer;">Search
                        Preferences</label>
                </div>
                <button style="margin: -20px 47px 0px 0px;" disabled class="btn btn-primary buttonCus pull-right"
                    data-toggle="modal" data-target="#addFilter">Add</button>
            </div>
        </div>
        <div class="table-block card-block widget-body">
            <div class="container-fluid pl-0 pr-0">
                <div class="col-xs-12 col-md-12 col-lg-12 pl-0 pr-0">
                    <div class="modal-body">

                        <div class="clearfix">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 ">
                                    <div widget class="card">
                                        <div class="table-responsive" id="table-responsive">
                                            <table class="table">
                                                <thead class="thead">
                                                    <tr>
                                                        <th style="width: 6%;text-align: center">#</th>
                                                        <th style="width: 15%;text-align: center">Question</th>
                                                        <th style="width: 15%;text-align: center">Type</th>
                                                        <th style="width: 15%;text-align: center">Values</th>
                                                        <th style="width: 13%;text-align: center">Unit </th>
                                                        <th style="width: 15%;text-align: center">Is Mandatory</th>
                                                        <th style="width: 15%;text-align: center">Re-order</th>
                                                        <th style="width: 30%;text-align: center" class="thAction">
                                                            Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngIf="msg">
                                                        <td colspan="7">No data found</td>
                                                    </tr>
                                                    <tr style="text-align: center"
                                                        *ngFor="let dt of data | paginate: { itemsPerPage: rowsOnPage, currentPage: p}; let i = index"
                                                        [attr.data-index]="i">
                                                        <td scope="row">{{i+1}}</td>
                                                        <td>{{dt.PreferenceTitle}}</td>
                                                        <td *ngIf="dt.TypeOfPreference == '1'">Radio Buttons</td>
                                                        <td *ngIf="dt.TypeOfPreference == '2'">Checkbox</td>
                                                        <td *ngIf="dt.TypeOfPreference == '3'">Slider</td>
                                                        <td *ngIf="dt.TypeOfPreference == '4'">Range</td>
                                                        <td *ngIf="dt.TypeOfPreference == '5'">Text-box</td>
                                                        <td *ngIf="dt.TypeOfPreference == '10'">Drop down</td>
                                                        <td *ngIf="dt.TypeOfPreference == '7'">Date</td>
                                                        <!-- <td *ngIf="dt.type == '5'">{{dt.options[0]}}</td> -->
                                                        <!-- <td *ngFor="let option of dt.options">{{ option.join(', ') }}</td> -->
                                                        <td><span *ngFor="let option of dt.OptionsValue">{{option}},
                                                            </span>
                                                        </td>
                                                        <td *ngIf="!dt.optionsUnits">N/A</td>
                                                        <td *ngIf="dt.optionsUnits"><span
                                                                *ngFor="let option of dt.optionsUnits">{{option}},
                                                            </span>
                                                        </td>
                                                        <td *ngIf="dt.mandatory == true">Yes</td>
                                                        <td *ngIf="dt.mandatory == false">No</td>
                                                        <td>
                                                            <div class="btn-hover" *ngIf="i == 0">
                                                                <button class="button-cust" style="padding-left: 0px;padding-right: 0px;"
                                                                    type="button" disabled>
                                                                    <span class="glyphicon glyphicon-arrow-up fa-lg"></span>
                                                                </button>
                                                            </div>
                                                            <div class="btn-hover" *ngIf="i != 0">
                                                                <button class="button-cust" style="cursor: pointer;padding-left: 0px;padding-right: 0px;"
                                                                    type="button" (click)="gotoUpArrow(i)">
                                                                    <span class="glyphicon glyphicon-arrow-up fa-lg"></span>
                                                                </button>
                                                            </div>
                                                            <div class="btn-hover" *ngIf="i == data.length - 1">
                                                                <button class="button-cust" style="padding-left: 0px;padding-right: 0px;"
                                                                    type="button" disabled>
                                                                    <span class="glyphicon glyphicon-arrow-down fa-lg"></span>
                                                                </button>
                                                            </div>
                                                            <div class="btn-hover" *ngIf="i != data.length - 1">
                                                                <button class="button-cust" style="cursor: pointer;padding-left: 0px;padding-right: 0px;"
                                                                    type="button" (click)="gotoDownArrow(i)">
                                                                    <span class="glyphicon glyphicon-arrow-down fa-lg"></span>
                                                                </button>
                                                            </div>
                                                        </td>
                                                        <td *ngIf="btnFlag">
                                                            <button type="button" class="btn-cust fa-2x"
                                                                style="color:  red;" disabled title="Delete"
                                                                (click)="gotoDeleteFilter(dt._id)">
                                                                <i class="ion-android-delete fa-2x"
                                                                    style="cursor: pointer;"></i>
                                                            </button>
                                                            <button type="button" class="btn-cust fa-2x"
                                                                data-toggle="modal" disabled data-target="#editFilter"
                                                                style="color:  dodgerblue;" title="Edit"
                                                                (click)="gotoEditData(dt)">
                                                                <i class="ion-edit fa-2x" style="cursor: pointer;"></i>
                                                            </button>
                                                        </td>

                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td colspan="100">
                                                            <pagination-controls (pageChange)="p = $event"
                                                                class="cursor-pointer float-right">
                                                            </pagination-controls>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                            <!-- <pagination-controls (pageChange)="getSubcriptionDetails($event)" class="cursor-pointer float-right"></pagination-controls> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="addFilter" tabindex="-1" role="dialog" aria-labelledby="modal-label"
    style="display: none;padding-top: 0%;">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="top: 20px;">
            <div class="modal-header">
                Add Preference
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="modal-label"></h4>
            </div>
            <form [formGroup]="filter" (ngSubmit)="submitForm(filter)">
                <fieldset>
                    <div class="modal-body">
                        <div class="form-group col-xs-12 zeroPadding">
                            <label for="input-2" class="col-xs-3 control-label">Preference Title</label>
                            <div class="col-xs-9">
                                <input type="text" class="form-control checking-field"
                                    placeholder="Enter Preference Title and special charector not allow"
                                    name="titileLable" [formControl]="filter.controls['titileLable']"
                                    [ngModel]="filter.titileLable" pattern="^[a-zA-Z\d\-_\s]+$">

                                <div *ngIf="filter.controls['titileLable'].errors && (filter.controls['titileLable'].dirty || filter.controls['titileLable'].touched)"
                                    class="alert alert-danger">
                                    <div [hidden]="!filter.controls['titileLable'].errors.required">
                                        Preference Title Name is Required
                                    </div>
                                    <div [hidden]="!filter.controls['titileLable'].errors.pattern">
                                        Enter valid Preference Title Special chatector not allow
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 zeroPadding" *ngFor="let dd of langData">
                            <label for="input-2" class="col-xs-3 control-label">Enter Preference Title
                                In({{dd.name}})</label>
                            <div class="col-xs-9">
                                <input type="text" class="form-control checking-field"
                                    placeholder="Enter Preference Title In {{dd.name}}" name="fieldName"
                                    [formControl]="filter.controls['titleNameOther']" [ngModel]="filter.titleNameOther"
                                    [ngClass]="'addtitle'+dd.langId" required>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 zeroPadding">
                            <label class="col-lg-3">Type</label>
                            <div class="col-lg-6">
                                <select style="height: 10%;" class="form-control input-sm typeVal"
                                    [formControl]="filter.controls['type']" (change)="checkValues(abc.value)" #abc>
                                    <option value="" disabled selected>Select Type</option>
                                    <option value="1">Radio Buttons</option>
                                    <option value="3">Single Slider</option>
                                    <option value="4">Double Slider</option>
                                </select>
                            </div>
                        </div>
                        <div id="addDiv">
                            <div class="form-group col-xs-12 zeroPadding">
                                <label for="input-2" class="col-xs-3 control-label">Preference Min/Max Values</label>
                                <div class="col-xs-9">
                                    <input type="text" class="form-control checking-field values"
                                        placeholder="Enter Min/Max values comma(,) seprated" name="values"
                                        [formControl]="filter.controls['values']" [ngModel]="filter.values">
                                </div>
                            </div>

                            <div class="form-group col-xs-12 zeroPadding" *ngFor="let dd of langData">
                                <label for="input-2" class="col-xs-3 control-label">Preference Min/Max Values
                                    ({{dd.name}})</label>
                                <div class="col-xs-9">
                                    <input type="text" class="form-control checking-field"
                                        placeholder="Enter Min/Max values in ({{dd.name}}) comma(,) seprated"
                                        name="values" [formControl]="filter.controls['valuesOther']"
                                        [ngModel]="filter.valuesOther" [ngClass]="'addValues'+dd.langId">
                                </div>
                            </div>
                        </div>
                        <div id="addunit">
                            <div class="form-group col-xs-12 zeroPadding ">
                                <label class="col-lg-3">Unit</label>
                                <div class="col-lg-6">
                                    <select style="height: 10%;" class="form-control input-sm typeVal"
                                        [formControl]="filter.controls['unit']">
                                        <option value="" style="text-align: center">-- Select Unit--</option>
                                        <option value="ftcm"> ft,cm</option>
                                        <option value="kmmi"> km,mi</option>
                                        <option value="mi">mi</option>
                                        <option value="pound">pound</option>
                                        <option value="kg">kg</option>
                                        <option value="km">km</option>
                                        <option value="ft">ft</option>
                                        <option value="cm">cm</option>
                                        <option value="years">years</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 zeroPadding">
                            <label class="col-lg-3">Is Mandatory</label>
                            <div class="col-lg-6">
                                <input type="checkbox" checked [formControl]="filter.controls['isMandatory']"
                                [ngModel]="isMandatory" id="mandVal" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="float-right" style="margin: 13px 0 0 73px;">
                                <button type="submit" class="btn btn-primary btn-sm btn-style"
                                    style="height: 30px; width: 80px;  background-color:green;"
                                    [disabled]="!filter.valid">Submit</button>
                                <button type="button" class="btn  btn-style button3" data-dismiss="modal"
                                    style="border: 1px solid #7f7f7f; height: 30px;width: 80px; padding:0px;">Close</button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="editFilter" role="dialog" aria-labelledby="modal-label" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="top: -140px;">
            <div class="modal-header text-transform">
                Edit Preferences
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="modal-label"></h4>
            </div>
            <form [formGroup]="editFilter" (ngSubmit)="editFilterFunc(editFilter)">
                <div class="modal-body">
                    <div class="form-group col-xs-12 zeroPadding">
                        <label for="input-2" class="col-lg-3">Enter Preference Title:</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control checking-field"
                                placeholder="Enter Title and special charector not allow"
                                [formControl]="editFilter.controls['newtitileLable']" [(ngModel)]="obj.PreferenceTitle"
                                pattern="^[a-zA-Z\d\-_\s]+$">
                            <div *ngIf="editFilter.controls['newtitileLable'].errors && (editFilter.controls['newtitileLable'].dirty || editFilter.controls['newFieldName'].touched)"
                                class="alert alert-danger">
                                <div [hidden]="!editFilter.controls['newtitileLable'].errors.required">
                                    Preference Title is required
                                </div>
                                <div [hidden]="!editFilter.controls['newtitileLable'].errors.pattern">
                                    Enter valid Preference Title Special chatector not allow
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-xs-12 zeroPadding" *ngFor="let dd of langData">
                        <label for="input-2" class="col-lg-3">Preference Title In ({{dd.name}}):</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control checking-field eField"
                                placeholder="Enter Preference Title In {{dd.name}}" [ngClass]="'editTitle'+dd.langId"
                                required>

                        </div>
                    </div>

                    <!-- ---------------------------------------------------------------------------------------------------- -->

                    <div class="form-group col-xs-12 zeroPadding">
                        <label class="col-lg-3">Type</label>
                        <div class="col-lg-6">
                            <select style="height: 10%;" class="form-control input-sm"
                                [formControl]="editFilter.controls['newtype']" 
                                (change)="checkValues(xyz.value)" #xyz>
                                <option value="1">Radio Buttons</option>
                                <option value="3">Single Slider</option>
                                <option value="4">Double Slider</option>
                            </select>
                        </div>

                    </div>
                    <div id="editDiv">
                        <div class="form-group col-xs-12 zeroPadding">
                            <label for="input-2" class="col-xs-3 control-label">Preference Min/Max Values</label>
                            <div class="col-xs-9">
                                <input type="text" class="form-control checking-field editValues"
                                    placeholder="Enter Min/Max values comma(,) seprated" name="values"
                                    [formControl]="editFilter.controls['newvalues']" [(ngModel)]="obj.OptionsValue">

                            </div>
                        </div>

                        <div class="form-group col-xs-12 zeroPadding" *ngFor="let dd of langData">
                            <label for="input-2" class="col-xs-3 control-label">Preference Min/Max Values In
                                ({{dd.name}})</label>
                            <div class="col-xs-9">
                                <input type="text" class="form-control checking-field eValues"
                                    placeholder="Enter Min/Max values comma(,) seprated In In {{dd.name}}"
                                    [ngClass]="'editValues'+dd.langId">
                            </div>
                        </div>
                    </div>
                    <div id="editunit">
                        <div class="form-group col-xs-12 zeroPadding unit">
                            <label class="col-lg-3">Unit</label>
                            <div class="col-lg-6">
                                <select style="height: 10%;" class="form-control input-sm typeVal"
                                    [formControl]="editFilter.controls['newunit']">
                                    <option value="" style="text-align: center">-- Select Unit--</option>
                                    <option value="ftcm"> ft,cm</option>
                                    <option value="kmmi"> km,mi</option>
                                    <option value="mi">mi</option>
                                    <option value="pound">pound</option>
                                    <option value="kg">kg</option>
                                    <option value="km">km</option>
                                    <option value="ft">ft</option>
                                    <option value="cm">cm</option>
                                    <option value="years">years</option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 zeroPadding">
                        <label class="col-lg-3">Is Mandatory</label>
                        <div class="col-lg-6">
                            <input type="checkbox"  name="sadf"
                                [formControl]="editFilter.controls['newisMandatory']" [(ngModel)]="isMan" />
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <div class="float-right">
                        <button type="submit" class="btn btn-primary btn-sm btn-style"
                            style="height: 30px; width: 80px;  background-color:green;"
                            [disabled]="!editFilter.valid">Update</button>
                        <button type="button" class="btn  btn-style button3" data-dismiss="modal"
                            style="border: 1px solid #7f7f7f; height: 30px;width: 80px; padding:0px;">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>