
  <div class="clearfix">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" (click)="backToUsers()" style="font-size:18px; color: #4B6674;
        font-weight: bold;">Compaign</li>
      <li  class="breadcrumb-item active" style="color:#4F7942;">Targeted Users</li>
     <!-- <li>
        <div class="pull-right"><button  class="btn btn-primary btn-sm" (click)="backToUsers()"   style="background-color: black; border-radius: 5px;"  >Back</button></div>
      </li> -->
     
    </ol>
  </div>


  <div id="loaderCustom" *ngIf="loader"></div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">
    <div widget class="card">
     

      <div class="col-xs-3 pr-0 zeroPadding">
          <select id="rowpage" [(ngModel)]="rowsOnPage" (change)="ngOnInit();" style="width: 50px;
                height: 35px;
                border-radius: 10px;
                background-color: white;">
                        <option [ngValue]="10">10</option>
                        <option [ngValue]="20">20</option>
                        <option [ngValue]="40">40</option>
                        <option [ngValue]="100">100</option>
                    </select>
          <label class="label-control">Records Per Page</label>
      </div>
     
      
      <div class="table-responsive" id="myTable">
        <table class="table table-bordered hover"  >
          <thead>
            
            <tr>
                
              <th style="text-align: center">#</th>
              <th style="text-align: center">USER NAME</th>
              <th style="text-align: center">VIEW ON</th>
              <th style="text-align: center">CLICK ON</th>
            
            
            </tr>
          </thead>
          <!-- <td *ngIf="nosearchdata">
          <div  class="card-block widget-body" *ngFor="let user of users"  >
          No data available 
        </div>
      </td>  -->
          <tbody>
                 <tr *ngIf="!data">
                    <td colspan="13" style="text-align: center">No Data Found</td>
                  </tr> 
                  
            <tr *ngFor="let user of data   | paginate: {itemsPerPage: rowsOnPage, currentPage:page};  let i = index ">
                  
             
             
                <td     >{{i + 1}}</td>
                <td > 
                    <button type="button" class="btn btn-link" (click)="userDetailsModal(user)" data-toggle="modal" data-target="#userDetails" style="font-size: 12px;">
                        {{user.firstName}}
                      </button>
                  
                  
                 </td>
                
                    <td >   {{user.startDate | date:"short"}}</td>
                    <td >   {{0}}</td>
              
          
            </tr>
          </tbody>
        </table>
        <pagination-controls *ngIf="data" (pageChange)="page = $event" maxSize="6" directionLinks="true" autoHide="true"  class="myPage">
        </pagination-controls>
      </div>
    </div>
  </div>
  <div id="userDetails" class="modal modal-custom fade" role="dialog" >
      <div class="modal-dialog">
         <div class="modal-content modal-content-custom">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button> 
                <h4 class="modal-title" > User Details</h4>
            </div>
                 <form [formGroup]="userDetailForm" novalidate >
                    <div class="col-lg-12 col-xs-12 bottom-15">
                        
                        <div class="tab-content top">
                          <div class="tab-pane active" id="Profile_Details">
                              <div class="modal-body ">
                                <div class="col-md-12 col-lg-12" >

          
                
                <img src="{{userDetails.ProfilePhoto}}" style="height: 100px;width: 100px; border-radius:100%;     margin-left: 140px;
                " >
              </div>
            
              <div class=" col-md-12 col-lg-12 " style="margin-top: 30px;">
                 <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Name :</td>
                        <td>{{userDetails.Name}}</td>
                      </tr>
                      <tr>
                        <td> Phone No :</td>
                        <td>{{userDetails.PhoneNo}}</td>
                      </tr>
                      <tr>
                        <td>Email : </td>
                        <td>{{userDetails.Email}}</td>
                     </tr>
                   
                     <tr>
                        <td>Gender</td>
                        <td>{{userDetails.Gender}}</td>
                      </tr>
                     
                      <tr>
                        <td>Registered From ( City / Country )</td>
                        <td>{{userDetails.RegisteredFrom}}</td>
                      </tr>
                      </tbody>
                  </table>
              </div>
            </div> 
            </div>
         
            
            </div>
          </div>
        </form>

      </div>
    </div>
  </div> 


           
       