<html>

<head>
  <title>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="clearfix">
    <div >
      <ol class="breadcrumb" id="breadcumb">
        <li (click)="refresh()" class="breadcrumb-item active">Subscription Logs</li>
      </ol>
    </div>
    <!-- </div> -->
    <div class="col-lg-12 col-xs-12 bottom-15" style="bottom: 20px;">
      <div class="clearfix">
        <ul class="nav nav-tabs top pull-xs-left" style="margin-top:  16px;  border-bottom: none;">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" (click)="getSubcriptionDetails(1)" href="#Active">Active</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" (click)="getExpiredSubcriptionDetails(1)" href="#Deleted">Expired</a>
          </li>
        </ul>
      </div>
      <div class="tab-content top" id="tab-contenttop">
        <div class="tab-pane active" id="Active">
          <div class="modal-body" style="height: 500px;">
            <form name="ActivePlan">
              <div class="row ">
                <div class="form-group  col-md-12">
                  <label>Search</label>
                  <input type="text" class="form-control form-control-sm" #mySubcriptionInput (keyup)="gotoSearchSubcription(mySubcriptionInput.value)"
                    placeholder="Seach by User Name, Plan Name" formControlName="search" />
                </div>
              </div>
            </form>
            <div class="clearfix">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 ">
                  <div widget class="card">
                    <div class="table-responsive" id="table-responsive">
                      <table class="table table-bordered hover">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th> USER NAME </th>
                            <th>PURCHASE DATE </th>
                            <th> PLAN NAME </th>
                            <th> COST </th>
                            <th>PAYMENT GATEWAY </th>
                            <th>PAYMENT GATEWAY TxnId </th>
                            <th>STATUS</th>
                          </tr>
                        </thead>
                        <tbody id="table-align">
                          <tr *ngIf="!SubcriptionData">
                            <td colspan="8">No Data Found</td>
                          </tr>
                          <tr *ngFor="let subcription of SubcriptionData  | paginate: {itemsPerPage:rowsOnPage, currentPage:p,totalItems:totalusers }; let i = index"
                            [attr.data-index]="i">
                            <td>{{i+1}}</td>
                            <td>{{subcription.subscriptionUserName}}</td>
                            <td>{{subcription.purchaseDate | date:'medium'}}</td>
                            <td>{{subcription.planName}} </td>
                            <td>{{subcription.currencySymbol}}{{subcription.cost}}</td>
                            <td>{{subcription.paymentGateway}}</td>
                            <td>{{subcription.paymentGatewayTxnId}}</td>
                            <td id="capital">{{subcription.status}}</td>
                          </tr>
                        </tbody>
                      </table>
                      <pagination-controls (pageChange)="getSubcriptionDetails($event)" class="cursor-pointer float-right"></pagination-controls>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane " id="Deleted">
          <form name="ActivePlan">
            <div class="row ">
              <div class="form-group  col-md-12">
                <label>Search</label>
                <input type="text" class="form-control form-control-sm" #myExpiredSubInput (keyup)="gotoSearchExpiredSubcription(myExpiredSubInput.value)"
                  placeholder="Seach by User Name, Plan Name" formControlName="search" />
              </div>
            </div>
          </form>
          <div class="clearfix">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">
                <div widget class="card">
                  <div class="table-responsive" id="table-responsive">
                    <table class="table table-bordered hover">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th> USER NAME </th>
                          <th>PURCHASE DATE </th>
                          <th> PLAN NAME </th>
                          <!-- <th>COST</th> -->
                          <th>PAYMENT GATEWAY </th>
                          <th>PAYMENT GATEWAY TxnId </th>
                          <th>STATUS</th>
                        </tr>
                      </thead>
                      <tbody id="table-align">
                        <tr *ngIf="!deleteSubcriptionData">
                          <td colspan="8">No Data Found</td>
                        </tr>
                        <tr *ngFor="let exsubcription of deleteSubcriptionData |paginate: {itemsPerPage:rowsOnPage, currentPage:p,totalItems:totalusers }; let i = index"
                          [attr.data-index]="i">
                          <td>{{i+1}}</td>
                          <td>{{exsubcription.subscriptionUserName}} </td>
                          <td>{{exsubcription.purchaseDate | date:'medium'}}</td>
                          <td>{{exsubcription.planName}} </td>
                          <!-- <td>{{exsubcription.currencySymbol}}{{exsubcription.cost}}</td> -->
                          <td>{{exsubcription.paymentGateway}}</td>
                          <td>{{exsubcription.paymentGatewayTxnId}}</td>
                          <td id="capital">{{exsubcription.status}}</td>
                        </tr>
                      </tbody>
                    </table>
                    <pagination-controls (pageChange)="getExpiredSubcriptionDetails($event)" class="cursor-pointer float-right"></pagination-controls>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>