<div class="clearfix">
    <ol class="breadcrumb">
        <li class="breadcrumb-item " (click)="backToUsers()">Users</li>
        <li class="breadcrumb-item active">Device Logs</li>
        <div class="pull-right">
            <button class="btn btn-primary btn-sm" (click)="backToUsers()">Back to Users</button>
        </div>
    </ol>


</div>
<!-- <div id="loaderCustom" *ngIf="loader"></div> -->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">
    <div widget class="card">

        <div class="table-responsive" id="table-responsive">
            <table class="table table-bordered hover">
                <thead>
                    <tr>
                        <th>S.NO</th>
                        <th>DEVICE NAME</th>
                        <th>DEVICE ID</th>
                        <th>DEVICE OS</th>
                        <th>DEVICE TYPE</th>
                        <th>MODEL NUMBER</th>
                        <th>APP VERSION</th>
                        <th>LAST LOGIN</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngIf="!data">
                        <td colspan="8">No Data Found</td>
                    </tr>

                    <tr *ngFor="let device of data  |  paginate: { itemsPerPage: rowsOnPage, currentPage: p }; let i = index" [attr.data-index]="i">
                        <td>{{i+1}}</td>
                        <td *ngIf="device.deviceMake == null"> N/A </td>
                        <td *ngIf="device.deviceMake != null"> {{device.deviceMake}}</td>
                        <td *ngIf="device.deviceId == null"> N/A </td>
                        <td *ngIf="device.deviceId != null">{{device.deviceId}}</td>
                        <td *ngIf="device.deviceOs==''"> N/A </td>
                        <td *ngIf="device.deviceOs != ''">{{device.deviceOs}}</td>
                        <td *ngIf="device.DevicetypeMsg == null"> N/A </td>
                        <td *ngIf="device.DevicetypeMsg != null">{{device.DevicetypeMsg}}</td>
                        <td *ngIf="device.deviceModel == ''"> N/A </td>
                        <td *ngIf="device.deviceModel != ''">{{device.deviceModel}}</td>
                        <td *ngIf="device.appVersion == ''"> N/A </td>
                        <td *ngIf="device.appVersion != ''">{{device.appVersion}}</td>
                        <td *ngIf="device.lastOnline == null"> N/A </td>
                        <td *ngIf="device.lastOnline != null">{{device.lastOnline | date:"medium"}}</td>
                    </tr>

                </tbody>
            </table>
            <pagination-controls (pageChange)="p = $event" class="cursor-pointer float-right"></pagination-controls>

        </div>
    </div>
</div>