
<html>

    <head>
        <title>
        </title>
    
    </head>
    
    <body>
        <div class="clearfix">
            <div>
                <ol class="breadcrumb" id="breadcumb">
                    <li (click)="refresh()" class="breadcrumb-item active">App Version</li>
                </ol>
            </div>
            <!-- </div> -->
            <div class="col-lg-12 col-xs-12 bottom-15" style="bottom: 20px;">
                <div class="clearfix">
                    <ul class="nav nav-tabs top pull-xs-left" style="margin-top:  16px;  border-bottom: none;">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" (click)="getVersion(1)" href="#Active">Android</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" (click)="getVersion(2)" href="#Deleted">iOs</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content top" id="tab-contenttop">
                    <div class="tab-pane active" id="Active">
                        <div class="modal-body" >
                            <form name="ActivePlan">
                                <div class="row ">
                                    <div>
                                        <button class="btn btn-info btn-md pull-right" style="margin: 0 23px 20px 0px;"
                                            (click)="addata(1)">Add</button>
                                    </div>
                                </div>
                            </form>
                            <div class="clearfix">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 ">
                                        <div widget class="card">
                                            <div  class="table-responsive" id="table-responsive">
                                                <table class="table table-bordered hover">
                                                    <thead>
                                                        <tr>
                                                            <th style="text-align: center">No</th>
                                                            <th style="text-align: center">AppVersion </th>
                                                            <th style="text-align: center">Date</th>
                                                            <th style="text-align: center">User Count</th>
                                                            <th style="text-align: center">Is Mandatory </th>
                                                            <th style="text-align: center"> Action </th>
    
                                                        </tr>
                                                    </thead>
                                                    <tbody id="table-align">
                                                        <tr *ngIf="!data">
                                                            <td colspan="8">No Data Found</td>
                                                        </tr>
                                                        <tr *ngFor="let subcription of data  ; let i = index"
                                                            [attr.data-index]="i">
                                                            <td style="text-align: center">{{i+1}}</td>
                                                            <td style="text-align: center">{{subcription.appversion}}</td>
                                                            <td style="text-align: center">{{subcription.timeStamp  | date:'medium'}}</td>
                                                            <td style="text-align: center" *ngFor="let vs of userCount" [hidden]="vs._id != subcription.appversion">{{vs.count }}</td>

                                                            <td style="text-align: center" *ngIf="subcription.isMandatory == true">Yes</td>
                                                            <td style="text-align: center" *ngIf="subcription.isMandatory == false">No</td>
                                                            <td id="test" style="text-align: center">
                                                                <!-- <button type="button" class="btn-cust fa-2x" data-toggle="modal"
                                                                    data-target="#editCategory" style="color:  dodgerblue;"
                                                                    title="Edit appVersion" (click)="editResonnce(subcription)">
                                                                    <i class="ion-edit fa-2x" style="cursor: pointer;"></i>
                                                                </button> -->
    
    
                                                                <button type="button" class="btn-cust fa-2x" style="color:  red;"
                                                                    title="Delete appVersion" (click)="showModalDelete(subcription._id)">
                                                                    <i class="ion-android-delete fa-2x" style="cursor: pointer;"></i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane " id="Deleted">
                        <form name="ActivePlan">
                            <div class="row ">
                                <div>
                                    <button class="btn btn-info btn-md pull-right" style="margin: 16px 38px 19px 0px;"
                                        (click)="addata(2)">Add</button>
                                </div>
                            </div>
                        </form>
                        <div class="clearfix">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10" style="padding: 0px 32px 0px 30px;">
                                    <div widget class="card">
                                        <div class="table-responsive"  id="table-responsive">
                                            <table class="table table-bordered hover">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align: center">No</th>
                                                        <th style="text-align: center">AppVersion </th>
                                                        <th style="text-align: center">Date</th>
                                                        <th style="text-align: center">User Count</th>
                                                        <th style="text-align: center">Is Mandatory </th>
                                                        <th style="text-align: center"> Action </th>
                                                    </tr>
                                                </thead>
                                                <tbody id="table-align">
                                                    <tr *ngIf="!data">
                                                        <td colspan="8">No Data Found</td>
                                                    </tr>
                                                    <tr *ngFor="let exsubcription of data ; let i = index"
                                                        [attr.data-index]="i">
                                                        <td style="text-align: center">{{i+1}}</td>
                                                        <td style="text-align: center">{{exsubcription.appversion}} </td>
                                                        <td style="text-align: center">{{exsubcription.timeStamp  | date:'medium'}}</td>
                                                            <td style="text-align: center" *ngFor="let vs of userCount" [hidden]="vs._id != exsubcription.appversion">{{vs.count }}</td>
                                                        <td style="text-align: center" *ngIf="exsubcription.isMandatory == true">Yes</td>
                                                        <td style="text-align: center" *ngIf="exsubcription.isMandatory == false">No</td>
                                                        <td id="test" style="text-align: center">
                                                            <!-- <button type="button" class="btn-cust fa-2x" data-toggle="modal"
                                                                data-target="#editCategory" style="color:  dodgerblue;"
                                                                title="Edit appVersion" (click)="editResonnce(exsubcription)">
                                                                <i class="ion-edit fa-2x" style="cursor: pointer;"></i>
                                                            </button> -->
    
    
                                                            <button type="button" class="btn-cust fa-2x" style="color:  red;"
                                                                title="Delete appVersion" (click)="showModalDelete(exsubcription._id)">
                                                                <i class="ion-android-delete fa-2x" style="cursor: pointer;"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    
    </html>
    
    
    <div class="modal fade" id="addResonce" role="dialog" aria-labelledby="modal-label" style="display: none;padding-top: 2%;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-transform">
                    Add App Version
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="modal-label"></h4>
                </div>
                <form [formGroup]="addResonces" ngNativeValidate (ngSubmit)="submitForm(addResonces)">
                    <div class="modal-body" style="height: 86px;">
    
                        <div class="form-group col-xs-12 required">
                            <label for="input-2" id="lableCss" class="control-label col-xs-3">App Version</label>
                            <div class="col-xs-9">
                                <input type="text" class="form-control checking-field" placeholder="Enter App Version"
                                    [formControl]="addResonces.controls['reportResonceName']" [ngModel]="addResonces.reportResonceName">
                                <div *ngIf="addResonces.controls['reportResonceName'].errors && (addResonces.controls['reportResonceName'].dirty || addResonces.controls['reportResonceName'].touched)"
                                    class="alert alert-danger">
                                    <div [hidden]="!addResonces.controls['reportResonceName'].errors.required">
                                        App Version is Required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 required">
                            <label class="col-lg-3">Is Mandatory</label>
                            <div class="col-lg-6">
                                <!-- <label class="switch col-lg-3"> -->
                                    <input type="checkbox" checked [formControl]="addResonces.controls['isMandatory']" id="mandVal"
                                        [ngModel]="isMandatory">
                                    <!-- <span class="slider round"></span> -->
                                <!-- </label> -->
                            </div>
                        </div>
    
                    </div>
                    <div class="modal-footer  ">
                        <div class="pull-right" style="text-align: center;">
                            <button type="submit" class="btn btn-primary" [disabled]="!addResonces.valid">Add</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    
    
    <div class="modal fade" id="editCategory" role="dialog" aria-labelledby="modal-label" style="display: none;padding-top: 2%;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-transform">
                    Edit App Version
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="modal-label"></h4>
                </div>
                <form [formGroup]="editResonces" ngNativeValidate (ngSubmit)="updatedReason(editResonces)">
                    <div class="modal-body" style="height: 86px;">
    
                        <div class="form-group required col-xs-12 required">
                            <label for="input-2" id="lableCss" class="control-label col-xs-3">App Version</label>
                            <div class="col-xs-9">
                                <input type="text" id="newReason" class="form-control checking-field" placeholder="Enter App Version"
                                    [formControl]="editResonces.controls['reportResonceName']" [ngModel]="obj.appversion">
                                <input type="hidden" id="newReason_id" class="form-control checking-field" placeholder="Enter App Version"
                                    [formControl]="editResonces.controls['newReason_id']" [ngModel]="editResonces.newReason_id">
                                <div *ngIf="editResonces.controls['reportResonceName'].errors && (editResonces.controls['reportResonceName'].dirty || editResonces.controls['reportResonceName'].touched)"
                                    class="alert alert-danger">
                                    <div [hidden]="!editResonces.controls['reportResonceName'].errors.required">
                                        App Version is Required
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="form-group col-xs-12 required">
                            <label class="col-lg-3">Is Mandatory</label>
                            <div class="col-lg-6">
                                <!-- <label class="switch col-lg-3"> -->
                                    <input type="checkbox" [checked]="obj.isMandatory == true" [formControl]="addResonces.controls['isMandatory']"
                                        id="mandValZ" [ngModel]="isMandatory">
                                    <!-- <span class="slider round"></span> -->
                                <!-- </label> -->
                            </div>
                        </div>
                        <br />
                        <br />
    
                    </div>
                    <div class="modal-footer  ">
                        <div class="pull-right" style="text-align: center;">
                            <button type="submit" class="btn btn-primary" [disabled]="!editResonces.valid">Update</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>