
@import "../../global.scss";

.breadcrumb-item{
      cursor:pointer;
      font-size:18px; color: #4B6674;
      font-weight: bold;
}

.top-10 {
    padding-top: 10px;
}

.nav-tabs .nav-item .nav-link.active{
    border-bottom: 4px solid #f55753;
}
.nav-tabs{
    border-bottom: none;
    background-color: white;
    border:none;
}
.tab-content{
    border: none;
}
#nav-liStyle{
    border-bottom: 1px solid #ddd;
    width: 100%;
    display: inline-block;
    color: black;
}

.anyClass {
    height:150px;
    overflow-y: scroll;
    padding: 10px;
  }
